    <mc:tpl file="Public/header" />
<div class="bm cl" id="path">
    <div class="z"><a title="" class="nvhm" href="./">Zlb</a><em></em><a href="#">卖家中心</a><em></em><a href="{:U('index')}">评价管理</a>
    </div>
</div>
<!--container begin-->
<div class="ct2_a wp cl" id="container">
    <include file="sidebar" />
    <!--mainer begin-->
    <div id="mainer" class="mainer cl">
        <div class="tabs-wrap">
            <ul class="nav nav-tabs mbm">
                <li <empty name="result">class="active"</empty>><a href="{:U('index', array('role'=>$role, 'rate_type'=>$rate_type))}">全部</a></li>
                <li <eq name="result" value="good">class="active"</eq>><a href="{:U('index', array('role'=>$role, 'rate_type'=>$rate_type, 'result'=>'good'))}">好评</a></li>
                <li <eq name="result" value="neutral">class="active"</eq>><a href="{:U('index', array('role'=>$role, 'rate_type'=>$rate_type, 'result'=>'neutral'))}">中评</a></li>
                <li <eq name="result" value="bad">class="active"</eq>><a href="{:U('index', array('role'=>$role, 'rate_type'=>$rate_type, 'result'=>'bad'))}">差评</a></li>
                <li class="ml10"><button class="btn btn-primary" onclick="location.href='/desktop.php?mod=article&do=add&catid='"><span>新建</span></button></li>
            </ul>
        </div>
        <div id="listbody" class="posr">
            <form id="moderate" autocomplete="off" action="" method="post">
            <table class="table" >
            	<thead>
                	<tr>
                    	<th width="50" align="center">评价</th>
                        <th>内容</th>
                    	<th width="150" align="center">评价人</th>
                        <th width="200" align="center">宝贝信息</th>
                	</tr>
            	</thead>
            	<tbody id="doc_content">
                <volist name="rates" id="rate">
                	<tr id="{$rate['oid']}">
                    	<td align="center">
                    		<input onclick="tmodclick(this)" type="checkbox" name="moderate[]" value="{$rate['oid']}" /><br />
                        	<img src="{:C('IMG_PATH')}rank/{$rate['result']}.gif" alt="{$rate['result']}" /><br />
                        	<neq name="rate.valid_score" value="1"><span class="xg1">[不计分]</span></neq>
                    	</td>
                    	<td >
                            <span><a href="/desktop" id="1" class="xi2" onclick="popUp.view(this);return false; ">{$rate['content']}</a></span><br />
                            <span class="art-addtime">[{$rate['created']}]</span>
                    	</td>
                    	<td class="span3">
                            <span class="xs2"><a href="http://rate.taobao.com/rate.htm?user_id={$users[$k]['user_id']}" target="_blank" title="查看买家所有评价">{$rate['nick']}</a></span>
                            {:msg_path($rate['nick'], 1)}
                            <a href="{:U('Trade/index', array('type'=>0, 'keyword'=>urlencode($rate['nick'])))}" target="_blank"><img src="{:C('IMG_PATH')}taobao/buyer_trade.png" /></a><br />
                            <assign name="level" value="$users[$key][$credit]['level']" />
                            <noempty name="level"><img src="{:C('IMG_PATH')}rank/{$role}/{$level}.gif" alt="等级信息" /></noempty>
                    	</td>
                    	<td>
                    		<a href="{:U('Item/show', array('id'=>$rate['num_iid']))}" target="_blank" title="查看宝贝详情">{$rate['item_title']}</a><br />
                            <i class="art-view-num">{$rate['item_price']}元</i>
                    	</td>
                	</tr>
                </volist>
            	</tbody>     
            </table> 
            
                <script src="static/js/list_moderate.js" type="text/javascript"></script>
<div id="mdly" style="display: none;">
<input type="hidden" name="optgroup" />
<input type="hidden" name="operation" />
<a class="cp" href="javascript:;" title="隐藏" onclick="_id('mdly').className='cpd'">隐藏</a>
<label><input type="checkbox" name="chkall" class="pc" 
                      onclick="if(!(_id('mdct').innerHTML = modclickcount = checkall(this.form, 'moderate'))) {_id('mdly').style.display = 'none';};_id('isedit').style.display='none';_id('noedit').style.display=''" />全选</label>
<h6><span>选中</span><strong onclick="_id('mdly').className='';" id="mdct"></strong><span>条: </span></h6>
<p>
    	<strong><a href="javascript:;" onclick="modarticle('del');return false;">删除</a></strong>
<span class="pipe">|</span>
<span id="isedit">
<strong><a href="javascript:;" onclick="modarticle('edit');return false;">编辑</a></strong>
</span>
<span id="noedit" class="xg1">
<strong>编辑</strong>
</span>
        <span class="pipe">|</span>
        <strong><a href="javascript:;" onclick="modarticle('move');return false;">移动</a></strong>
        </p>
</div>
<div id="articlemove" style="display:none;">
<table class="tbl">
    <tr>
        <th style="width:100px;" >选择分类</th>
        <td style="width:180px;">
            <select name="artcatmove" id="artcatmove" class="span5" style="padding: 2px 2px 2px 1px;">
                <option value='1'>>默认分类</option>            </select>
        </td>
    </tr>
</table>
</div>                            </form>
        </div> 
        
        <div id="listfoot" class="well well-mini mtw">
        	<div class="y">
            	<div class="pg">{$page}</a>
                </div>
        	</div>
        </div>
        <!--<div id="listfoot" class="well well-mini mtw">
        	<div class="y">
            	<div class="pg"><strong>1</strong><a href="desktop.php?mod=diary&amp;do=list&amp;page=2">2</a><div class="input-prepend disi"><span class="add-on">转到</span><input type="text" name="custompage" int="1" class="span2" size="2" title="输入页码，按回车快速跳转" value="1" onkeydown="if(event.keyCode==13) {window.location='desktop.php?mod=diary&amp;do=list&amp;page='+this.value; doane(event);}"><span title="共 2 页" class="total"> /<em class="xw1">2</em> 页</span></div><a class="prev disabled"><i class="icon-arrow-left"></i></a><a class="next" href="desktop.php?mod=diary&amp;do=list&amp;page=2"><i class="icon-arrow-right"></i></a>
                </div>
        	</div>
        </div>-->
        
        
        
        
        <div class='y mtm'></div>     
    </div>
    <!--mainer end-->
</div>
<!--container end-->
<mc:tpl file="Public/footer" />
