<!--side bar begin-->
<div class="sidebar">
    <ul class="navbar">
        <li>
            <a href="{:U('index', 'role=buyer&rate_type=get')}"><i class="i_desk o_n_center"></i><strong>来自买家的评价</strong></a>
        </li>
    </ul>
    <ul class="navbar">
        <li>
            <a href="{:U('index', 'role=seller&rate_type=give')}"><i class="i_desk o_n_center"></i><strong>给他人的评价</strong></a>
        </li>
    </ul>
    <div id="art_query" class="scbox mtw">
    <p class="sckeyword xc1">评价搜索</p>
    <form action="{:U('index', array('role'=>'buyer', 'rate_type'=>'get'))}" method="get">
        <div class="form-field">
                            <div class="field-input btn-group" data-toggle="buttons-radio">
                                <button class="btn <eq name="type" value="0">active</eq>" type="button" act="on" onclick="fnTriggerRadio(this)">
                                    <span><label><input type="radio" class="hide" value='0' name='type' id="comment_on" <eq name="type" value="0">checked="checked"</eq>>订单</label></span>
                                </button>
                                <button class="btn <eq name="type" value="1">active</eq>" type="button" act="off"  onclick="fnTriggerRadio(this)">
                                    <span><label><input type="radio" class="hide" value='1' name='type' id="comment_off" <eq name="type" value="1">checked="checked"</eq>>商品</label></span>
                                </button>
                            </div> 
                        </div>

        
        <input class="mbm" type="text" size="23" value="{$keyword}" id="keyword" name="keyword" placeholder="输入编号"><br/>
        <p class="mbm xc1 datebox">
            <label for="start_date">从</label>
            <input type="text" id="start_date" name="start_date" size="15" maxlength="15" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd', theme:'ibos'});"  value="" class="Wdate"></p>
        <p class="mbm xc1 datebox">
            <label for="end_date">至</label>
            <input type="text" id="end_date" name="end_date" size="15" maxlength="15" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd', theme:'ibos'});" value="" class="Wdate"></p>
        <button class="btn btn-primary" type="submit"><span>查询</span></button>
        
    </form>
    </div>
</div>
<!--side bar end-->

<!--添加分类对话框  begin-->
<div id="addcategory" style="display:none;">
    <form method="post" name="addcategory_form" id="addcategory_form">
        <table class="tbl" width="100%">
            <tr>
                <th>分类名称</th>
                <td style="background:#FFF;text-align:left;padding-left:20px">
                    <input type="text" id="cate_name" name="name" onfocus="select();">
                </td>
            </tr>
            <tr>
                <th>上级分类</th>
                <td style="background:#FFF;text-align:left;padding-left:20px">
                    <select name="select" id="cate_select"></select>
                </td>		
            </tr>
        </table>
        <input type="hidden" id="cate_cid" name="catid" value=""/>
        <input type="hidden" id="cate_pid" name="pid" value=""/>
    </form>
</div>
<!--添加分类对话框  end-->

<link rel="stylesheet" rev="stylesheet" href="static/js/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css" />
<script src="static/js/zTree/js/jquery.ztree.core-3.3.js" type="text/javascript"></script>
<script src="static/js/zTree/js/jquery.ztree.exedit-3.3.js" type="text/javascript"></script>
<script src="static/js/tree_extra.js" type="text/javascript"></script>
<script type="text/javascript">
    var msgbox = $("<div id='d'></div>");
    String.prototype.trim= function(){  
        return this.replace(/(^\s*)|(\s*$)/g, "");  
    }
    
    /*
     *
     */
    function delarticles() {
        var url='/desktop.php?mod=article&do=add&act=del';
        selectid=$('#articleList').datagrid('getSelections');
        var nums = selectid.length;
        var msg='确认删除选中信息及其附件吗？删除后无法恢复';
        if(nums>0) {	
            $.messager.confirm('确认删除',msg,function(r){ 
                if (r) {  
                    var trans_str = "";
                    for(var i=0;i<nums;i++) {
                        trans_str += selectid[i].articleid+",";
                    }		
                    $.post(url,{articleid:trans_str},function(data){
                        if(data.isSuccess){			
                            $("body").iTips({content:data.Msg,css:'success'});
                            $("#articleList").datagrid('reload');
                        } else {
                            $("body").iTips({content:data.Msg,css:'error'});
                        }
                    },'json');
                }});
        } else {
            $("body").iTips({content:'没有选择文件操作',css:'warning'});
        }
    }
    
    /*
     *
     */
    function hide(tag){
        $('#'+tag).hide();
    }
    
    /*
     *
     */
    function readall(){
        $.messager.confirm('确认阅读','确认要标记所有信息为已读吗?',function(r){ 
            if (r) {  
                url = '/desktop.php?mod=article&do=add&act=readall';
                $.post(url,function(data){
                    if(data.isSuccess){
                        $("body").iTips({content:data.Msg,css:'success'});	
                    } else {
                        $("body").iTips({content:'设置失败，请联系OA管理员',css:'error'});
                    }
                },'json');  
            }
        });	
    }
    
    /**
     * key 序号 [？] 用来操作json数组用，但json数组输出时可以用ID做KEY,可废弃
     * action 动作
     * categoryid 分类ID
     * isparent 是否父级
     * 	
     */
    function categoryaction(key,action,categoryid,isparent){
        var treearr=null;
        var maxsort=treearr.length-1;
        switch(action){
            case 'click':
                /* 设置菜单  */
                document.getElementById('menuicon').setAttribute('class','fmenu o-menuicon');
                document.getElementById('menuspan').firstChild.setAttribute('onmouseover',"showMenu({'ctrlid':this.id,'pos':'43!'});");
                document.getElementById('clickcatid').value = categoryid;
                document.getElementById('pid').value = treearr[key].pid;
                document.getElementById('sort').value = treearr[key].sort;
                document.getElementById('isparent').value = isparent;
                var categoryname = $('#cat_'+categoryid).html();  
                var s = $('#menuspan');
                $('#tree_'+categoryid).prepend(s);

                //通过分类显示文章列表
                                var url = '/desktop.php?mod=article&do=list&catid='+categoryid;
                location = url;
                                break;
            case 'add':
            case 'edit':
                var catid=document.getElementById('clickcatid').value;
                var nextsort = treearr[maxsort].sort-(-1);
                if(action=='add'){
                    var lang='添加分类';
                    var href='/desktop.php?mod=article&do=category&act=add&pid='+catid+'&nextsort='+nextsort;
                }else if(action=='edit'){
                    var lang='编辑分类';
                    var href='/desktop.php?mod=article&do=category&act=edit&catid='+catid;
                }
                msgbox.iDialog({
                    title:lang,
                    href:href,
                    width:420,
                    height:'auto',
                    submit:function(){
                        $('#artcate_form').form('submit',{
                            url:'/desktop.php?mod=article&do=category&act=save',
                            onSubmit:function(){
                                if(trim(document.getElementById('name').value)=='') {
                                    $("body").iTips({content:'!article_category_null_name!',css:'notice'});
                                    return (false);
                                }
                                return (true);
                            },
                            success:function(data){
                                var s = jQuery.parseJSON(data);	
                                if (s.isSuccess) {
                                    $("body").iTips({content:'分类保存成功',css:'success'});
                                    msgbox.dialog('close');
                                    window.location.reload(true);	
                                }	
                                if (s.addSuccess) {
                                    $("body").iTips({content:'分类添加成功',css:'success'});
                                    msgbox.dialog('close');
                                    window.location.reload(true);
                                }			
                            }
                        });
                    }		
                });
                break;
            case 'moveup':
            case 'movedown':
                var catid=document.getElementById('clickcatid').value;
                var pid=document.getElementById('pid').value;
                var sort=document.getElementById('sort').value;
                var url='/desktop.php?mod=article&do=category&act=move';

                $.post(url,{catid:catid,pid:pid,sort:sort,type:action},function(data){
                    if(data.isSuccess){
                        //$("body").iTips({content:'分类移动成功',css:'success'});
                        window.location.reload(true);
                    }else{
                        $("body").iTips({content:'分类移动失败，估计被你移到顶或底了',css:'error'});
                    }
                },'json');	

                break;
            case 'del':
                var catid=document.getElementById('clickcatid').value;
                var isparent=document.getElementById('isparent').value;
                var msg='确认删除？删除后无法恢复，请确认';
                if(window.confirm(msg))
                {	
                    var url = '/desktop.php?mod=article&do=category&act=del';
                    $.post(url,{delid:catid,isparent:isparent},function(data){
                        if(data.isSuccess){
                            $("body").iTips({content:data.Msg,css:'success'});
                            window.location.reload(true);
                        }else if(data.isParent){
                            $("body").iTips({content:'该分类下有子分类，仅当无子分类时才可删除',css:'warning'});
                        }else if(data.hasArticle){
                            $("body").iTips({content:'该分类下还有文章，仅当分类下无文章时才可删除分类',css:'warning'});
                        }else{
                            $("body").iTips({content:data.Msg,css:'error'});
                        }
                    },'json');	

                }		
                break;
        }
    }
    /*
    *
    */
    function show(domid) {
        $('#'+domid).show().siblings('div').hide();
    }

    /**
    * 邮件转发
    * @author denglh
    */
    function article_send_mail() {
        var strTitle = $("#articlecontent div[class='art-inner'] h2").html();
        //alert(strTitle);
        var strArtContent = $("div[class='art-content']").html();
        //alert(strArtContent);
        var strArticleInfo = $("div[class='article_info']").html();
        //alert(strArticleInfo);
        var strContent = strArtContent+strArticleInfo;
        //return ;
        var form = [];
        form.push('<form action="desktop.php?mod=email&amp;do=new&amp;jump=1" method="post" id="mailform" name="mailform" style="display:none;">');
        form.push('<input type="text" name="subject" value="'+strTitle+'" />');
        form.push('<textarea name="newcontent">'+strContent+'</textarea>');
        form.push('<input type="submit" name="sendmail" />');
        form.push('</form>');
        $(document.body).append(form.join(''));
        $('#mailform').submit();
    }
    /*
    function cease(articleid){
        var url = 'desktop.php?mod=article&do=action&act=cease';
        $.post(url,{articleid:articleid},function(data){
            if(data.isSuccess){
                $('#cease_'+newsid).html("<a href=\"javascript:;\" onClick=\"actived('"+articleid+"');\">生效</a>");
                $('#subject_'+newsid).html("<span class='xcg'>(已终止)</span>");
            }	
        },'json');
    }
    function actived(articleid){
        var url = 'desktop.php?mod=article&do=action&act=actived';
        $.post(url,{articleid:articleid},function(data){
            if(data.isSuccess){
                $('#cease_'+newsid).html("<a href=\"javascript:;\" onClick=\"cease('"+articleid+"');\">已终止</a>");
                $('#subject_'+newsid).html("");
            }	
        },'json');
    } */
    
    var orgTree;
    $(document).ready(function(){
                var jOrgData = [{id: 1, pId: 0, name: "默认分类"}];
        var fnClick = function(id,upid){
            var url = "/desktop.php?mod=article&do=list&catid="+id;
            location = url;
        }
        orgTree = new ZTree('org_tree','',jOrgData,true,fnClick);
        orgTree.selectNode('');  //设置默认显示的设置菜单
        //新增
        orgTree.dirAdd = function(){ 
            var self = this;
            var html = "<option value='0'>&gt;设为顶级</option>"
            var oSelectNode = $('#cate_select');
            oSelectNode.html("<option value='1'>>默认分类</option>");
            oSelectNode.prepend(html);
            oSelectNode.val(this.node.id); //为自动选择当前类别为上级
            var oCatidNode = $("#cate_cid");
            oCatidNode.val('');
            var oCatnameNode = $("#cate_name");
            oCatnameNode.val('');
            $("#addcategory").iDialog({
                title:'添加分类',
                width:320,
                height:'auto',
                submit:function(){
                    $('#addcategory_form').form('submit',{
                        url:"/desktop.php?mod=article&do=list&catop=add",
                        onSubmit:function(){
                            if(trim(oCatnameNode.val())=='') {
                                $("body").iTips({content:'抱歉！分类名称不能为空',css:'warning'});
                                self.restoreIcon();
                                return false;
                            }
                            return true;
                        },
                        success:function(data){
                            if(data){
                                $("body").iTips({content:'分类保存成功',css:'success'});
                                var _tempPreNode = self.oTree.getNodeByParam('id',oSelectNode.val());
                                self.oTree.addNodes(_tempPreNode, {id:data,name:oCatnameNode.val()});
                                $('#addcategory').dialog('close');
                                //window.location.reload();
                            }else{
                                $("body").iTips({content:'未知错误',css:'error'});
                                $('#addcategory').dialog('close');
                                self.restoreIcon();
                            }
                        }
                    })
                },
                onClose:function(){
                    self.restoreIcon();
                }
            });
        }
        //编辑
        orgTree.dirEdit = function(){ 
            var self = this;
            var oSelectNode = $('#cate_select');
            var html = "<option value='0'>&gt;设为顶级</option>"
            $("#cate_cid").val(self.node.id);
            var oCatNameNode = $('#cate_name');
            oCatNameNode.val(self.node.name);
            var pidTemp = self.node.pId;
            $.ajax({
                url:"/desktop.php?mod=article&do=list&catop=get_select&catid="+self.node.id,
                type: "POST",
                success:function(data){
                    data = data.replace(pidTemp+"'",pidTemp+"' selected=\"true\"");
                    var sTopOption = "<option value='0'>>设为顶级</option>";
                    oSelectNode.html(sTopOption+data);
                }
                
            });
            oSelectNode.prepend(html);
            $("#addcategory").iDialog({
                title:'编辑分类',
                width:320,
                height:'auto',
                submit:function(){
                    $('#addcategory_form').form('submit',{
                        url:"/desktop.php?mod=article&do=list&catop=edit",
                        onSubmit:function(){
                            if(trim(oCatNameNode.val())=='') {
                                $("body").iTips({content:'抱歉！分类名称不能为空',css:'warning'});
                                self.restoreIcon();
                                return false;
                            }
                            return true;
                        },
                        success:function(data){
                            if(data){
                                $("body").iTips({content:'分类保存成功',css:'success'});
                                self.node.name = oCatNameNode.val();
                                self.node.pId = oSelectNode.val();
                                var _tempPreNode = self.oTree.getNodeByParam('id',oSelectNode.val());
                                self.oTree.updateNode(self.node);  //更新当前节点
                                self.oTree.moveNode(_tempPreNode,self.node,"inner"); //移动当前节点到指定的节点，作为子节点
                                self.selectNode(self.node.id);
                                $('#addcategory').dialog('close');
                                //window.location.reload();
                            }else{
                                $("body").iTips({content:'未知错误',css:'error'});
                                $('#addcategory').dialog('close');
                                self.restoreIcon();
                            }
                        }
                    })
                },
                onClose:function(){
                    self.restoreIcon();
                }		
            });
        }
        //上移
        orgTree.dirMoveUp = function(){ 
            var self = this;
            var oNode = self.node;
            var pNode = oNode.getPreNode(); //同目录的上一节点
            var nNode = oNode.getNextNode();  //同目录的下一节点
            if(oNode.isFirstNode){//若是当前目录的第一节点则返回
                $("body").iTips({content:'分类移动失败，可能该分类已被移到最顶或最底了',css:'error'})
                self.restoreIcon();
                return false;
            }
            pNode.index =self.oTree.getNodeIndex(oNode);
            oNode.index =self.oTree.getNodeIndex(pNode);
            $.post("/desktop.php?mod=article&do=list&catop=move",
                    {catid:oNode.id,pid:oNode.pId,type:"moveup"},
                function(data){
                    if(data.IsSuccess){
                        self.oTree.moveNode(pNode,oNode,"prev"); //上移一个节点
                        self.selectNode(oNode.id); //移动之后跟紧跟着就设置当前移动的设置菜单显示
                        $("body").iTips({content:'分类移动成功',css:'success'})
                    }else{
                        $("body").iTips({content:'分类移动失败',css:'error'})
                        return false;
                    }
                    self.restoreIcon();
                }
            ,"json");
            self.hideMenuCtrl();
        }
        //下移
        orgTree.dirMoveDown = function(){  
            var self = this;
            var oNode = self.node;
            var pNode = oNode.getPreNode(); //同目录的上一节点
            var nNode = oNode.getNextNode();  //同目录的下一节点
            if(oNode.isLastNode){ //若是最后节点则返回
                $("body").iTips({content:'分类移动失败，可能该分类已被移到最顶或最底了', css:'error'})
                self.restoreIcon();
                return false;
            }
            nNode.index =self.oTree.getNodeIndex(oNode);
            oNode.index =  self.oTree.getNodeIndex(nNode);
            $.post("/desktop.php?mod=article&do=list&catop=move",
                {catid:oNode.id,pid:oNode.pId,type:"movedown"},
                function(data){
                    if(data.IsSuccess){
                        self.oTree.moveNode(nNode,oNode,"next");
                        self.selectNode(oNode.id); //移动之后跟紧跟着就设置当前移动的设置菜单显示
                        $("body").iTips({content:'分类移动成功',css:'success'})
                    }else{
                        $("body").iTips({content:'分类移动失败', css:'error'})
                        return false;
                    }
                    self.restoreIcon();
                }
            ,"json");
            self.hideMenuCtrl();
        }
        //删除
        orgTree.dirDel = function(){  
            var self = this;
            var cid = self.node.id;
            $.messager.confirm("删除分类","确认删除？删除后将无法恢复",function(r){
                if (r) { 				
                    $.post("/desktop.php?mod=article&do=list&catop=del",{catid:cid},
                    function(data){
                        if(data.code=='1'){
                            self.oTree.removeNode(self.node);
                            self.selectNode(self.node.pId);
                            $("body").iTips({content:'分类删除成功',css:'success'});	
                        } else if (data.code=='-1'){
                            self.selectNode(self.node.id);
                            $("body").iTips({content:'该分类下有内容，仅当无内容时才可删除',css:'warning'});
                        } else {
                            self.selectNode(self.node.id);
                            $("body").iTips({content:'分类删除失败',css:'error'});
                        }
                        //self.hideMenuCtrl();
                    },'json'); 
                }
                self.restoreIcon();
            });
        }
            });
    
</script>