<mc:tpl file="Public/header" />
<mc:tpl file="Public/navmenu" />
<include file="sidebar" />
        <div id="listhead" class="well well-mini mbm">
            <!--搜索栏输入框-->
            <div class="mn-scbox input-append">
            	<input type="text" name="" id="searchinput" class="w200 xc1" placeholder="搜素订单编号、备注…" onfocus="
                    !function(o){
                        $(o).next().find('i').attr('class', 'i_g i-sc-enter');
                        $(o).blur(function(){
                            var objNextBtn = $(this).next();
                            if(this.value==''){
                                objNextBtn.find('i').attr('class', 'i_g i-sc-config');
                                objNextBtn.attr('onclick','showAdvanceSearchMenu(this)');
                            }else{
                                objNextBtn.attr('onclick','fnSearchSubmit(event,true)');
                            }
                        });
                    }(this);
            " onkeydown="fnSearchSubmit(event);"/><button class="btn add-on" id="sc_btn" onclick="showAdvanceSearchMenu(this);"><i class="i_g i-sc-config"></i></button>
            <span onclick="" id="searchIcon" class="i_g i-sc-search cur1"></span> 
        </div>

            <!--搜索栏输入框end-->
            <div class="nowrap left">
                <span class="btn_sepline z"></span>
                <button type="button" onclick="add();" class="btn btn-primary"><span>增加</span></button>
                <button type="button" onClick="del()" class="btn"><span>删除</span></button>
            </div>
        </div>
        <div class="tabs-wrap">
            <ul class="nav nav-tabs mbm">
                <li id="cta_all" class="active"><a href="javascript:switchctatype('');">所有差价</a></li>
                <li id="cta_1" class=""><a href="javascript:switchctatype('跟踪中');">跟踪中</a></li>
                <li id="cta_2" class=""><a href="javascript:switchctatype('完成');">完成</a></li>
            </ul>
        </div>
        <!--listhead-->
        <table id="fundList" pagination='true' idField='id' url="{:U('fund',array('ajax'=>1))}" fitColumns='true' showGroup="true" scrollbarSize="0">
            <thead>
                <tr>
                    <th field="id" checkbox="true">选择</th>
                    <th field="tid" width="18" sortable="true"><u>订单编号</u></th>
                    <th field="buyer_nick" width="15" formatter="nick_link">买家</th>
                    <th field="reason" width="8" sortable="true"><u>原因</u></th>
                    <th field="type" width="8">类型</th>
                    <th field="money" width="10">金额</th>
                    <th field="channel" width="20">打款方式</th>
                    <th field="memo" width="20" sortable="true" >说明</th>
                    <th field="created" width="20" sortable="true" ><u>创建日期</u></th>
                    <th field="modified" width="20" sortable="true" ><u>修改日期</u></th>
                    <th field="status" width="8" sortable="true" formatter="option_link"><u>状态</u></th>
                </tr>
            </thead>
        </table>
        <div id="interviewinfo"></div>
        <div id="remarkinfo"></div>
        <div id="listfoot" class="toolbg toolbgline toolheight nowrap cl"></div>
        <div id="addDiv" style="display:none;">
            <table class="table table-bordered table-subfield">
                <tr>
                    <th>订单编号</th>
                    <td>
                        <input type="text" class="span6" name="tid" id="addTid" onkeyup="getoid();" style="width:120px;" />
                        <span id="tidSerach"><button type="button" class="btn" href="javascript:;" onclick="getoid();"><span><i class="icon-search"></i>&nbsp;搜索订单</span></button></span>
                    </td>
                </tr>
                <tr>
                    <th>确认订单</th>
                    <td id="tidList"></td>
                </tr>
                <tr>
                	<th>操作提示</th>
                    <td>先输入订单编号，再点击下面的子订单链接添加售后记录</td>
                </tr>     
            </table>
        </div>
        <div id="searchdiv" style="display: none;background:#FFF;" class="searchdiv">
            <div class="content">
                <div class="settingtd settingdiv">
                    <table cellspacing="0" cellpadding="4" border="0">
                        <tbody>
                            <tr>
                                <td class="td_right" width="80">&nbsp;订单编号&nbsp;：</td>
                                <td>
                                    <input type="text" name="tid" id="tid" class="w200"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_right">&nbsp;备注：</td>
                                <td>
                                    <input type="text" name="memo" id="memo" class="w200"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_right">&nbsp;沟通状态：</td>
                                <td>{:Form::select(array(''=>'所有记录','跟踪中'=>'跟踪中','完成'=>'完成'), 'status')}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="settingtd settingdiv">
                    <table cellspacing="0" cellpadding="4" border="0">
                        <tbody>
                            <tr>
                                <td class="td_right" width="80">开始时间：</td>
                                <td>
                                    <div class="input-append">
                                        <input type="text" id="begindate" name="begindate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true}); this.blur()"><button type="button"
                                        class="btn add-on" onclick="WdatePicker({el:'begindate', dateFmt:'yyyy-MM-dd',isShowClear:true});"><i class="i_g i-date"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_right" width="80">结束时间：</td>
                                <td>
                                    <div class="input-append">
                                        <input type="text" id="enddate" name="enddate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true}); this.blur()" ><button type="button"
                                        class="btn add-on" onclick="WdatePicker({el:'enddate', dateFmt:'yyyy-MM-dd',isShowClear:true});"><i class="i_g i-date"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--mainer end-->
</div>
<div id="imp_show" class="mainer hide"></div>
<script type="text/javascript">
	var msgbox = $("<div id='d'></div>");
    var _gridtable=$('#fundList');
    var _queryParams={};
	$(document).ready(function(){
        _gridtable.datagrid({
            sortName: 'id',
            sortOrder: 'desc',
            striped: true,
            onClickRow:function(rowIndex,rowData){_gridtable.datagrid('unselectRow',rowIndex)}
        });
    })
	//买家
    function nick_link(val,rec){
        return "<div class='xi2'>"+val+"<p class='xc1'>"+rec.receiver_name+"</p></div>";
    }
    function option_link(val,rec){
		var more = option_more(val,rec);
        var html =  "<span style='display: inline-block; margin-bottom: 20px;color:green;'>"+val+"</span>";
        return html+more;
    }
    /**
     * 操作选项
     */
    function option_more(val,rec){
        var html = "<div class='wfl_option'>";
		if(rec.status=='跟踪中'){
			html+='<a href="javascript:;" onclick="useract(\'finish\','+rec.id+')">完成</a>&nbsp;';
        }
		html+='<a href="javascript:;" onclick="useract(\'view\','+rec.id+')">查看</a>&nbsp;';
		html+='<a href="javascript:;" onclick="useract(\'edit\','+rec.id+')">修改</a>&nbsp;';
		html+='<a href="javascript:;" onclick="del('+rec.id+')">删除</a>&nbsp;';
        return html;
    }

    
    //状态栏变更
    function switchctatype(v){
        contract_tab = v ;
        document.getElementById("cta_all").className="";
        document.getElementById("cta_1").className="";
		document.getElementById("cta_2").className="";
        switch(v){
            case '跟踪中':
                document.getElementById("cta_1").className="active";
                break;
			case '完成':
                document.getElementById("cta_2").className="active";
                break;
			default:
				document.getElementById("cta_all").className="active";
        }
        _gridtable.datagrid({queryParams:{status:v}});
    }
	/**
    *搜索子订单
    */
	function add(id){
		$('#addDiv').iDialog({  //对话框参数
			title: '增加差价记录',
			width:400,
			height:'auto',
			modal:true
		});
    }
	/**
    *Ajax获取子订单
    */
	function getoid(){
		var tid = $.trim($("#addTid").val());
		$.getJSON('{:U("Seller/Trade/getoid")}/tid/'+tid,function(data){
			if(data.status){
				var html = "";
				var oid = data.info;
				for(var i=0;i<oid.length;i++) {
					html+='<div class="input-prepend input-append disi mr5"><button type="button" class="btn add-on">'+oid[i].outer_iid+'</button><span class="add-on">'+oid[i].sku_properties_name+'</span></div><br />';
				}
				var newbtn = '<button type="button" class="btn" href="javascript:;" onclick="addService('+tid+');"><span><i class="icon-add"></i>&nbsp;添加差价记录</span></button>';
				$('#tidSerach').html(newbtn);
				$('#tidList').html(html);
			}else{
				$('#tidList').html(data.info);
			}
		});
	};

	/**
    *添加记录
    */
	function addService(tid){
		$('#addDiv').dialog('close');
		msgbox.iDialog({
			title:'编辑沟通记录：'+tid,
			href:'{:U('add')}/model/fund/tid/'+tid,
			width:450,
			height:'auto',
			submit:function(){
				$('#FundForm').form('submit',{
					url:'{:U('add')}/model/fund/tid/'+tid+'/ajax/1',
					success:function(data){
						var s = jQuery.parseJSON(data);	
						if (s.status) {
							$("body").iTips({content:s.info,css:'success'});
							_gridtable.datagrid('reload');
							msgbox.dialog('close');
						}else{
							$("body").iTips({content:s.info,css:'error'});
						}
					}
				});
				return false;
			}
		});
    }
	/**
    *删除
    */
	function del(id){
		var s;
		if (id) {
			s = id;
		}else{
			s = checkselect('fundList', 'id');
		}
        if(s != ''){
            $.messager.confirm('确认删除吗？','确认要删除此记录吗',function(r){ 
				if (r) {
					$.getJSON('{:U('del')}/model/fund/delid/'+s,function(data){
						if(data.status){
							 $('body').iTips({content:data.info,css:'success'});
							 _gridtable.datagrid('reload');
						} else {
							 $('body').iTips({content:data.info,css:'error'});
						}
					}); 
				}
            });
        }else{
            $('body').iTips({content:'至少选择一条进行操作',css:'warning'});
        }
    }
    /**
    *用户操作
    */
	function useract(act,id){
		var msg;
        switch(act){
			case 'view':
                msgbox.iDialog({
					title: '基本信息',
					href:'{:U('view')}/model/fund/id/'+id,
					width:500,
					height:'auto',
					modal:true
				});
				break;
            case 'edit':
                msgbox.iDialog({
                    title:'编辑差价记录：'+id,
					href:'{:U('edit')}/model/fund/id/'+id,
                    width:550,
                    height:'auto',
                    submit:function(){
                        $('#FundForm').form('submit',{
                            url:'{:U('edit')}/model/fund/id/'+id+'/ajax/1',
                            success:function(data){
                                var s = jQuery.parseJSON(data);	
                                if (s.status) {
                                    $("body").iTips({content:s.info,css:'success'});
                                    _gridtable.datagrid('reload');
									msgbox.dialog('close');
                                }else{
                                    $("body").iTips({content:s.info,css:'error'});
                                }
                            }
                        });
                        return false;
                    }
                });
                break;
			case 'finish':
				$.messager.confirm('确认操作？','确认要操作此记录吗',function(r){ 
					if (r) {
						$.getJSON("{:U('act')}/model/fund/act/"+act+"/id/"+id,function(data){
							if(data.status){
								 $('body').iTips({content:data.info,css:'success'});
								 _gridtable.datagrid('reload');
							} else {
								 $('body').iTips({content:data.info,css:'error'});
							}
						}); 
					}
				});
				break;
		}
    }
	
    /**
    *返回gridtable被选中的行的值
    *@param gridid gridtable的id
    *@param field 要返回值的字段名
    *@author denglh
    */
    function checkselect(gridid, field){
        var gridtable = $('#'+gridid);
        var selectid = gridtable.datagrid('getSelections');
        var nums = selectid.length;
        var trans_str = ""; 
        for(var i=0;i<nums;i++) {
            trans_str += selectid[i][field]+",";
        }
        if(nums>0){
            return trans_str;
        } else {
            return '';
        }
    }
	
    /*
     * 简单搜素提交处理  zyb
     */
    function fnSearchSubmit(event,isClick){
        var myEvent = window.event || event;
        if(myEvent.keyCode==13 || isClick){
            if (trim( $("#searchinput").val() ) != "") {
                switchctatype('all');
				_gridtable.datagrid({
                    queryParams:{
                        keyword : $("#searchinput").val()
                    }
                });
            }
        }
    }
    
    /**
     * 显示高级搜素弹出框,并做提交处理   zyb
     */
    function showAdvanceSearchMenu(submitBtn){
        var oSearchNode = $('#searchdiv');
        oSearchNode.iDialog({
                title: '高级搜素',
                modal:true,
                width:'420',
                height:'auto',
                submit:function(){
                    oSearchNode.dialog('close');
					switchctatype($('#status').val());
                    _gridtable.datagrid({
                        queryParams:{
							tid:$('#tid').val(),
							memo:$('#memo').val(),
                            status:$('#status').val(),
                            begindate:$('#begindate').val(),
                            enddate:$('#enddate').val()
                        }
                    });
                }
            });
    }
</script>
<mc:tpl file="Public/footer" />