<form name="FundForm" id="FundForm" method="post">
    <div class="mbm">
        <table class="table table-bordered table-subfield">
            <tr>
                <th>原因</th>
                <td colspan="3">{:Form::radio(array("质量"=>"质量","物流"=>"物流","缺货"=>"缺货","运费"=>"运费","丢包"=>"丢包","恶意"=>"恶意","价格"=>"价格","其他"=>"其他"), 'reason', $info['reason'])}</td>
            </tr>
            <tr>
                <th>状态</th>
                <td colspan="3">{:Form::radio(array("跟踪中"=>"跟踪中","完成"=>"完成"), 'status', $info['status'])}</td>
            </tr>
            <tr>
                <th>金额</th>
                <td><input type="text" class="span6" name="money" value="{$info['money']}" style="width:80px;" /></td>
                <th>类别</th>
                <td>{:Form::radio(array("0"=>"打款","1"=>"收款"), 'type', $info['type'])}</td>
            </tr>
            <tr>
                <th>渠道</th>
                <td colspan="3"><input type="text" class="span6" name="channel" value="{$info['channel']}" style="width:150px;" /></td>
            </tr>
            <tr>
                <th>备注</th>
                <td colspan="3">
                    <textarea name="memo" style="height:40px; width:300px;">{$info['memo']}</textarea>
                    <notempty name="info['id']"><input type="hidden" name="id" value="{$info['id']}"></notempty>
                    <input type="hidden" name="tid" value="{$info['tid']}">
                </td>
            </tr>
        </table>
    </div>
</form>
