<table class="table table-bordered table-subfield">
	<tbody>
    	<tr>
        	<th>订单编号</th>
            <td>{$info['tid']}</td>
            <th>子订单编号</th>
            <td>{$info['oid']}</td>
    	</tr>
    	<tr>
        	<th>创建时间</th>
            <td>{:format_date($trade['created'])}</td>
            <th>支付时间</th>
            <td>{:format_date($trade['pay_time'])}</td>
    	</tr>
    	<tr>
        	<th>买家会员名</th>
            <td>{$trade['buyer_nick']}</td>
            <th>收件人</th>
            <td>{$trade['receiver_name']}</td>
    	</tr>
        <tr>
        	<th>记录创建</th>
            <td>{:format_date($info['created'])}</td>
            <th>记录修改</th>
            <td>{:format_date($info['modified'])}</td>
    	</tr>
        <tr>
        	<th>备注</th>
            <td colspan="3">{$info['memo']}</td>
    	</tr>
	</tbody>
</table>