<form name="NifferForm" id="NifferForm" method="post">
    <div class="mbm">
        <table class="table table-bordered table-subfield">
            <tr>
                <th width="10%">原因</th>
                <td colspan="3">{:Form::radio(array("尺码"=>"尺码","发错"=>"发错","改码"=>"改码","质量"=>"质量","色差"=>"色差"), 'reason', $info['reason'])}</td>
            </tr>
            <tr>
                <th>状态</th>
                <td colspan="3">{:Form::radio(array("跟踪中"=>"跟踪中","退货中"=>"退货中","已收货"=>"已收货","已发货"=>"已发货","完成"=>"完成"), 'status', $info['status'])}</td>
            </tr>
            <tr>
                <th>退货</th>
                <td colspan="3">
                	<div class="input-prepend input-append disi mr5">
                    	<span class="add-on">快递</span>{:Form::logistics('receiver_company', $info['receiver_company'])}
                        <span class="add-on">单号</span><input type="text" class="span6" name="receiver_sid" value="{$info['receiver_sid']}" style="width:150px;" />
                	</div>
                </td>
            </tr>
            <tr>
                <th>发货</th>
                <td colspan="3">
                	<div class="input-prepend input-append disi mr5">
                    	<span class="add-on">快递</span>{:Form::logistics('send_company', $info['send_company'])}
                        <span class="add-on">单号</span><input type="text" class="span6" name="send_sid" value="{$info['send_sid']}" style="width:150px;" />
                	</div>
                </td>
            </tr>
            <tr>
                <th>宝贝</th>
                <td>{$info['outer_iid']}</td>
                <th>属性</th>
                <td>{$info['old_properties_name']}</td>
            </tr>
            <tr>
                <th>数量</th>
                <td><input type="text" class="span6" name="num" value="{$info['num']}" style="width:40px;" /></td>
                <th>修改</th>
                <td>{$info['properties_name']}</td>
            </tr>
            <volist name="info['props']" id="props">
            <tr>
                <th>{$key}</th>
                <td colspan="3">{:Form::radio($props, "props[".$i."]", $info['properties'][$i-1])}</td>
            </tr>
            </volist>
            <tr>
                <th>备注</th>
                <td colspan="3">
                    <textarea name="memo" style="height:40px; width:300px;">{$info['memo']}</textarea>
                    <notempty name="info['id']"><input type="hidden" name="id" value="{$info['id']}"></notempty>
                    <input type="hidden" name="num_iid" value="{$info['num_iid']}">
                    <input type="hidden" name="outer_iid" value="{$info['outer_iid']}">
                    <input type="hidden" name="tid" value="{$info['tid']}">
                    <input type="hidden" name="oid" value="{$info['oid']}">
                </td>
            </tr>
        </table>
    </div>
</form>