<mc:tpl file="Public/header" />
<mc:tpl file="Public/navmenu" />
<include file="sidebar" />
        <div id="listhead" class="well well-mini mbm">
            <!--搜索栏输入框-->
            <div class="mn-scbox input-append">
            	<input type="text" name="keyword" id="searchinput" class="w200 xc1" placeholder="搜索订单编号、运单号、商家编码…" onfocus="
                    !function(o){
                        $(o).next().find('i').attr('class', 'i_g i-sc-enter');
                        $(o).blur(function(){
                            var objNextBtn = $(this).next();
                            if(this.value==''){
                                objNextBtn.find('i').attr('class', 'i_g i-sc-config');
                                objNextBtn.attr('onclick','showAdvanceSearchMenu(this)');
                            }else{
                                objNextBtn.attr('onclick','fnSearchSubmit(event,true)');
                            }
                        });
                    }(this);
            " onkeydown="fnSearchSubmit(event);"/><button class="btn add-on" id="sc_btn" onclick="showAdvanceSearchMenu(this);"><i class="i_g i-sc-config"></i></button>
            <span onclick="" id="searchIcon" class="i_g i-sc-search cur1"></span> 
            </div>
            <!--搜索栏输入框end-->
            <div class="nowrap left">
                <span class="btn_sepline z"></span>
                <button type="button" onclick="add();" class="btn btn-primary"><span>增加</span></button>
                <button type="button" onClick="del()" class="btn"><span>删除</span></button>
                <button type="button" onClick="importServ();" class="btn"><span>配货</span></button>
            </div>
        </div>
        <div class="tabs-wrap">
            <ul class="nav nav-tabs mbm">
                <li id="cta_all" class="active"><a href="javascript:switchctatype('');">所有换货</a></li>
                <li id="cta_1" class=""><a href="javascript:switchctatype('跟踪中');">跟踪中</a></li>
                <li id="cta_2" class=""><a href="javascript:switchctatype('退货中');">退货中</a></li>
                <li id="cta_3" class=""><a href="javascript:switchctatype('已收货');">已收货</a></li>
                <li id="cta_4" class=""><a href="javascript:switchctatype('已发货');">已发货</a></li>
                <li id="cta_5" class=""><a href="javascript:switchctatype('完成');">完成</a></li>
            </ul>
        </div>
        <!--listhead-->
        <table id="nifferList" pagination='true' idField='id' url="{:U('niffer',array('ajax'=>1))}" fitColumns='true' showGroup="true" scrollbarSize="0">
            <thead>
                <tr>
                    <th field="id" checkbox="true">选择</th>
                    <th field="tid" width="18" sortable="true" formatter="tid_link"><u>订单编号</u></th>
                    <th field="buyer_nick" width="15" formatter="nick_link">买家</th>
                    <th field="outer_iid" width="40" formatter="item_link">宝贝</th>
                    <th field="receiver_sid" width="13" formatter="logistics_link">退/发物流</th>
                    <th field="reason" width="8" sortable="true"><u>原因</u></th>
                    <th field="memo" width="15" sortable="true" >说明</th>
                    <th field="created" width="20" sortable="true" formatter="time_link"><u>创建/配货日期</u></th>
                    <th field="status" width="8" sortable="true" formatter="option_link"><u>状态</u></th>
                </tr>
            </thead>
        </table>
        <div id="interviewinfo"></div>
        <div id="remarkinfo"></div>
        <div id="listfoot" class="toolbg toolbgline toolheight nowrap cl"></div>
        <div id="logistics_box" style="display:none;">
            <table width="100%" class="tbl">
                <tr>
                    <th>快递公司</th>
                    <td>{:Form::logistics()}</td>
                </tr>
                <tr>
                    <th>物流单号</th>
                    <td><input type="text" class="span6" name="sid" id="sid" style="width:100px;" /></td>
                </tr>
                <tr>
                    <td colspan="2">请填写正确的物流信息，方便跟踪</td>
                </tr>      
            </table>
        </div>
        <div id="add_box" style="display:none;">
            <table class="table table-bordered table-subfield">
                <tr>
                    <th>订单编号</th>
                    <td>
                        <input type="text" class="span6" name="tid" id="add_tid" onkeyup="getoid();" style="width:120px;" />
                        <button type="button" class="btn" href="javascript:;" onclick="getoid();"><span><i class="icon-search"></i>&nbsp;搜索订单</span></button>
                    </td>
                </tr>
                <tr>
                    <th>子订单</th>
                    <td id="oidList"></td>
                </tr>
                <tr>
                	<th>操作提示</th>
                    <td>先输入订单编号，再点击下面的子订单链接添加售后记录</td>
                </tr>     
            </table>
        </div>
        <div id="searchdiv" style="display: none;background:#FFF;" class="searchdiv">
            <div class="content">
                <div class="settingtd settingdiv">
                    <table cellspacing="0" cellpadding="4" border="0">
                        <tbody>
                            <tr>
                                <td class="td_right" width="80">&nbsp;订单编号&nbsp;：</td>
                                <td><input type="text" name="tid" id="tid" class="w200"/></td>
                            </tr>
                            <tr>
                                <td class="td_right">物流编号：</td>
                                <td><input type="text" name="sid" id="sid2" class="w200"/></td>
                            </tr>
                            <tr>
                                <td class="td_right">退货状态：</td>
                                <td>{:Form::select(array(''=>'所有记录','跟踪中'=>'跟踪中','已发货'=>'已发货','完成'=>'完成'), 'status')}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="settingtd settingdiv">
                    <table cellspacing="0" cellpadding="4" border="0">
                        <tbody>
                            <tr>
                                <td class="td_right" width="80">开始时间：</td>
                                <td>
                                    <div class="input-append">
                                        <input type="text" id="begindate" name="begindate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true}); this.blur()"><button type="button"
                                        class="btn add-on" onclick="WdatePicker({el:'begindate', dateFmt:'yyyy-MM-dd',isShowClear:true});"><i class="i_g i-date"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_right" width="80">结束时间：</td>
                                <td>
                                    <div class="input-append">
                                        <input type="text" id="enddate" name="enddate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true}); this.blur()" ><button type="button"
                                        class="btn add-on" onclick="WdatePicker({el:'enddate', dateFmt:'yyyy-MM-dd',isShowClear:true});"><i class="i_g i-date"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--mainer end-->
</div>
<div id="imp_show" class="mainer hide"></div>
<script type="text/javascript">
	var msgbox = $("<div id='d'></div>");
    var _gridtable=$('#nifferList');
    var _queryParams={};
	$(document).ready(function(){
        _gridtable.datagrid({
            sortName: 'id',
            sortOrder: 'desc',
            striped: true,
			pageSize: 40,
            onClickRow:function(rowIndex,rowData){_gridtable.datagrid('unselectRow',rowIndex)}
        });
    })
	//订单编号
    function tid_link(val,rec){
        var moreinfo = "<p class='xc1'>"+rec.oid+"</p>";
        return "<div class='wfllist'><a href='javascript:wfs.viewform("+rec.runid+","+rec.workid+");' title='"+val+"' class='xi2'>"+val+"</a>"+moreinfo+"</div>";
    }
	//买家
    function nick_link(val,rec){
        return "<div class='xi2'>"+val+"<p class='xc1'>"+rec.receiver_name+"</p></div>";
    }
	//宝贝
    function item_link(val,rec){
        return "<div class='xi2'>"+val+"<p class='xc1'>"+rec.properties_name+"</p></div>";
    }
	//物流
    function logistics_link(val,rec){
		var html =  '<div class="xi2"><a href="javascript:;" onclick="delivery(\''+rec.receiver_company+'\',\''+val+'\')">'+rec.receiver_company+'</a></div>';
		if (rec.send_sid) html+='<div class="xi2"><a href="javascript:;" onclick="delivery(\''+rec.send_company+'\',\''+rec.send_sid+'\')">'+rec.send_company+'</a></div>';
        return html;
    }
	//时间
    function time_link(val,rec){
        return "<div class='xi2'>"+val+"<p class='xc1'>"+rec.invoice+"</p></div>";
    }
    function option_link(val,rec){
		var more = option_more(val,rec);
        var html =  "<span style='display: inline-block; margin-bottom: 20px;color:green;'>"+val+"</span>";
        return html+more;
    }
    /**
     * 操作选项
     */
    function option_more(val,rec){
        var html = "<div class='wfl_option'>";
		switch(rec.status){
            case '跟踪中':
                html+='<a href="javascript:;" onclick="useract(\'re_logistics\','+rec.id+')">退货</a>&nbsp;';
                break;
			case '退货中':
                html+='<a href="javascript:;" onclick="useract(\'receiver\','+rec.id+')">收货</a>&nbsp;';
                break;
			case '已收货':
                if (!rec.send_sid) {
					html+='<a href="javascript:;" onclick="useract(\'se_logistics\','+rec.id+')">填写物流</a>&nbsp;';
				} else {
					html+='<a href="javascript:;" onclick="useract(\'send\','+rec.id+')">发货</a>&nbsp;';
				}
				html+='<a href="javascript:;" onclick="importServ('+rec.id+')">配货</a>&nbsp;';
                break;
			case '已发货':
                html+='<a href="javascript:;" onclick="useract(\'finish\','+rec.id+')">完成</a>&nbsp;';
                break;
        }
		html+='<a href="javascript:;" onclick="useract(\'view\','+rec.id+')">查看</a>&nbsp;';
		html+='<a href="javascript:;" onclick="useract(\'edit\','+rec.id+')">修改</a>&nbsp;';
		html+='<a href="javascript:;" onclick="del('+rec.id+')">删除</a>&nbsp;';
        return html;
    }
	
    //状态栏变更
    function switchctatype(v){
        contract_tab = v ;
        document.getElementById("cta_all").className="";
        document.getElementById("cta_1").className="";
		document.getElementById("cta_2").className="";
		document.getElementById("cta_3").className="";
		document.getElementById("cta_4").className="";
		document.getElementById("cta_5").className="";
        switch(v){
            case '跟踪中':
                document.getElementById("cta_1").className="active";
                break;
			case '退货中':
                document.getElementById("cta_2").className="active";
                break;
			case '已收货':
                document.getElementById("cta_3").className="active";
                break;
			case '已发货':
                document.getElementById("cta_4").className="active";
                break;
			case '完成':
                document.getElementById("cta_5").className="active";
                break;
			default:
				document.getElementById("cta_all").className="active";
        }
        _gridtable.datagrid({queryParams:{status:v}});
    }
	
	/**
    *搜索子订单
    */
	function add(id){
		$('#add_box').iDialog({  //对话框参数
			title: '增加换货记录',
			width:400,
			height:'auto',
			modal:true
		});
    }
	/**
    *Ajax获取子订单
    */
	function getoid(){
		var tid = $.trim($("#add_tid").val());
		$.getJSON('{:U("Seller/Trade/getoid/")}/tid/'+tid,function(data){
			if(data.status){
				var html = "";
				var oid = data.info;
				for(var i=0;i<oid.length;i++) {
					html+='<div class="input-prepend input-append disi mr5"><button type="button" class="btn add-on" onclick="addService('+$.trim(oid[i].oid)+');">添加'+oid[i].outer_iid+'</button><span class="add-on">'+oid[i].sku_properties_name+'</span></div><br />';
				}
				$('#oidList').html(html);
			}else{
				$('#oidList').html(data.info);
			}
		});
	};

	/**
    *添加记录
    */
	function addService(oid){
		$('#add_box').dialog('close');
		msgbox.iDialog({
			title:'编辑换货记录：'+oid,
			href:'{:U('add')}/model/niffer/oid/'+oid,
			width:450,
			height:'auto',
			submit:function(){
				$('#NifferForm').form('submit',{
					url:'{:U('add')}/model/niffer/oid/'+oid+'/ajax/1',
					success:function(data){
						var s = jQuery.parseJSON(data);	
						if (s.status) {
							$("body").iTips({content:s.info,css:'success'});
							_gridtable.datagrid('reload');
							msgbox.dialog('close');
						}else{
							$("body").iTips({content:s.info,css:'error'});
						}
					}
				});
				return false;
			}
		});
    }
	/**
    *配货
    */
	function importServ(id){
		var s;
		if (id) {
			s = id;
		}else{
			s = checkselect('nifferList', 'id');
		}
		if(s != ''){
            msgbox.iDialog({
				title:'加入配货单：',
				href:'{:U('Seller/Invoice/iptserv')}/model/niffer/id/'+s,
				width:400,
				height:'auto',
				submit:function(){
					$('#ImportForm').form('submit',{
						url:'{:U('Seller/Invoice/iptserv')}/ajax/1',
						success:function(data){
							var s = jQuery.parseJSON(data);	
							if (s.status) {
								$("body").iTips({content:s.info,css:'success'});
								_gridtable.datagrid('reload');
								msgbox.dialog('close');
							}else{
								$("body").iTips({content:s.info,css:'error'});
							}
						}
					});
					return false;
				}
			});
        }else{
            $('body').iTips({content:'至少选择一条进行操作',css:'warning'});
        }
	}
	
	/**
    *删除
    */
	function del(id){
		var s;
		if (id) {
			s = id;
		}else{
			s = checkselect('nifferList', 'id');
		}
        if(s != ''){
            $.messager.confirm('确认删除吗？','确认要删除此记录吗',function(r){ 
				if (r) {
					$.getJSON('{:U('del')}/model/niffer/delid/'+s,function(data){
						if(data.status){
							 $('body').iTips({content:data.info,css:'success'});
							 _gridtable.datagrid('reload');
						} else {
							 $('body').iTips({content:data.info,css:'error'});
						}
					}); 
				}
            });
        }else{
            $('body').iTips({content:'至少选择一条进行操作',css:'warning'});
        }
    }
	
	/**
    *物流信息
    */
	function delivery(company,sid){
		msgbox.iDialog({
			title: '物流信息',
			href:'{:U('Seller/Logistics/kingdee')}/company/'+company+'/sid/'+sid,
			width:600,
			height:'auto',
			modal:true
		});
	}
	
    /**
    *用户操作
    */
	function useract(act,id){
		var msg;
        switch(act){
			case 'view':
                msgbox.iDialog({
					title: '基本信息',
					href:'{:U('view')}/model/niffer/id/'+id,
					width:500,
					height:'auto',
					modal:true
				});
				break;
            case 'edit':
                msgbox.iDialog({
                    title:'编辑换货记录：'+id,
					href:'{:U('edit')}/model/niffer/id/'+id,
					resizable:true,
                    width:450,
					//height:500,
                    height:'auto',
                    submit:function(){
                        $('#NifferForm').form('submit',{
                            url:'{:U('edit')}/model/niffer/id/'+id+'/ajax/1',
                            success:function(data){
                                var s = jQuery.parseJSON(data);	
                                if (s.status) {
                                    $("body").iTips({content:s.info,css:'success'});
                                    _gridtable.datagrid('reload');
									msgbox.dialog('close');
                                }else{
                                    $("body").iTips({content:s.info,css:'error'});
                                }
                            }
                        });
                        return false;
                    }
                });
                break;
			case 're_logistics':
				$('#logistics_box').iDialog({  //对话框参数
					title: '填写退货物流信息',
					width:300,
					height:'auto',
					modal:true,
					submit:function(){
						var url = "{:U('edit')}/model/niffer/id/"+id;
						var company = $.trim($("#company").val());
						var sid = $.trim($("#sid").val());
						var status = "退货中";
						$.post(url,{id:id,receiver_company:company,receiver_sid:sid,status:status},function(data){
							if (data.status) {
								$("body").iTips({content:data.info,css:'success'});
								_gridtable.datagrid('reload');
								$('#logistics_box').dialog('close');
							}else{
								$("body").iTips({content:data.info,css:'error'});
							}
						});
					}
            	});
				break;
			case 'se_logistics':
				$('#logistics_box').iDialog({  //对话框参数
					title: '填写发货物流信息',
					width:300,
					height:'auto',
					modal:true,
					submit:function(){
						var url = "{:U('edit')}/model/niffer/id/"+id;
						var company = $.trim($("#company").val());
						var sid = $.trim($("#sid").val());
						var status = "退货中";
						$.post(url,{id:id,send_company:company,send_sid:sid},function(data){
							if (data.status) {
								$("body").iTips({content:data.info,css:'success'});
								_gridtable.datagrid('reload');
								$('#logistics_box').dialog('close');
							}else{
								$("body").iTips({content:data.info,css:'error'});
							}
						});
					}
            	});
				break;
            case 'receiver':
			case 'send':
			case 'finish':
				$.messager.confirm('确认操作？','确认要操作此记录吗',function(r){ 
					if (r) {
						$.getJSON('{:U('act')}/model/niffer/act/'+act+'/id/'+id,function(data){
							if(data.status){
								 $('body').iTips({content:data.info,css:'success'});
								 _gridtable.datagrid('reload');
							} else {
								 $('body').iTips({content:data.info,css:'error'});
							}
						}); 
					}
				});
				break;
		}
    }
	
    /**
    *返回gridtable被选中的行的值
    *@param gridid gridtable的id
    *@param field 要返回值的字段名
    *@author denglh
    */
    function checkselect(gridid, field){
        var gridtable = $('#'+gridid);
        var selectid = gridtable.datagrid('getSelections');
        var nums = selectid.length;
        var trans_str = ""; 
        for(var i=0;i<nums;i++) {
            trans_str += selectid[i][field]+",";
        }
        if(nums>0){
            return trans_str;
        } else {
            return '';
        }
    }
	
    /*
     * 简单搜素提交处理  zyb
     */
    function fnSearchSubmit(event,isClick){
        var myEvent = window.event || event;
        if(myEvent.keyCode==13 || isClick){
            if (trim( $("#searchinput").val() ) != "") {
                switchctatype('all');
				_gridtable.datagrid({
                    queryParams:{
                        keyword : $("#searchinput").val()
                    }
                });
            }
        }
    }
    
    /**
     * 显示高级搜素弹出框,并做提交处理   zyb
     */
    function showAdvanceSearchMenu(submitBtn){
        var oSearchNode = $('#searchdiv');
        oSearchNode.iDialog({
                title: '高级搜素',
                modal:true,
                width:'420',
                height:'auto',
                submit:function(){
                    oSearchNode.dialog('close');
					switchctatype($('#status').val());
                    _gridtable.datagrid({
                        queryParams:{
							tid:$('#tid').val(),
							sid:$('#sid2').val(),
                            status:$('#status').val(),
                            begindate:$('#begindate').val(),
                            enddate:$('#enddate').val()
                        }
                    });
                }
            });
    }
</script>
<mc:tpl file="Public/footer" />