<form name="ReissueForm" id="ReissueForm" method="post">
    <div class="mbm">
        <table class="table table-bordered table-subfield">
            <tr>
                <th>原因</th>
                <td colspan="3">{:Form::radio(array("虚假发货"=>"虚假发货","漏发"=>"漏发","丢包"=>"丢包","改投"=>"改投","缺货"=>"缺货","其他"=>"其他"), 'reason', $info['reason'])}</td>
            </tr>
            <tr>
                <th>状态</th>
                <td colspan="3">{:Form::radio(array("跟踪中"=>"跟踪中","已发货"=>"已发货","完成"=>"完成"), 'status', $info['status'])}</td>
            </tr>
            <tr>
                <th>快递</th>
                <td>{:Form::logistics('company', $info['company'])}</td>
                <th>单号</th>
                <td><input type="text" class="span6" name="sid" value="{$info['sid']}" style="width:150px;" /></td>
            </tr>
            <tr>
                <th>备注</th>
                <td colspan="3">
                    <textarea name="memo" style="height:40px; width:300px;">{$info['memo']}</textarea>
                    <notempty name="info['id']"><input type="hidden" name="id" value="{$info['id']}"></notempty>
                    <input type="hidden" name="tid" value="{$info['tid']}">
                    <input type="hidden" name="oid" value="{$info['oid']}">
                </td>
            </tr>
        </table>
    </div>
</form>
