<h2 class="sub-title bbslb">
	<em class="sub-title-ud">差价记录</em>
    <span class="ntc_l"><a href="javascript:void(0)" class="btn" onclick="edit('Fund',{$tid})" title="增加差价记录">增加</a></span>
</h2>
<notempty name="fund">
<table class="table">
    <thead>
        <tr>
            <th>原因</th>
            <th>状态</th>
            <th>金额</th>
            <th>类型</th>
            <th>创建日期</th>
        </tr>
    </thead>
    <tbody>
    <volist name="fund" id="v">
        <tr id="fund_{$v['id']}">
            <td>{$v['reason']}</td>
            <td>{$v['status']}</td>
            <td>{$v['money']}</td>
            <td>{$v['type'] ? '收入' : '支出'}</td>
            <td>{:format_date($v['created'],0)}</td>
        </tr>
    </volist>
    </tbody>     
</table>
</notempty>
<h2 class="sub-title bbslb">
	<em class="sub-title-ud">沟通记录</em>
    <span class="ntc_l"><a href="javascript:void(0)" class="btn" onclick="edit('Talk',{$tid})" title="增加沟通记录">增加</a></span>
</h2>
<notempty name="talk">
<table class="table">
    <thead>
        <tr>
            <th>原因</th>
            <th>状态</th>
            <th>备注</th>
            <th>创建日期</th>
        </tr>
    </thead>
    <tbody>
    <volist name="talk" id="v">
        <tr id="talk_{$v['id']}">
            <td>{$v['reason']}</td>
            <td>{$v['status']}</td>
            <td>{$v['memo']}</td>
            <td>{:format_date($v['created'],0)}</td>
        </tr>
    </volist>
    </tbody>     
</table>
</notempty>
<h2 class="sub-title bbslb">
	<em class="sub-title-ud">换货记录</em>
    <notempty name="oid"><span class="ntc_l"><a href="javascript:void(0)" class="btn" onclick="edit('Niffer',{$oid})" title="增加换货记录">增加</a></span></notempty>
</h2>
<notempty name="niffer">
<table class="table">
    <thead>
        <tr>
            <th>编码</th>
            <th>宝贝属性</th>
            <th>数量</th>
            <th>原因</th>
            <th>状态</th>
            <th>创建日期</th>
            <th>配货日期</th>
        </tr>
    </thead>
    <tbody>
    <volist name="niffer" id="v">
        <tr id="niffer_{$v['id']}">
            <td>{$v['outer_iid']}</td>
            <td>{$v['properties_name']}</td>
            <td>{$v['num']}</td>
            <td>{$v['reason']}</td>
            <td>{$v['status']}</td>
            <td>{:format_date($v['created'],0)}</td>
            <td>{$v['invoice'] ? format_date($v['invoice'],0) : '/'}</td>
        </tr>
    </volist>
    </tbody>     
</table>
</notempty>
<h2 class="sub-title bbslb">
	<em class="sub-title-ud">退货记录</em>
    <notempty name="oid"><span class="ntc_l"><a href="javascript:void(0)" class="btn" onclick="edit('Back',{$oid})" title="增加退货记录">增加</a></span></notempty>
</h2>
<notempty name="back">
<table class="table">
    <thead>
        <tr>
            <th>子订单</th>
            <th>原因</th>
            <th>状态</th>
            <th>物流公司</th>
            <th>运单号</th>
            <th>创建日期</th>
        </tr>
    </thead>
    <tbody id="doc_content">
    <volist name="back" id="v">
      <tr id="back_{$v['id']}">
            <td>{$v['oid']}</td>
            <td>{$v['reason']}</td>
            <td>{$v['status']}</td>
            <td>{$v['company']}</td>
            <td>{$v['sid']}</td>
            <td>{:format_date($v['created'],0)}</td>
        </tr>
    </volist>
    </tbody>     
</table>
</notempty>
<h2 class="sub-title bbslb">
	<em class="sub-title-ud">补发记录</em>
    <notempty name="oid"><span class="ntc_l"><a href="javascript:void(0)" class="btn" onclick="edit('Reissue',{$oid})" title="增加补发记录">增加</a></span></notempty>
</h2>
<notempty name="reissue">
<table class="table">
    <thead>
        <tr>
            <th>子订单</th>
            <th>原因</th>
            <th>状态</th>
            <th>物流公司</th>
            <th>创建日期</th>
            <th>配货日期</th>
        </tr>
    </thead>
    <tbody>
    <volist name="reissue" id="v">
        <tr id="reissue_{$v['id']}">
            <td>{$v['oid']}</td>
            <td>{$v['reason']}</td>
            <td>{$v['status']}</td>
            <td>{$v['company']}</td>
            <td>{:format_date($v['created'],0)}</td>
            <td>{$v['invoice'] ? format_date($v['invoice'],0) : '/'}</td>
        </tr>
    </volist>
    </tbody>     
</table>
</notempty>