<!--container begin-->
<div class="wp cl" id="container">
    <!--mainer begin-->
    <div class="mainer" id="mainer">
        <div class="tabs-wrap">
            <ul class="nav nav-tabs mbm">
                <li <eq name="ACTION_NAME" value="index">class="active"</eq>><a href="{:U('index')}">所有售后</a></li>
                <li <eq name="ACTION_NAME" value="niffer">class="active"</eq>><a href="{:U('niffer')}">换货记录</a></li>
                <li <eq name="ACTION_NAME" value="reissue">class="active"</eq>><a href="{:U('reissue')}">补发记录</a></li>
                <li <eq name="ACTION_NAME" value="back">class="active"</eq>><a href="{:U('back')}">退货记录</a></li>
                <li <eq name="ACTION_NAME" value="talk">class="active"</eq>><a href="{:U('talk')}">沟通记录</a></li>
                <li <eq name="ACTION_NAME" value="fund">class="active"</eq>><a href="{:U('fund')}">差价记录</a></li>
            </ul>
        </div>