<form name="TalkForm" id="TalkForm" method="post">
    <div class="mbm">
        <table class="table table-bordered table-subfield">
            <tr>
                <th width="15%">原因</th>
                <td>{:Form::radio(array("质量"=>"质量","物流"=>"物流","缺货"=>"缺货","运费"=>"运费","丢包"=>"丢包","改码"=>"改码","恶意"=>"恶意","价格"=>"价格","发票"=>"发票","其他"=>"其他"), 'reason', $info['reason'])}</td>
            </tr>
            <tr>
                <th>状态</th>
                <td>{:Form::radio(array("跟踪中"=>"跟踪中","失败"=>"失败","完成"=>"完成"), 'status', $info['status'])}</td>
            </tr>
            <tr>
                <th>备注</th>
                <td>
                    <textarea name="memo" style="height:40px; width:250px;">{$info['memo']}</textarea>
                    <notempty name="info['id']"><input type="hidden" name="id" value="{$info['id']}"></notempty>
                    <input type="hidden" name="tid" value="{$info['tid']}">
                </td>
            </tr>
        </table>
    </div>
</form>
