<form name="ShopForm" id="ShopForm" method="post">
    <div class="mbm">
        <table class="tbl2">
            <tr>
                <th style="width: 15%">名称</th>
                <td colspan="3"><input type="text" class="span6" name="title" id="title" value="{$info['title']}" style="width:150px;" /></td>
            </tr>
            <tr>
                <th>昵称</th>
                <td colspan="3"><input type="text" class="span6" name="nick" id="nick" value="{$info['nick']}" style="width:150px;" /></td>
            </tr>
            <tr>
                <th>类别</th>
                <td colspan="3">
                	{:Form::radio(array(1=>"网销",20=>"竞争",30=>"业界",100=>"批发",110=>"厂家",50=>"分店"), 'source', $info['source'])}
                </td>
            </tr>
            <tr>
                <th>位置</th>
                <td colspan="3">
                    {:Form::radio(array("星座"=>"星座","置地"=>"置地","中星"=>"中星","九星"=>"九星","九天"=>"九天","新韩派"=>"新韩派","科达"=>"科达","自由港"=>"自由港","贰号基地"=>"贰号基地","星座女装"=>"星座女装","其他"=>"其他"), 'location', $info['location'])}
                </td>
            </tr>
            <tr>
                <th>服务内容</th>
                <td colspan="3">
                	{:Form::checkbox(array("直销"=>"直销","仿牌"=>"仿牌","图片"=>"图片","数据包"=>"数据包","拍照"=>"拍照","代发"=>"代发","退货"=>"退货","换款"=>"换款","换码"=>"换码"), 'business[]', $info['business'])}
                </td>
            </tr>
            
                                      
            <tr>
                <th>联系人</th>
                <td><input type="text" class="span6" name="contact" id="contact" value="{$info['contact']}" style="width:120px;" /></td>
                <th style="width: 15%">联系方式</th>
                <td><input type="text" class="span6" name="phone" id="phone" value="{$info['phone']}" style="width:120px;" /></td>
            </tr>
            <tr>
                <th>企业QQ</th>
                <td><input type="text" class="span6" name="qq" id="qq" value="{$info['qq']}" style="width:120px;" /></td>
                <th>QQ群</th>
                <td><input type="text" class="span6" name="qqgroup" id="qqgroup" value="{$info['qqgroup']}" style="width:120px;" /></td>
            </tr>
            <tr>
                <th>数据包</th>
                <td colspan="3"><input type="text" class="span6" name="csv_path" id="csv_path" value="{$info['csv_path']}" style="width:200px;" /></td>
            </tr>
            <tr>
                <th>说明</th>
                <td colspan="3">
                    <textarea name="memo" id="memo" style="height:40px; width:300px;">{$info['memo']}</textarea>
                    <eq name="ACTION_NAME" value="edit"><input type="hidden" name="id" value="{$info[id]}"></eq>
                </td>
            </tr>
        </table>
    </div>
</form>