<mc:tpl file="Public/header" />
<mc:tpl file="Public/navmenu" />
<!--container begin-->
<div class="wp cl" id="container">
    <!--mainer begin-->
    <div class="mainer" id="mainer">
        <div class="tabs-wrap">
            <ul class="nav nav-tabs mbm">
                <li <eq name="ACTION_NAME" value="index">class="active"</eq>><a href="{:U('index')}">网销</a></li>
                <li <eq name="ACTION_NAME" value="niffer">class="active"</eq>><a href="{:U('index')}">竞争</a></li>
                <li <eq name="ACTION_NAME" value="reissue">class="active"</eq>><a href="{:U('index')}">业界</a></li>
                <li <eq name="ACTION_NAME" value="back">class="active"</eq>><a href="{:U('index')}">批发</a></li>
                <li <eq name="ACTION_NAME" value="talk">class="active"</eq>><a href="{:U('index')}">厂家</a></li>
                <li <eq name="ACTION_NAME" value="fund">class="active"</eq>><a href="{:U('index')}">分店</a></li>
            </ul>
        </div>
        <div id="listhead" class="well well-mini mbm">
            <!--搜索栏输入框-->
            <div class="mn-scbox input-append">
            	<input type="text" name="" id="searchinput" class="w200 xc1" placeholder="搜素订单编号、物流单号、备注…" onfocus="
                    !function(o){
                        $(o).next().find('i').attr('class', 'i_g i-sc-enter');
                        $(o).blur(function(){
                            var objNextBtn = $(this).next();
                            if(this.value==''){
                                objNextBtn.find('i').attr('class', 'i_g i-sc-config');
                                objNextBtn.attr('onclick','showAdvanceSearchMenu(this)');
                            }else{
                                objNextBtn.attr('onclick','fnSearchSubmit(event,true)');
                            }
                        });
                    }(this);
            " onkeydown="fnSearchSubmit(event);"/><button class="btn add-on" id="sc_btn" onclick="showAdvanceSearchMenu(this);"><i class="i_g i-sc-config"></i></button>
            <span onclick="" id="searchIcon" class="i_g i-sc-search cur1"></span> 
        </div>
            <!--搜索栏输入框end-->
            <div class="nowrap left">
                <span class="btn_sepline z"></span>
                <button type="button" onclick="useract('add');" class="btn btn-primary"><span>增加</span></button>
                <button type="button" onClick="del()" class="btn"><span>删除</span></button>
            </div>
        </div>
        <div class="tabs-wrap">
            <ul class="nav nav-tabs mbm">
                <li id="cta_all" class="active"><a href="javascript:switchctatype('');">所有位置</a></li>
                <li id="cta_1" class=""><a href="javascript:switchctatype('星座');">星座</a></li>
                <li id="cta_2" class=""><a href="javascript:switchctatype('置地');">置地</a></li>
                <li id="cta_3" class=""><a href="javascript:switchctatype('中星');">中星</a></li>
                <li id="cta_4" class=""><a href="javascript:switchctatype('九星');">九星</a></li>
                <li id="cta_5" class=""><a href="javascript:switchctatype('九天');">九天</a></li>
                <li id="cta_6" class=""><a href="javascript:switchctatype('新韩派');">新韩派</a></li>
                <li id="cta_7" class=""><a href="javascript:switchctatype('科达');">科达</a></li>
                <li id="cta_8" class=""><a href="javascript:switchctatype('自由港');">自由港</a></li>
                <li id="cta_9" class=""><a href="javascript:switchctatype('贰号基地');">贰号基地</a></li>
                <li id="cta_10" class=""><a href="javascript:switchctatype('星座女装');">星座女装</a></li>
                <li id="cta_11" class=""><a href="javascript:switchctatype('其他');">其他</a></li>
            </ul>
        </div>
        <!--listhead-->
        <table id="ShopList" url="{:U('index',array('ajax'=>1))}" pagination='true' idField='id' fitColumns='true' showGroup="true" scrollbarSize="0">
            <thead>
                <tr>
                    <th field="id" checkbox="true">选择</th>
                    <th field="title" width="18" sortable="true"><u>名称</u></th>
                    <th field="nick" width="18" sortable="true"><u>昵称</u></th>
                    <th field="location" width="15" sortable="true"><u>位置</u></th>
                    <th field="goods" width="8">商品数</th>
                    <th field="phone" formatter="morephone">联系方式</th>
                    <th field="memo" width="15" formatter="moredesc">说明</th>
                    <th field="option" width="20" formatter="resoptiongetlink">操作</th>
                </tr>
            </thead>
        </table>
        <div id="interviewinfo"></div>
        <div id="remarkinfo"></div>
        <div id="listfoot" class="toolbg toolbgline toolheight nowrap cl"></div>
        <div id="searchdiv" style="display: none;background:#FFF;" class="searchdiv">
            <div class="content">
                <div class="settingtd settingdiv">
                    <table cellspacing="0" cellpadding="4" border="0">
                        <tbody>
                            <tr>
                                <td class="td_right" width="80">&nbsp;名称&nbsp;：</td>
                                <td>
                                    <input type="text" name="title" id="title" class="w150"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_right">旺旺ID：</td>
                                <td>
                                    <input type="text" name="nick" id="nick" class="w150"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_right">类别：</td>
                                <td>{:Form::select(array(1=>"网销",20=>"竞争",30=>"业界",100=>"批发",110=>"厂家",50=>"分店"), 'source')}</td>
                            </tr>
                            <tr>
                                <td class="td_right">位置：</td>
                                <td>{:Form::select(array("星座"=>"星座","置地"=>"置地","中星"=>"中星","九星"=>"九星","九天"=>"九天","新韩派"=>"新韩派","科达"=>"科达","自由港"=>"自由港","贰号基地"=>"贰号基地","星座女装"=>"星座女装","其他"=>"其他"), 'location')}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="settingtd settingdiv">
                    <table cellspacing="0" cellpadding="4" border="0">
                        <tbody>
                            <tr>
                                <td class="td_right" width="80">开始时间：</td>
                                <td>
                                    <div class="input-append">
                                        <input type="text" id="begindate" name="begindate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true}); this.blur()"><button type="button"
                                        class="btn add-on" onclick="WdatePicker({el:'begindate', dateFmt:'yyyy-MM-dd',isShowClear:true});"><i class="i_g i-date"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_right" width="80">结束时间：</td>
                                <td>
                                    <div class="input-append">
                                        <input type="text" id="enddate" name="enddate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true}); this.blur()" ><button type="button"
                                        class="btn add-on" onclick="WdatePicker({el:'enddate', dateFmt:'yyyy-MM-dd',isShowClear:true});"><i class="i_g i-date"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--mainer end-->
</div>
<div id="imp_show" class="mainer hide"></div>
<script type="text/javascript">
    var msgbox = $("<div id='d'></div>");
	var _gridtable=$('#ShopList');
    var _queryParams={};
	$(document).ready(function(){
        _gridtable.datagrid({
            sortName: 'id',
            sortOrder: 'desc',
            striped: true,
            onClickRow:function(rowIndex,rowData){_gridtable.datagrid('unselectRow',rowIndex)}
        });
    })
    function resoptiongetlink(val,rec) {
        aViewCond = rec.pagecondition ;
        var html = '';
        html += "&nbsp;&nbsp;<a href='http://shop"+rec.sid+".taobao.com' target='_blank' class='xi2'>查看</a>";
		html += '&nbsp;&nbsp;<a href="javascript:;" onclick="useract(\'edit\','+rec.id+')" class="xi2">修改</a>';
		html += '&nbsp;&nbsp;<a href="javascript:;" onclick="syn(\''+rec.nick+'\')" class="xi2">下载</a>';
        return html;
    }
	
	function moredesc(val,rec){
        var desc = '';
        var html='';
        if(rec.desc!='') {
            html+="<div id='moredesc_"+rec.id+"_menu' class='tip tip_4 ct_info' style='display:none;'>";
            html+="<div class='tip_horn'></div>";
            html+="<div class='rm_content' style='padding:5px 10px 10px 10px;'><span class='xc1'>说明:</span>";
            html+="<div class='tip_c'></div></div></div>";	
            $('#moredesc').append(html);
            $('#moredesc_'+rec.id+'_menu .tip_c').html(val);
            desc += "<span style='display:block;' id='moredesc_"+ rec.id +"' onmouseover=\"showMenu({'ctrlid':this.id, 'pos':'12!'});\">"+val+"</span>";
        }
        return desc;
    }
	
	function morephone(val,rec){
        var phone = '';
        var html='';
        if(rec.phone!='') {
            html+="<div id='morephone_"+rec.id+"_menu' class='tip tip_4 ct_info' style='display:none;'>";
            html+="<div class='tip_horn'></div>";
            html+="<div class='rm_content' style='padding:5px 10px 10px 10px;'><span class='xc1'>联系方式:</span>";
            html+="<div class='tip_c'></div></div></div>";
            $('#morephone').append(html);
            $('#morephone_'+rec.id+'_menu .tip_c').html(val);
            phone += "<span style='display:block;' id='morephone_"+ rec.id +"' onmouseover=\"showMenu({'ctrlid':this.id, 'pos':'12!'});\">"+val+"</span>";
        }
        return phone;
    }
	
    //双击数据行响应事件
    function _onDblClickRow(rowIndex,rowData){
        //window.open("/Seller/Invoice/"+rowData.id+"");
		return;
    }
	
	//状态栏变更
    function switchctatype(v){
        contract_tab = v ;
        document.getElementById("cta_all").className="";
        document.getElementById("cta_1").className="";
		document.getElementById("cta_2").className="";
		document.getElementById("cta_3").className="";
		document.getElementById("cta_4").className="";
        switch(v){
            case '星座':
                document.getElementById("cta_1").className="active";
                break;
			case '置地':
                document.getElementById("cta_2").className="active";
                break;
			case '中星':
                document.getElementById("cta_3").className="active";
                break;
			case '九星':
                document.getElementById("cta_4").className="active";
                break;
			default:
				document.getElementById("cta_all").className="active";
        }
        _gridtable.datagrid({queryParams:{location:v}});
    }
	
	function del(id){
		var s;
		if (id) {
			s = id;
		}else{
			s = checkselect('ShopList', 'id');
		}
        if(s != ''){
            $.messager.confirm('确认删除吗？','注意！这会将所属的商品一并删除！',function(r){ 
				if (r) {
					$.getJSON('{:U('del')}/delid/'+s,function(data){
						if(data.status){
							 $('body').iTips({content:data.info,css:'success'});
							 _gridtable.datagrid('reload');
						} else {
							 $('body').iTips({content:data.info,css:'error'});
						}
					});
				}
            });
        }else{
            $('body').iTips({content:'至少选择一条进行操作',css:'warning'});
        }
    }
	
	/**
    *用户操作
    */
	function useract(act,id){
		var msg;
        switch(act){
            case 'add':
            case 'edit':
                var lang,hrefurl;
                if(act=='edit') {
					hrefurl = '{:U('edit')}/id/'+id;
					lang = '编辑商家';
                } else {
					hrefurl = '{:U('edit')}';
					lang = '添加商家';
                }
                msgbox.iDialog({
                    title:lang,
                    href:hrefurl,
                    width:550,
                    height:'auto',
                    submit:function(){
					$('#ShopForm').form('submit',{
						url:'{:U('edit', array('ajax'=>1))}',
						success:function(data){
							var s = jQuery.parseJSON(data);	
							if (s.status) {
								$("body").iTips({content:s.info,css:'success'});
								_gridtable.datagrid('reload');
								msgbox.dialog('close');
							}else{
								$("body").iTips({content:s.info,css:'error'});
							}
						}
					});
					return false;
                }
                }); 
                break;
        }
    }

	function syn(nick){
		$.messager.confirm('确认同步吗？','确认要同步'+nick+'的货源吗？',function(r){ 
			if (r) {
				$.getJSON('{:U('Seller/Goods/collect')}/nick/'+nick,function(data){
					if(data.status){
						$('body').iTips({content:data.info,css:'success'});
						msgbox.iDialog({
							title: data.info,
							width:250,
							height:'1',
							nobtns:true,
							shadow:true
						});
                        collect_page();
					} else {
						 $('body').iTips({content:data.info,css:'error'});
					}
				}); 
			}
		});
	}
	
    function collect_page(){
        $.getJSON("{:U('Seller/Goods/syn')}", function(result){
            if(result.statu){
                collect_page();
            }else{
				$("body").iTips({content:result.info,css:'success'});
                msgbox.dialog('close');
				_gridtable.datagrid('reload');
            }
        });
    }
	
    /**
    *返回gridtable被选中的行的值
    *@param gridid gridtable的id
    *@param field 要返回值的字段名
    *@author denglh
    */
    function checkselect(gridid, field){
        var gridtable = $('#'+gridid);
        var selectid = gridtable.datagrid('getSelections');
        var nums = selectid.length;
        var trans_str = ""; 
        for(var i=0;i<nums;i++) {
            trans_str += selectid[i][field]+",";
        }
        if(nums>0){
            return trans_str;
        } else {
            return '';
        }
    }
	
    /*
     * 简单搜素提交处理  zyb
     */
    function fnSearchSubmit(event,isClick){
        var myEvent = window.event || event;
        if(myEvent.keyCode==13 || isClick){
            if (trim( $("#searchinput").val() ) != "") {
                switchctatype('all');
				_gridtable.datagrid({
                    queryParams:{
                        keyword : $("#searchinput").val()
                    }
                });
            }
        }
    }
    
    /**
     * 显示高级搜素弹出框,并做提交处理   zyb
     */
    function showAdvanceSearchMenu(submitBtn){
        var oSearchNode = $('#searchdiv');
        oSearchNode.iDialog({
                title: '高级搜素',
                modal:true,
                width:'320',
                height:'auto',
                submit:function(){
                    oSearchNode.dialog('close');
					switchctatype($('#status').val());
                    _gridtable.datagrid({
                        queryParams:{
							title:$('#title').val(),
							nick:$('#nick').val(),
                            location:$('#location').val(),
							source:$('#source').val(),
                            begindate:$('#begindate').val(),
                            enddate:$('#enddate').val()
                        }
                    });
                }
            });
    }
</script>
<mc:tpl file="Public/footer" />