<mc:tpl file="Public/header" />
<mc:tpl file="Public/navmenu" />
<!--container begin-->
<div class="ct2_a wp cl" id="container">
    <div class="sidebar">
    	<include file="sidebar" />
    </div>
    <!--mainer begin-->
    <div id="mainer" class="mainer cl">
		<div class="mainer-title">多店管理</div>
        <div id="listhead" class="well well-mini mbm">
            <div class="mn-scbox input-append">
            	<button type="button" onclick="location.href='http://container.api.taobao.com/container?appkey={$appkey}&amp;encode=utf-8'" class="btn btn-primary"><span>添加店铺</span></button>
            </div>
        </div>
        <div id="listbody" class="posr">
            <form id="moderate" autocomplete="off">
            <table class="table" >
            	<thead>
                	<tr>
                    	<th width="40">选择</th>
                        <th width="80">头像</th>
                        <th>店铺账户/ID</th>
                    	<th>店铺名称/等级</th>
                        <th width="120">创建/编辑时间</th>
                        <th width="120">最近登录</th>
                	</tr>
            	</thead>
            	<tbody id="doc_content">
                <volist name="shops" id="shop">
                	<tr id="shop_{$shop['user_id']}" class='dyl-item'>
                    	<td><input onclick="tmodclick(this);" id="moderate_{$shop['user_id']}" type="checkbox" value="{$shop['user_id']}" class="vm" /></td>
                    	<td >
                            <span><img src="{$shop['avatar']}" alt="用户头像" width="80" /></span>
                    	</td>
                    	<td class="span3">
                            <span class="xs2"><a href="http://shop{$shop['sid']}.taobao.com/" target="_blank" title="查看店铺首页">{$shop['nick']}</a></span><br />
                            <span class="art-addtime">{$shop['sid']}</span>
                    	</td>
                        <td>
                        	<span class="xs2">{$shop['shop_title']}</span><br />
                            <assign name="level" value="$shop['seller_credit']['level']" />
                            <noempty name="level"><img src="{:C('IMG_PATH')}rank/seller/{$level}.gif" alt="等级信息" /></noempty>
                    	</td>
                        <td>
                    		<span>{:format_date($shop['created'])}</span><br />
                            <span class="art-addtime">{:format_date($shop['modified'])}</span>
                    	</td>
                        <td>
                            <span class="art-addtime">{:format_date($shop['last_visit'])}</span>
                    	</td>
                	</tr>
                </volist>
            	</tbody>    
            </table> 
            <div id="mdly" style="display: none;">
                <input type="hidden" name="optgroup" />
                <input type="hidden" name="operation" />
                <a class="cp" href="javascript:;" title="隐藏" onclick="_id('mdly').className='cpd'"><i class="icon-chevron-right"></i>&nbsp;隐藏</a>
                <label>
                    <input type="checkbox" name="chkall" class="pc" onclick="if(!(_id('mdct').innerHTML = modclickcount = checkalldiray(this))) {_id('mdly').style.display = 'none';}" />全选
                    <span class="pipe">|</span>
                </label>
                <h6><span>选中</span><strong onclick="_id('mdly').className='';" id="mdct"></strong><span>条: </span></h6>
                <p>
                    <button type="button" class="btn" href="javascript:;" onclick="moddiray('del');return false;"><span><i class="icon-trash"></i>&nbsp;删除授权</span></button>
                    <span id="isedit">
                        <button type="button" class="btn" href="javascript:;" onclick="moddiray('edit');return false;"><span><i class="icon-pencil"></i>&nbsp;重新授权</span></button>
                    </span>
                    <span id="noedit">
                        <button type="button" class="btn disabled" href="javascript:;" ><span><i class="icon-pencil"></i>&nbsp;重新授权</span></button>
                    </span>
                </p>
            </div>
            </form>
        </div>

    </div>
    <!--mainer end-->
</div>
<!--container end-->
<script type="text/javascript">
    //新增快捷操作菜单 @dlh
    var modclickcount = 0; //全局，记录已选日志条数
    /*
     *记录已选日志条数，并显示快捷操作菜单
     *obj obj 选择框的对象
     */
    function tmodclick(obj) {
        if(obj.checked) {
            modclickcount++;
        } else {
            modclickcount--;
        }
        _id('mdct').innerHTML = modclickcount;
        if(modclickcount > 0) {
            var top_offset = obj.offsetTop;
			while((obj = obj.offsetParent).id != 'listbody') {
				top_offset += obj.offsetTop;
			}
            _id('mdly').style.top = top_offset - 7 + 'px';
            _id('mdly').style.display = 'block';
        } else {
            _id('mdly').style.display = 'none';
        }
        if(!_id('isedit')){
            return false;
        }else if(modclickcount==1){
            _id('isedit').style.display = '';
            _id('noedit').style.display = 'none';
        }else{
            _id('isedit').style.display = 'none';
            _id('noedit').style.display = '';
        }
    }

    /*
     *快捷操作
     *act del、edit
     */
    function moddiray(act){
        var diaids = '';
        var darr = $("#listbody .dyl-item :checked");
        for(i=0;i<darr.length;i++){
            if(darr.length == 1){
                diaids += darr[i].value;
            }else{
                diaids += ','+darr[i].value;
            }
        }
        switch(act){
            case 'del':
                $.messager.confirm('确认取消授权', '店铺授权取消便会删除所有相关记录，确认要取消？',function(bFlag){
                    if(bFlag){ //判断是否确定删除选择的数据
                        $.post('{:U('cancel')}',{delid:diaids},function(data){
                            if(data.status){
								$("body").iTips({content:data.info,css:'success'});	
                                for(i=0;i<darr.length;i++){ //遍历被删除的日志
                                    $('#shop_'+darr[i].value).hide(1000); //动态隐藏
                                    $('#shop_'+darr[i].value).empty(); //清空 也可以取消该日志的选择，如果只是隐藏，函数会继续操作被删除的日志
                                }
                                $('#mdly').hide(); //隐藏快捷操作菜单
                                modclickcount = 0; //重置
                            }else{
								$("body").iTips({content:data.info,css:'warning'});
							}
                        },'json');
                    }
                });
                break;
            case 'edit':
                location.href='http://container.api.taobao.com/container?appkey={$appkey}&amp;encode=utf-8';
                break;
        }
    }

    /*
     *全选日志
     *element 全选按钮对象
     */
    function checkalldiray(element){
        if(element.checked == true){
            $("#listbody .dyl-item [type=checkbox]").attr('checked',true);
            $('#isedit').hide();
            $('#noedit').show();
        }else{
            $("#listbody .dyl-item [type=checkbox]").attr('checked',false);
        }
        return $("#listbody .dyl-item :checked").length;
    }
</script>
<mc:tpl file="Public/footer" />