<mc:tpl file="Public/header" />
<mc:tpl file="Public/navmenu" />
<!--container begin-->
<div class="ct2_a wp cl" id="container">
    <!--side bar begin-->
    <div class="sidebar">
    	<include file="sidebar" />
    </div>
    <!--side bar end-->
    <!--mainer begin-->
    <div class="mainer" id="mainer">
        <div class="mainer-title">店铺基本设置<defined name="message">(保存成功)</defined></div>
        
        <form name="profilesform" id="profilesform" action="{:U('profiles')}" method="post">
        <div class="mbm mtm">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th width="80">店铺标题<i class="xcr">*</i></th>
                    <td width="500"><input name="title" id="title" onfocus="select();" size="50" value="{$shop['title']}" class="w_60 mr10" maxlength="100"></td>
                </tr>
                <tr>
                    <th>店铺公告<i class="xcr">*</i></th>
                    <td><textarea name="bulletin" id="bulletin" style="height:100px; width:200px;" onfocus="select();" class="w_60 mr10">{$shop['bulletin']}</textarea></td>
                </tr>
                <tr>
                    <th>店铺描述<i class="xcr">*</i></th>
                    <td><script type="text/plain" id="myeditor" name="desc">{$shop['desc']}</script>
					{:Form::editor('myeditor','basic',array('maximumWords'=>2000,'initialFrameHeight'=>100,'initialFrameWidth'=>600))}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="hm"><button onClick="send('profilesform');" id="sendprofiles" class="btn btn-primary btn-large"><span>保存</span></button></div>
        </form>
        
    </div>
</div>
<!--container end-->
<script src="static/js/form/formValidator-4.1.3.min.js" type="text/javascript"></script>
<script src="static/js/form/formValidatorRegex.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function(){
        $.formValidator.initConfig({ formID:"profilesform", mode:"AutoTip", theme: "115"});
        $("#title").formValidator({onFocus:" "})
        .inputValidator({ min:1,onError:"店铺标题不能为空"})
        $("#bulletin").formValidator({ onFocus:" "})
        .inputValidator({ min:10,onError:"店铺公告不能为空"})
    })
</script>
<mc:tpl file="Public/footer" />