<mc:tpl file="Public/header" />
<mc:tpl file="Public/navmenu" />
<!--container begin-->
<div class="ct2_a wp cl" id="container">
    <!--side bar begin-->
    <div class="sidebar">
    	<include file="sidebar" />
    </div>
    <!--side bar end-->
    <!--mainer begin-->
    <div class="mainer" id="mainer">
        <div class="mainer-title">一键上传设置</div>
        <form name="profilesform" id="profilesform" action="{:U('setting')}" method="post">
        <div class="mbm mtm">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th width="100">产品品牌<i class="xcr">*</i></th>
                    <td width="500"><input name="setting[brand]" value="{$setting['brand']}" class="w_20 mr10"></td>
                </tr>
                <tr>
                    <th>默认分类<i class="xcr">*</i></th>
                    <td>{:Form::select($cats, 'setting[seller_cids]', $setting['seller_cids'])}</td>
                </tr>
                <tr>
                    <th>默认邮费模版<i class="xcr">*</i></th>
                    <td>{:Form::select($post_templates, 'setting[postage_id]', $setting['postage_id'])}</td>
                </tr>
                <tr>
                    <th>默认详情页<i class="xcr">*</i></th>
                    <td>{:Form::select($item_templates, 'setting[template_id]', $setting['template_id'])}</td>
                </tr>
                <tr>
                    <th>提供发票<i class="xcr">*</i></th>
                    <td>{:Form::radio(array(1=>"提供发票 ",0=>"不提供发票"), 'setting[has_invoice]', $setting['has_invoice'])}</td>
                </tr>
                <tr>
                    <th>退换货承诺<i class="xcr">*</i></th>
                    <td>{:Form::radio(array(1=>"提供退换货服务 ",0=>"不提供退换货服务"), 'setting[sell_promise]', $setting['sell_promise'])}</td>
                </tr>
                <tr>
                    <th>会员打折<i class="xcr">*</i></th>
                    <td>{:Form::radio(array(1=>"参与会员打折 ",0=>"不参与会员打折"), 'setting[has_discount]', $setting['has_discount'])}</td>
                </tr>
                <tr>
                    <th>库存计数<i class="xcr">*</i></th>
                    <td>{:Form::radio(array(1=>"拍下减库存",2=>"付款减库存",0=>"淘宝默认"), 'setting[sub_stock]', $setting['sub_stock'])}</td>
                </tr>
                <tr>
                    <th>所在地<i class="xcr">*</i></th>
                    <td>{:Form::radio(array(1=>"默认",2=>"默认"), 'setting[location]', $setting['location'])}</td>
                </tr>
                <eq name="memberinfo['type']" value="b">
                <tr>
                    <th>积分返点比例<i class="xcr">*</i></th>
                    <td>
                    	<div class="input-prepend input-append disi mr5"><input name="setting[auction_point]" size="5" value="{$setting['auction_point']}"><span class="add-on">%%</span></div>
                        注意：返点比例必须是>0的整数，如:5,表示:返点比例0.5%。
                    </td>
                </tr>
                </eq>
                </tbody>
            </table>
        </div>
        <div class="hm"><button onClick="send('profilesform');" id="sendprofiles" class="btn btn-primary btn-large"><span>保存</span></button><notempty name="is_success">(保存成功)</notempty></div>
        </form>
        
    </div>
</div>
<!--container end-->
<mc:tpl file="Public/footer" />