        <h1><p class="sckeyword xc1">商家搜索</p></h1>
        <div id="art_query" class="scbox mtw">
        <form id="seach_form" action="{:U('index')}" method="get">
        	<p class="mbm xc1"><select style="width:140px;" name="status" id="work_status">
            	<option <empty name="location">selected</empty> value="">所有位置</option>
            	<option <eq name="location" value="星座">selected</eq> value="星座">星座</option>
            	<option <eq name="location" value="置地">selected</eq> value="置地">置地</option>
                <option <eq name="location" value="九天">selected</eq> value="九天">九天</option>
                <option <eq name="location" value="精品男装">selected</eq> value="精品男装">精品男装</option>
                <option <eq name="location" value="贰号基地">selected</eq> value="贰号基地">贰号基地</option>
                <option <eq name="location" value="星座女装">selected</eq> value="星座女装">星座女装</option>
                <option <eq name="location" value="中星">selected</eq> value="中星">中星</option>
                <option <eq name="location" value="九星">selected</eq> value="九星">九星</option>
                <option <eq name="location" value="新杭派">selected</eq> value="新杭派">新杭派</option>
                <option <eq name="location" value="意法">selected</eq> value="意法">意法</option>
                <option <eq name="location" value="科达">selected</eq> value="科达">科达</option>
                <option <eq name="location" value="自由港">selected</eq> value="自由港">自由港</option>
        	</select></p>
            <p><input class="mbm" type="text" size="23" value="{$keyword}" id="keyword" name="keyword" placeholder="商家名称、昵称、说明..."></p>
            <p class="mbm xc1 datebox">
                <label for="start_date">从</label>
                <input type="text" id="start_date" name="start_date" size="15" maxlength="15" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd', theme:'ibos'});"  value="{$start_date}" class="Wdate"></p>
            <p class="mbm xc1 datebox">
                <label for="end_date">至</label>
                <input type="text" id="end_date" name="end_date" size="15" maxlength="15" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd', theme:'ibos'});" value="{$end_date}" class="Wdate"></p>
            <button class="btn btn-primary" type="submit"><span>查询</span></button>
        </form>
        </div>