<mc:tpl file="Public/header" />
<mc:tpl file="Public/navmenu" />
<link rel="stylesheet" type="text/css" href="{:C('CSS_PATH')}trade.css" />
<!--container begin-->
<div class="wp cl" id="container">
    <!--mainer begin-->
    <div id="mainer" class="mainer cl">
    	<div class="tabs-wrap">
            <ul class="nav nav-tabs mbm">
                <li <if condition="!$_REQUEST['status'] && !$_REQUEST['refund'] && !$_REQUEST['rate'] && !$_REQUEST['closed'] &&!$_REQUEST['search']">class="active"</if>><a href="{:U('index')}">所有订单</a></li>
                <li <eq name="_REQUEST['status']" value="WAIT_BUYER_PAY">class="active"</eq>><a href="{:U('index', array('status'=>'WAIT_BUYER_PAY'))}">等待买家付款</a></li>
                <li <eq name="_REQUEST['status']" value="WAIT_SELLER_SEND_GOODS">class="active"</eq>><a href="{:U('index', array('status'=>'WAIT_SELLER_SEND_GOODS'))}">等待发货</a></li>
                <li <eq name="_REQUEST['status']" value="WAIT_BUYER_CONFIRM_GOODS">class="active"</eq>><a href="{:U('index', array('status'=>'WAIT_BUYER_CONFIRM_GOODS'))}">已发货</a></li>
                <li <eq name="_REQUEST['refund']" value="1">class="active"</eq>><a href="{:U('index', array('refund'=>1))}">退款中</a></li>
                <li <eq name="_REQUEST['rate']" value="1">class="active"</eq>><a href="{:U('index', array('rate'=>1))}">需要评价</a></li>
                <li <eq name="_REQUEST['status']" value="TRADE_FINISHED">class="active"</eq>><a href="{:U('index', array('status'=>'TRADE_FINISHED'))}">成功的订单</a></li>
                <li <eq name="_REQUEST['closed']" value="1">class="active"</eq>><a href="{:U('index', array('closed'=>1))}">关闭的订单</a></li>
                <button type="button" onClick="syn();" class="btn btn-primary"><span>同步订单</span></button>
            </ul>
        </div>
        <div id="listhead" class="well well-mini hideof mbm cl">
        	<div class="nowrap" id="options">
            <form method="post" name="queryform" id="diary_query_form" onsubmit="return checkquery();" action="{:U('index')}">
                <div class="y">
                    <select name="status">
                        <option value='' <?php if($_REQUEST['dealer']=='') echo 'selected';?>>订单状态</option>
                        <option value="WAIT_BUYER_PAY" <?php if($_REQUEST['status']=="WAIT_BUYER_PAY") echo 'selected';?>>等待买家付款</option>
                        <option value="WAIT_SELLER_SEND_GOODS" <?php if($_REQUEST['status']=="WAIT_SELLER_SEND_GOODS") echo 'selected';?>>等待卖家发货</option>
                        <option value="WAIT_BUYER_CONFIRM_GOODS" <?php if($_REQUEST['status']=="WAIT_BUYER_CONFIRM_GOODS") echo 'selected';?>>等待买家确认收货</option>
                        <option value="TRADE_FINISHED" <?php if($_REQUEST['status']=="TRADE_FINISHED") echo 'selected';?>>交易成功</option>
                        <option value="TRADE_CLOSED" <?php if($_REQUEST['status']=="TRADE_CLOSED") echo 'selected';?>>交易关闭</option>
                        <option value="TRADE_CLOSED_BY_TAOBAO" <?php if($_REQUEST['status']=="TRADE_CLOSED_BY_TAOBAO") echo 'selected';?>>交易自动关闭</option>
                    </select>
                    <select name="flag">
                            <option value='' <?php if($_REQUEST['flag']=='') echo 'selected';?>>所有旗帜</option>
                            <option value='0' <?php if($_REQUEST['flag']=='0') echo 'selected';?>>正常单(灰色)</option>
                            <option value='1' <?php if($_REQUEST['flag']=='1') echo 'selected';?>>问题单(红色)</option>
                            <option value='2' <?php if($_REQUEST['flag']=='2') echo 'selected';?>>退款单(黄色)</option>
                            <option value='3' <?php if($_REQUEST['flag']=='3') echo 'selected';?>>信誉单(绿色)</option>
                            <option value='4' <?php if($_REQUEST['flag']=='4') echo 'selected';?>>朋友单(蓝色)</option>
                            <option value='5' <?php if($_REQUEST['flag']=='5') echo 'selected';?>>其他单(粉红色)</option>
                    </select>
                    <div class="input-prepend input-append disi mr5">
                        <span class="add-on">从</span><input class="span2a" type="text" id="begindate" name="begindate" value="{$_REQUEST['begindate']}" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'%y-%M-%d'});"><button type="button" class="add-on btn input-add" onclick="WdatePicker({el:'begindate',dateFmt:'yyyy-MM-dd',maxDate:'%y-%M-%d'})"><i class="i_g i-date"></i></button>
                    </div>
                    <div class="input-prepend input-append disi mr5">
                        <span class="add-on">至</span><input class="span2a" type="text" id="enddate" name="enddate" value="{$_REQUEST['enddate']}" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'%y-%M-%d'});"><button type="button" class="add-on btn input-add" onclick="WdatePicker({el:'enddate',dateFmt:'yyyy-MM-dd',maxDate:'%y-%M-%d'});"><i class="i_g i-date"></i></button>
                    </div>
                    <div class="input-prepend input-append disi">
                        <span class="add-on"><i class="i_g i-search"></i></span><select name="searchtype">
                            <option value='0' <eq name="_REQUEST['searchtype']" value="0">selected</eq>>买家ID</option>
                            <option value='1' <eq name="_REQUEST['searchtype']" value="1">selected</eq>>收件人</option>
                            <option value='2' <eq name="_REQUEST['searchtype']" value="2">selected</eq>>联系电话</option>
                            <option value='3' <eq name="_REQUEST['searchtype']" value="3">selected</eq>>宝贝名称</option>
                            <option value='4' <eq name="_REQUEST['searchtype']" value="4">selected</eq>>订单编号</option>
                            <option value='5' <eq name="_REQUEST['searchtype']" value="5">selected</eq>>运单号</option>
                            <option value='6' <eq name="_REQUEST['searchtype']" value="6">selected</eq>>城市</option>
                        </select><input class="span" type="text" value="{$_REQUEST['keyword']}" id="keyword" name="keyword" placeholder="输入搜索关键字...">
                        <button class="btn add-on" type="submit" onclick="onSearch();"><i class="i_g i-sc-enter"></i></button>
                    </div>
                </div>
            </form>
        	</div>
        </div>
        <div id="listbody" class="item-list">
        <form id="moderate" autocomplete="off">
            <div class="item-list-bd">
                <table id="J_ListTable">
                <colgroup><col class="item-list-col0">
                    <col class="item-list-col1"><!-- 宝贝 -->
                    <col class="item-list-col2"><!-- 单价(元) -->
                    <col class="item-list-col3"><!-- 数量 -->
                    <col class="item-list-col4"><!-- 纠纷 -->
                    <col class="item-list-col6"><!-- 买家 -->
                    <col class="item-list-col7"><!-- 交易状态 -->
                    <col class="item-list-col8"><!-- 实收款(元) -->
                    <col class="item-list-col9"><!-- 评价 -->
                </colgroup>
                <thead>
                    <tr>
                        <th> </th>
                        <th class="item">宝贝</th>
                        <th class="price">单价(元)</th>
                        <th class="num">数量</th>
                        <th class="trouble">售后</th>
                        <th class="contact">买家</th>
                        <th class="trade-status">交易状态</th>
                        <th class="order-price">实收款(元)</th>
                        <th class="remark">评价</th>
                    </tr>
                </thead>
                <tbody class="act">
                    <tr>
                        <td colspan="9">
                            <div class="operations">
                                <input type="checkbox" name="chkall" class="all-selector" onclick="if(!(_id('mdct').innerHTML = modclickcount = checkalldiray(this))) {_id('mdly').style.display = 'none';}" /><label>全选</label>
                                <a id="plfh1" href="javascript:void(0)" class="J_MakePoint" data-point-url="http://log.mmstat.com/listsold.1.3">批量发货</a>
                                <a id="plbz1" href="javascript:void(0)" class="J_MakePoint" data-point-url="http://log.mmstat.com/listsold.1.5">批量备忘</a>
                                <a href="http://trade.taobao.com/trade/free_post_fee.htm" class="operation-btn J_BatchFreeShipping J_MakePoint" data-point-url="http://log.mmstat.com/listsold.1.4">批量免运费</a>
                                <span style="display:inline"><label class="show-hidden-orders" for="J_ShowHiddenOrder"><input type="checkbox" id="J_ShowHiddenOrder" onclick="switch_closeorder(this)">不显示已关闭的订单</label></span>
                                
                                <ul class="page-nav inline-block page-nav-simply">
                                    <li class="prev-page"><a href="#" class="disabled" onclick="javascript:void(0)">上一页</a></li>
                                    <li class="next-page"><a href="#" onclick="return changePage('2')">下一页</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <!--begin 订单块list begin -->
                <volist name="infos" id="info">
                <php>$action = TradeAction($info['status'])</php>
                <tbody id="trade_{$info['tid']}" class="order">
                	<include file="trade" />
                </tbody>
                </volist>
            </table>
            </div>   
            </form>
    
            <div id="mdly" style="display: none;">
                <input type="hidden" name="optgroup" />
                <input type="hidden" name="operation" />
                <a class="cp" href="javascript:;" title="隐藏" onclick="_id('mdly').className='cpd'"><i class="icon-chevron-right"></i>&nbsp;隐藏</a>
                <label>
                    <input type="checkbox" name="chkall" class="pc" onclick="if(!(_id('mdct').innerHTML = modclickcount = checkalldiray(this))) {_id('mdly').style.display = 'none';}" />全选
                    <span class="pipe">|</span>
                </label>
                <h6><span>选中</span><strong onclick="_id('mdly').className='';" id="mdct"></strong><span>条: </span></h6>
                <p>
                    <button type="button" class="btn" href="javascript:;" onclick="moddiray('del');return false;"><span><i class="icon-trash"></i>&nbsp;下架</span></button>
                    <button type="button" class="btn" href="javascript:;" onclick="moddiray('del');return false;"><span><i class="icon-trash"></i>&nbsp;删除</span></button>
                    <span id="isedit">
                        <button type="button" class="btn" href="javascript:;" onclick="moddiray('edit');return false;"><span><i class="icon-pencil"></i>&nbsp;重新授权</span></button>
                    </span>
                    <span id="noedit">
                        <button type="button" class="btn disabled" href="javascript:;" ><span><i class="icon-pencil"></i>&nbsp;重新授权</span></button>
                    </span>
                </p>
            </div>
            </form>
        </div>

        <div id="listfoot" class="well well-mini mtw">
        	<div class="y">
            	<div class="pg">{$page}</a>
                </div>
        	</div>
        </div>
        
    </div>
    <!--mainer ends-->
</div>
<!--container end-->
<script type="text/javascript">
	var msgbox = $("<div id='d'></div>");
	/**
    *同步订单
    */
	function edit(act,tid){
		switch(act){
			case 'Credit':
				var title = '添加刷单记录:'+tid;
				var url = '{:U('Seller/Credit/add')}/tid/'+tid;
				var width = 500;
				break;
			case 'Memo':
				var title = '修改备注:'+tid;
				var url = '{:U('memo')}/tid/'+tid;
				var width = 380;
				break;
			case 'Niffer':
				var title = '增加换货记录:'+tid;
				var url = '{:U('Seller/Service/add')}/model/niffer/oid/'+tid;
				var width = 450;
				break;
			case 'Reissue':
				var title = '增加换货记录:'+tid;
				var url = '{:U('Seller/Service/add')}/model/reissue/oid/'+tid;
				var width = 450;
				break;
			case 'Back':
				var title = '增加退货记录:'+tid;
				var url = '{:U('Seller/Service/add')}/model/back/oid/'+tid;
				var width = 450;
				break;
			case 'Talk':
				var title = '增加沟通记录:'+tid;
				var url = '{:U('Seller/Service/add')}/model/talk/tid/'+tid;
				var width = 400;
				break;
			case 'Fund':
				var title = '增加差价记录:'+tid;
				var url = '{:U('Seller/Service/add')}/model/fund/tid/'+tid;
				var width = 550;
				break;
			case 'Price':
				var title = '修改价格:'+tid;
				var url = '{:U('memo')}/tid/'+tid;
				var width = 320;
				break;
		}
		msgbox.iDialog({
			title:title,
			href:url,
			width:width,
			height:'auto',
			submit:function(){
				$('#'+act+'Form').form('submit',{
					url:url+'/ajax/1',success:function(data){
						var s = jQuery.parseJSON(data);	
						if (s.status) {
							$("body").iTips({content:s.info,css:'success'});
							msgbox.dialog('close');
							asyn(tid);
						}else{
							$("body").iTips({content:s.info,css:'error'});
						}
					}
				});
				return false;
			}
		});
    }
	
	/**
    *售后记录
    */
	function service(tid,oid){
		var url = '{:U('Seller/Service/search')}/tid/'+tid;
		if (oid) url +='/oid/'+oid;
		msgbox.iDialog({
			title:'售后记录'+tid,
			href:url,
			width:500,
			height:'auto',
			nobtns:true
		});
    }
	
	/**
    *同步单笔订单
    */
	function asyn(tid){
        _body=$('#trade_'+tid);
		_body.hide().after("<i><img align='center' src='static/image/icon/loading.gif'></i>");		
            var url = '{:U('asyn')}/tid/'+tid;
            $.post(url,function(data){
                _body.html(data).delay(200).slideDown().next("i").delay(50).slideUp()
            });
	}
	
	/**
    *同步订单
    */
	var p = 1;
	function syn(){
		msgbox.iDialog({
			title:'同步订单',
			href:'{:U('collect')}',
			width:320,
			height:'auto',
			submit:function(){
				$('#SynForm').form('submit',{
					url:'{:U('collect')}/ajax/1',success:function(data){
						var s = jQuery.parseJSON(data);	
						if (s.status) {
							$("body").iTips({content:s.info,css:'success'});
							p = 1;
							collect_page();
						}else{
							$("body").iTips({content:s.info,css:'error'});
						}
					}
				});
				return false;
			}
		});
    }

    function collect_page(){
        $.getJSON("{:U('syn')}/ajax/1/page/"+p, function(result){
            if(result.status){
                msgbox.iDialog({
					title: result.info,
					html: result.data,
					width:250,
					height:'auto',
					nobtns:true
				});
                p++;
                collect_page(p);
            }else{
				$("body").iTips({content:result.info,css:'success'});
				location.reload();
            }
        });
    }
</script>
<mc:tpl file="Public/footer" />