<form name="MemoForm" id="MemoForm" method="post">
    <div class="mbm">
        <table class="table table-bordered table-subfield">
            <tr>
                <th width="15%">旗帜</th>
                <td>
                	<input name="memo[flag]" type="radio" value="0" <eq name="memo['seller_flag']" value="0">checked="checked"</eq>> <img src="{:C('IMG_PATH')}taobao/flag_0.png" title="正常">&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="memo[flag]" type="radio" value="1" <eq name="memo['seller_flag']" value="1">checked="checked"</eq>> <img src="{:C('IMG_PATH')}taobao/flag_1.png" title="问题">&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="memo[flag]" type="radio" value="2" <eq name="memo['seller_flag']" value="2">checked="checked"</eq>> <img src="{:C('IMG_PATH')}taobao/flag_2.png" title="退款">&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="memo[flag]" type="radio" value="3" <eq name="memo['seller_flag']" value="3">checked="checked"</eq>> <img src="{:C('IMG_PATH')}taobao/flag_3.png" title="刷单">&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="memo[flag]" type="radio" value="4" <eq name="memo['seller_flag']" value="4">checked="checked"</eq>> <img src="{:C('IMG_PATH')}taobao/flag_4.png" title="朋友">&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="memo[flag]" type="radio" value="5" <eq name="memo['seller_flag']" value="5">checked="checked"</eq>> <img src="{:C('IMG_PATH')}taobao/flag_5.png" title="其他">&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <th>备注</th>
                <td><textarea name="memo[memo]" style="height:40px; width:250px;">{$memo['seller_memo']}</textarea></td>
            </tr>
        </table>
    </div>
</form>
