                    <tr class="sep-row"><td colspan="9"></td></tr>
                    <tr class="order-hd">
                        <td colspan="9">
                        
                            <input onclick="tmodclick(this);" id="moderate_{$info['tid']}" type="checkbox" value="{$info['tid']}" class="selector" />
                            <div class="basic-info">
                                <span class="order-num"><label for="moderate_{$info['tid']}">订单编号：{$info['tid']}</label></span>
                                <span class="deal-time">成交时间：{:format_date($info['created'],1)}</span>
                            </div>
                            <div class="more-info">
                                <a href="javascript:void(0)" onclick="edit('Memo',{$info['tid']})" title="{$info['seller_memo']}"><img src="{:C('IMG_PATH')}taobao/flag_{$info['seller_flag']}.gif" /></a>
                            </div>
                            <div class="more-info">
                            	<a href="javascript:void(0)" onclick="service({$info['tid']})" title="售后记录"><img src="{:C('IMG_PATH')}icon/nv/16.png" /></a>
                            </div>
                            <div class="more-info">
                                <neq name="info['credit']" value="1">
                            	<a href="javascript:void(0)" onclick="edit('Credit',{$info['tid']})" title="刷单记录"><img src="{:C('IMG_PATH')}icon/nv/28.png" /></a>
                                <else/>
                                刷单
                                </neq>
                            </div>
                            <div class="more-info override"><a href="javascript:void(0)" class="" onclick="asyn({$info['tid']})" title="刷新宝贝">&nbsp;&nbsp;</a></div>
                        </td>
                    </tr>
                    <!--start 子订单list  start-->
                    <php>$count = count($info['orders']);</php>
                    <volist name="info['orders']" id="order" key="k">
                    <tr id="item{$order['oid']}" class="order-item <if condition="($count eq 1) OR ($count eq $k)">last</if>">
                        <td colspan="2" class="item">
                            <div class="pic-info">
                                <div class="pic s50">
                                    <a hidefocus="true" target="_blank" title="查看宝贝详情" href=""><img alt="查看宝贝详情" src="{$order['pic_path']}_sum.jpg" width="50"></a>
                                </div>
                            </div>
                            <div class="txt-info">
                                <div class="desc">
                                    <span><a href="/Seller/Item/{$order['num_iid']}" title="{$order['title']}" target="_blank">{$order['outer_iid']}</a></span>
                                </div>
                                <div style="word-wrap:break-word;word-break:break-all;">商家编码: {$order['barcode']}</div>
                                <div class="props">
                                <eq name="info['status']" value="WAIT_SELLER_SEND_GOODS">
                                	<a href="javascript:void(0)" onclick="edit({$order['oid']}, '{$action['sku']['action']}', '{$action['sku']['title']}', '500', '300')" title="{$action['sku']['title']}"><strong>{$order['sku_properties_name']}</strong></a>
                                <else />
                                	<span>{$order['sku_properties_name']}</span>
                                </eq>
                                </div>
                            </div>
                        </td>
                        <td class="price" title="{$order['price']}">
                        	{$order['price']}<br />
                            {$order['discount']}<br />
                        </td>
                        <td class="num" title="1">{$order['num']}</td>
                        <td class="trouble">
                        	<div><a href="javascript:void(0)" onclick="service({$info['tid']},{$order['oid']})" title="售后记录"><img src="{:C('IMG_PATH')}icon/nv/16.png" /></a></div>
                            <notempty name="order['refund_id']"><a href="{:U('Seller/Refund/read')}/?refund_id={$order['refund_id']}" id="{$order['refund_id']}" class="xi2" onclick="popUp.view(this);return false; ">退款</a></notempty>
                        </td>
                        <eq name="k" value="1">
                        <td class="contact" rowspan="{$count}" sumrows="{$count}">
                            <a class="nickname" href="http://member1.taobao.com/member/user_profile.jhtml?userID=d446dc61881b1a30df3d7c8cb8ac59e7" target="_blank">{$info['buyer_nick']}</a>
                            <a title="查询该买家订单" class="J_filterTrigger" href="{:U('index', array('searchtype'=>0,'keyword'=>$info['buyer_nick']))}"><img src="{:C('IMG_PATH')}taobao/buyer_trade.png" alt="查询该买家订单" class="J_MakePoint"></a>
                            <span class="name J_UserInfo">
                            <eq name="info['status']" value="WAIT_SELLER_SEND_GOODS">
                            <a href="javascript:void(0)" onclick="edit({$info['tid']}, '{$action['address']['action']}', '{$action['address']['title']}', '500', '300')" title="{$action['address']['title']}"><strong>{$info['receiver_name']}</strong></a>
                            <else />
                            {$info['receiver_name']}
                            </eq>
                            {:msg_path($info['buyer_nick'], 1)}
                            </span>
                            <a href="javascript:void(0)" onclick="trace({$info['tid']})" title="查询物流信息">{$info['delivery_company']}</a>
                        </td>
                        <td class="trade-status" rowspan="{$count}" sumrows="{$count}">
                             <a href="http://buy.taobao.com/detail/orderDetail.htm?bizOrderId={$info['tid']}" target="_blank"><strong class="J_TradeStatus status todo h">{:TradeStatus($info['status'])}</strong></a>
                            <a href="http://trade.taobao.com/trade/detail/trade_item_detail.htm?bizOrderId={$info['tid']}" class="detail-link" target="_blank">详情</a>
                            <notempty name="action['title']">
                            <div class="trade-actions">
                                <button type="button" class="btn" onclick="edit({$info['tid']}, '{$action['action']}', '{$action['title']}', '500', '300')">{$action['title']}</button>
                            </div>
                            </notempty>
                        </td>
                        <td class="order-price" rowspan="{$count}" sumrows="{$count}">
                        <eq name="info['status']" value="WAIT_BUYER_PAY">	
                            <a href="javascript:void(0)" onclick="edit({$info['tid']}, '{$action['price']['action']}', '{$action['price']['title']}')" title="{$action['price']['title']}">{$info['payment']}</a>
                        <else />  
                            <strong class="J_OrderPrice">{$info['payment']}</strong>
                        </eq>
                            <div class="post-info">
                            <eq name="info['shipping_type']" value='free'>
                                卖家包邮
                            <else />
                                (含{:getpost($info['shipping_type'])}:{$info['post_fee']})
                            </eq>
                            <br />&yen;{$info['discount']}<br />
                            </div>
                            <if condition="strstr($info['trade_from'], 'WAP')"><img src="{:C('IMG_PATH')}taobao/m_trade.png"></if>
                            <eq name="info['type']" value="cod"><img src="{:C('IMG_PATH')}taobao/cod-icon.png"> 货到付款</eq>
                            <eq name="info['type']" value="fenxiao"><img src="{:C('IMG_PATH')}taobao/fenxiao.png"></eq>
                        </td>
                        <td class="remark" rowspan="{$count}" sumrows="{$count}">
                            <if condition="$info['buyer_rate'] && $info['seller_rate']"><div class="remark-status">双方已评</div></if>
                            <if condition="!$info['buyer_rate'] && $info['seller_rate']"><div class="remark-status">我已评价</div></if>
                            <if condition="$info['buyer_rate'] && !$info['seller_rate']"><div class="remark-status">对方已评</div>
                            <a href="http://rate.taobao.com/remark_buyer.jhtml?tradeID=220896838985251" target="_blank">评价</a>
                            </if>
                        </td>
                        </eq>
                    </tr>
                    </volist>