<mc:tpl file="Public/header" />
<mc:tpl file="Public/navmenu" />
<!--container begin-->
<link rel="stylesheet" type="text/css" href="{:C('CSS_PATH')}item.css" />
<script type="text/javascript" src="{:C('JS_PATH')}cate.js"></script>
<div class="wp cl" id="container">
    <!--mainer begin-->
    <div class="mainer " id="mainer">
        <div class="mainer-title">出售中的宝贝</div>
        <div id="listhead" class="well well-mini mbm">
            <!--搜索栏输入框-->
            <div class="mn-scbox input-append">
            	<input type="text" name="keyword" id="searchinput" value="{$keyword}" class="w200 xc1" placeholder="搜索商品名称…" onfocus="
                    !function(o){
                        $(o).next().find('i').attr('class', 'i_g i-sc-enter');
                        $(o).blur(function(){
                            var objNextBtn = $(this).next();
                            if(this.value==''){
                                objNextBtn.find('i').attr('class', 'i_g i-sc-config');
                                objNextBtn.attr('onclick','showAdvanceSearchMenu(this)');
                            }else{
                                objNextBtn.attr('onclick','fnSearchSubmit(event,true)');
                            }
                        });
                    }(this);
            " onkeydown="fnSearchSubmit(event);"/><button class="btn add-on" id="sc_btn" onclick="showAdvanceSearchMenu(this);"><i class="i_g i-sc-config"></i></button>
            <span onclick="" id="searchIcon" class="i_g i-sc-search cur1"></span> 
            </div>
            <!--搜索栏输入框end-->
            <div class="nowrap left">
                <span class="btn_sepline z"></span>
                <button type="button" onclick="syn();" class="btn btn-primary"><span>同步宝贝</span></button>
                <button type="button" onclick="add();" class="btn btn-primary"><span>添加宝贝</span></button>
            </div>
        </div>
        <div id="listbody">
        <form id="moderate" autocomplete="off">
            <div class="view clearfix" id="J_ItemList">
                <volist name="infos" id="info">
                <div class="product" id="{$info['num_iid']}">
                    <div class="product-iWrap">
                        <div class="productImg-wrap">
                        	<a href="/Seller/Goods/{$info['num_iid']}" class="productImg" target="_blank"><img src="{$info['pic_url']}_b.jpg"></a>
                            <em class="sc" title="采购价格">￥<input value="58" title="58.00" iid="14631354026"></em>
                            <em class="tb" title="销售价格">￥<input value="108" title="98.00" iid="14631354026" class="disabled" disabled=""></em>
                        </div>
                        <div class="productShop">
                            <a class="productShop-name" href="{$info['shop_url']}" target="_blank">{$info['shop_name']}</a>
                            <span><input onclick="tmodclick(this);" id="moderate_{$info['tid']}" type="checkbox" value="{$info['tid']}" class="vm" /></span>
                        </div>
                        <p class="productPrice"><del title="{$info['price']}">&yen;{$info['price']}</del><span>月销量:<em>{$info['volume']}</em></span></p>
                        <p class="productTitle"><a href="/Seller/Goods/{$info['num_iid']}" target="_blank" title="">{$info['title']}</a></p>
                        <p>类目：男装 -> 衬衫</p>
                        <div class="scid">
                            <div class="sicd-left" title="店铺类目">店目</div>
                            <div class="scid-center">
                                <ul>
                                    <li scid="383701016">新品速递 </li>
                                    <li scid="383701016">时尚裤装 -&gt; 休闲裤 <a href="javascript:void(0);" onClick="taobao.DeleteSText('15363591347','383701016');"><i class="icon-trash"></i></a></li>
                                    <li scid="383701016">新品速递 <a href="javascript:void(0);" onClick="taobao.DeleteSText('14631354026','383701016');"><i class="icon-trash"></i></a></li>
                                    <li scid="383701016">新品速递 <a href="javascript:void(0);" onClick="taobao.DeleteSText('14631354026','383701016');"><i class="icon-trash"></i></a></li>
                                </ul>
                            </div>
                            <div class="scid-right"><button type="button" onClick="serial({$info['num_iid']}, '{$info['title']}');" class="btn1">设置</button></div>
                        </div>
                        <div class="memo"><span title="商家备注">备</span><input maxlength="220" value="" title="" iid="14631354026" class="blank"></div>
                        <div>
                        	<button type="button" onClick="del();" class="btn1">待付(0)</button>
                            <button type="button" onClick="serial({$info['num_iid']}, '{$info['title']}');" class="btn1">未发(220)</button>
                            <button type="button" onClick="serial({$info['num_iid']}, '{$info['title']}');" class="btn1">关闭</button>
                            <button type="button" onClick="serial({$info['num_iid']}, '{$info['title']}');" class="btn1">报表</button>
                        </div>
                        <div class="productAttrs">
                            
                            <p>上架时间：{:format_date($info['list_time'])}</p>
                            <p>下架时间：{:format_date($info['delist_time'])}</p>
                        </div>
                    </div>
                </div>
                </volist>
            </div>
            
        </form>
        </div>
        <div id="listfoot" class="well well-mini mtw">
        	<div class="y">
            	<div class="pg">{$page}</a>
                </div>
        	</div>
        </div>
        
        <div id="addbox" style="display:none;">
            <table class="table table-bordered table-subfield">
                <tr>
                    <th>宝贝链接</th>
                    <td><input type="text" class="span6" name="url" id="url" style="width:350px;" /></td>
                </tr>
                <tr>
                	<th>操作提示</th>
                    <td>
                    	上传前请确认该店铺已经收录在系统商家目录中。<br />
                        每个宝贝都有一个唯一的链接（URL），宝贝链接里包含"id=xxxxxxxx"。如：<br />
                        http://detail.tmall.com/item.htm?id=14510826859
                    </td>
                </tr>     
            </table>
        </div>
        <div id="searchdiv" style="display: none;background:#FFF;" class="searchdiv">
            <div class="content">
                <div class="settingtd settingdiv">
                    <table cellspacing="0" cellpadding="4" border="0">
                        <tbody>
                            <tr>
                                <td class="td_right" width="80">&nbsp;商品名称&nbsp;：</td>
                                <td><input type="text" name="keyword" id="keyword" value="{$keyword}" class="w200" /></td>
                            </tr>
                            <tr>
                                <td class="td_right">&nbsp;档口名称&nbsp;：</td>
                                <td><input type="text" name="name" id="name" value="{$name}" class="w100" /></td>
                            </tr>
                            <tr>
                                <td class="td_right">&nbsp;店铺旺旺&nbsp;：</td>
                                <td><input type="text" name="nick" id="nick" value="{$nick}" class="w100" /></td>
                            </tr>
                            <tr>
                                <td class="td_right">&nbsp;页码&nbsp;：</td>
                                <td><input type="text" name="pz" id="pz" value="{$pz}" class="w100" />条每页</td>
                            </tr>
                            <tr>
                                <td class="td_right">&nbsp;档口位置&nbsp;：</td>
                                <td>{:Form::select(array(""=>"所有位置","星座"=>"星座","置地"=>"置地","中星"=>"中星","九星"=>"九星","九天"=>"九天","意法"=>"意法","新杭派"=>"新杭派","科达"=>"科达","自由港"=>"自由港","贰号基地"=>"贰号基地","星座女装"=>"星座女装"), 'location', $location)}</td>
                            </tr>
                            <tr>
                                <td class="td_right">&nbsp;淘宝类目&nbsp;：</td>
                                <td><select class="J_cate_select mr10" data-cid="0" data-uri="{:U('Seller/Cats/ajax_cats')}"></select><input type="hidden" name="cid" id="J_cate_id" value="{$cid}" /></td>
                            </tr>
                            <tr>
                                <td class="td_right" width="80">开始时间：</td>
                                <td>
                                    <div class="input-append">
                                        <input type="text" id="begindate" name="begindate" value="{$begindate}" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true}); this.blur()"><button type="button"
                                        class="btn add-on" onclick="WdatePicker({el:'begindate', dateFmt:'yyyy-MM-dd',isShowClear:true});"><i class="i_g i-date"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_right" width="80">结束时间：</td>
                                <td>
                                    <div class="input-append">
                                        <input type="text" id="enddate" name="enddate" value="{$enddate}" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true}); this.blur()" ><button type="button"
                                        class="btn add-on" onclick="WdatePicker({el:'enddate', dateFmt:'yyyy-MM-dd',isShowClear:true});"><i class="i_g i-date"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!--container end-->
<script type="text/javascript">
    var msgbox = $("<div id='d'></div>");
	
	/*
     *同步宝贝
     */
	var p = 1;
	var t = 0;
	function syn(){
		$.messager.confirm('确认同步吗？','确认要同步所有宝贝吗？',function(r){ 
			if (r) {
				$("body").iTips({content:'准备同步宝贝中，请稍候……',css:'success'});
				collect_page();
			}
		});
	}
	
	function collect_page(){
        $.post("{:U('syn')}", {page:p,type:t}, function(result){
            if(result.status == 1){
				$("body").iTips({content:result.info,css:'success'});
                p++;
                collect_page(p,t);
			}else if(result.status == 2){
				$("body").iTips({content:result.info,css:'success'});
				p = 1;
				t++;
                collect_page(p,t);
            }else{
				$("body").iTips({content:result.info,css:'success'});
				location.reload();
            }
        },'json');
    }
	
    /*
     *全选日志
     *element 全选按钮对象
     */
    function checkalldiray(element){
        if(element.checked == true){
            $("#listbody .dyl-item [type=checkbox]").attr('checked',true);
            $('#isedit').hide();
            $('#noedit').show();
        }else{
            $("#listbody .dyl-item [type=checkbox]").attr('checked',false);
        }
        return $("#listbody .dyl-item :checked").length;
    }
	
	/*
     * 简单搜素提交处理  zyb
     */
    function fnSearchSubmit(event,isClick){
        var myEvent = window.event || event;
        if(myEvent.keyCode==13 || isClick){
			var key = $("#searchinput").val();
            if (trim(key) != "") {
                window.location.href='{:U('index')}/keyword/'+key;
            }
        }
    }
    
    /**
     * 显示高级搜素弹出框,并做提交处理   zyb
     */
    function showAdvanceSearchMenu(submitBtn){
        var oSearchNode = $('#searchdiv');
        oSearchNode.iDialog({
                title: '高级搜素',
                modal:true,
                width:'420',
                height:'auto',
                submit:function(){
                    oSearchNode.dialog('close');
					var keyword = $('#keyword').val();
					var name = $('#name').val();
					var nick = $('#nick').val();
					var pz = $('#pz').val();
					var location = $('#location').val();
					var cid = $('#J_cate_id').val();
					var begindate = $('#begindate').val();
					var enddate = $('#enddate').val();
					window.location.href='{:U('index')}/?keyword='+keyword+'&name='+name+'&nick='+nick+'&pz='+pz+'&location='+location+'&cid='+cid+'&begindate='+begindate+'&enddate='+enddate;
                }
            });
    }
	
	//分类联动
    $('.J_cate_select').cate_select({field:'J_cate_id'});
</script>
<mc:tpl file="Public/footer" />