<mc:tpl file="Public/header" />
<mc:tpl file="Public/navmenu" />
<!--container begin-->
<div class="ct2_a wp cl" id="container">
    <include file="sidebar" />
    <!--mainer begin-->
    <div class="mainer" id="mainer">
        <div class="mainer-title">出售中的宝贝</div>
        <div id="listhead" class="well well-mini mbm">
        	<!--搜索栏输入框-->
            <div class="mn-scbox input-append">
            	<input type="text" name="" id="searchinput" class="w200 xc1" onkeydown="fnBeginSearch(event);"
                	value="搜索配货单名称、说明…" onfocus="if(this.value=='搜索配货单名称、说明…'){this.value=''};"
                    onblur="if(this.value==''){this.value='搜索配货单名称、说明…'};" placeholder="搜索配货单名称、说明…"/>
            	<button class="btn add-on" onclick="fnSearchSubmit();" id="sc_btn"><i class="i_g i-sc-enter"></i></button>
            	<span onclick="" id="searchIcon" class="i_g i-sc-search cur1"></span> 
            </div>
            <!--搜索栏输入框end-->
            <div class="nowrap left">
                <button type="button" onClick="useract('add');" class="btn btn-primary"><span>新增编码</span></button>
            </div>
            <!--nowrap left-->
        </div>
        <link rel="stylesheet" type="text/css" href="{:C('CSS_PATH')}diary.css" />
        <div id="listbody">
        <form id="moderate" autocomplete="off">
        	<volist name="infos" id="info">
        	<div class="dyl-item" id="serial_{$info['num_iid']}" style="border-bottom: 1px dotted gainsboro;">
                <div class="dyl-date">
                    <div class="dyl-date-m">{$info['outer_id']}</div>
                    <div class="dyl-date-d"><a href="{:U('Seller/Item/read')}/{$info['num_iid']}" title="查看商品信息" target="_blank"><img src="{$info['pic_url']}_60x60.jpg"></a></div>
                </div>
                <div class="dyl-item-inner">
                    <span class="y unfold-all" title="成本价"><em style="color: #999">&yen;{$info['price']}</em></span>
                    <div class="dyl-item-title mbm">
                    	<input onclick="tmodclick(this);" id="moderate_{$info['id']}" type="checkbox" value="{$info['id']}" class="vm"/>&nbsp;<a href="{:U('Seller/Item/read')}/{$info['num_iid']}" title="查看商品信息" target="_blank"><em>{$info['title']}</em></a>
                    </div>
                    <div class="z"></div>
                    <div class="dyl-item-option">
                        <span class="y"><i class="icon-list-alt"></i>&nbsp;<span title="供货识别码">{$info['serial']['barcode']}</span></span>
                        价格：<em style="color: #999">&yen;{$info['discount']}</em><span class="pipe">|</span>
                        销量：<em style="color: #999">{$info['volume']}</em><span class="pipe">|</span>
                        <i class="icon-time"></i>&nbsp;{:format_date($info['delist_time'])}
                    </div>
                    <!-- dyl-item-option ends-->
                    <div class="ml20 posr">
                        <div id="abstract_{$info['serial']}" class="dyl-item-title"><a id="diary_ctrl_{$info['serial']}" href="javascript:;" onclick="fullmode('{$info['serial']}')"><i class="icon-chevron-down"></i>{$info['alias']}个供货商</a></div>
                        <div class="fullmode" id="fullmode_{$info['serial']}" style="overflow: visible;display: none;">
                            <div class="full_top"></div>
                            <div class="full_content" id="fullcontent_{$info['serial']}">empty</div>
                            <div class="full_bottom"><a href="javascript:fullmode('{$info['serial']}');" class="fold-all"><i class="icon-chevron-up"></i>收起全文</a></div>
                        </div><!--fullmode ends-->
                    </div><!--content ends-->
                </div>
            </div><!--dyl-item ends-->
        	</volist>
            
        	<div id="mdly" style="display: none;">
                <input type="hidden" name="optgroup" />
                <input type="hidden" name="operation" />
                <a class="cp" href="javascript:;" title="隐藏" onclick="_id('mdly').className='cpd'"><i class="icon-chevron-right"></i>&nbsp;隐藏</a>
                <label>
                    <input type="checkbox" name="chkall" class="pc" onclick="if(!(_id('mdct').innerHTML = modclickcount = checkalldiray(this))) {_id('mdly').style.display = 'none';}" />全选
                    <span class="pipe">|</span>
                </label>
                <h6><span>选中</span><strong onclick="_id('mdly').className='';" id="mdct"></strong><span>条: </span></h6>
                <p>
                    <button type="button" class="btn" href="javascript:;" onclick="moddiray('del');return false;"><span><i class="icon-trash"></i>&nbsp;删除</span></button>
                     <button type="button" class="btn" href="javascript:;" onclick="moddiray('disable');return false;"><span><i class="icon-trash"></i>&nbsp;禁用</span></button>
                    <span id="isedit">
                        <button type="button" class="btn" href="javascript:;" onclick="moddiray('edit');return false;"><span><i class="icon-pencil"></i>&nbsp;编辑</span></button>
                    </span>
                    <span id="noedit">
                        <button type="button" class="btn disabled" href="javascript:;" ><span><i class="icon-pencil"></i>&nbsp;编辑</span></button>
                    </span>
                </p>
            </div>
            
        </form>
        </div>
    
        <div id="listfoot" class="well well-mini mtw">
        	<div class="y">
            	<div class="pg">{$page}</a>
                </div>
        	</div>
        </div>
    </div>
</div>
<!--container end-->
<script type="text/javascript">
    var msgbox = $("<div id='d'></div>");
    /* 弹出全文框   */
    var fullarr=new Array();
    function fullmode(did) {
        $('#fullmode_'+did).stop().slideToggle(200);	
        $('#abstract_'+did).stop().slideToggle('fast');
        //如果不存在缓存数据,则读取
        if(typeof(fullarr[did])=="undefined"||fullarr[did]==null){		
            _body=$('#fullcontent_'+did);
            _body.hide().after("<i><img align='center' src='static/image/icon/loading.gif'></i>");		
            var url = "{:U('alias')}/serial/"+did;
            $.post(url,function(data){
                fullarr[did]=data;
                _body.html(data).delay(200).slideDown().next("i").delay(50).slideUp()
            });
        }
    }
	
	/*
     *子编码删除
     */
    function major(iid){
		$.messager.confirm('设置首选供应商', '是否确认更改首选供应商？',function(bFlag){
			if(bFlag){ //判断是否确定删除选择的数据
				 $.post("{:U('major')}",{iid:iid},function(result){
					if(result.status){
						$("body").iTips({content:result.info,css:'success'});	
						window.location.reload();
					}else{
					   $("body").iTips({content:result.info,css:'warning'});
					}
				},'json');
			}
		});
	}
	
	/*
     *子编码编辑
     */
    function alias_edit(iid){
		var url = '{:U('aedit')}/iid/'+iid;
		msgbox.iDialog({
			title:'编辑供货商编码',
			href:url,
			width:500,
			height:'auto',
			submit:function(){
				$('#AliasForm').form('submit',{
					url:url+'/ajax/1',
					success:function(data){
						var s = jQuery.parseJSON(data);	
						if (s.status) {
							$("body").iTips({content:s.info,css:'success'});
							window.location.reload();
						}else{
							$("body").iTips({content:s.info,css:'error'});
						}	
					}
				});
				return false;
			}
		});
	}
	
	/*
     *子编码删除
     */
    function alias_del(iid){
		$.messager.confirm('确认删除', '供货商编码不能恢复，是否确认要删除？',function(bFlag){
			if(bFlag){ //判断是否确定删除选择的数据
				 $.post('{:U('adel')}/',{delid:iid},function(result){
					if(result.status){
						$("body").iTips({content:result.info,css:'success'});	
						$('#alias_'+id).hide(1000); //动态隐藏
						$('#alias_'+id).empty(); //清空 也可以取消该日志的选择，如果只是隐藏，函数会继续操作被
					}else{
					   $("body").iTips({content:result.info,css:'warning'});
					}
				},'json');
			}
		});
	}
	
    //新增快捷操作菜单 @dlh
    var modclickcount = 0; //全局，记录已选日志条数
    /*
     *记录已选日志条数，并显示快捷操作菜单
     *obj obj 选择框的对象
     */
    function tmodclick(obj) {
        if(obj.checked) {
            modclickcount++;
        } else {
            modclickcount--;
        }
        _id('mdct').innerHTML = modclickcount;
        if(modclickcount > 0) {
            var top_offset = obj.offsetTop;
            _id('mdly').style.top = top_offset - 7 + 'px';
            _id('mdly').style.display = 'block';
        } else {
            _id('mdly').style.display = 'none';
        }
        if(!_id('isedit')){
            return false;
        }else if(modclickcount==1){
            _id('isedit').style.display = '';
            _id('noedit').style.display = 'none';
        }else{
            _id('isedit').style.display = 'none';
            _id('noedit').style.display = '';
        }
    }

    /*
     *快捷操作
     *act del、edit
     */
    function moddiray(act){
        var diaids = '';
        var darr = $("#listbody .dyl-item :checked");
        for(i=0;i<darr.length;i++){
            if(darr.length == 1){
                diaids += darr[i].value;
            }else{
                diaids += ','+darr[i].value;
            }
        }
        switch(act){
            case 'del':
                $.messager.confirm('确认删除', '编码不能恢复，是否确认要删除？',function(bFlag){
                    if(bFlag){ //判断是否确定删除选择的数据
                         $.post('{:U('del')}/',{delid:diaids},function(result){
                            if(result.status){
								$("body").iTips({content:result.info,css:'success'});	
                                for(i=0;i<darr.length;i++){ //遍历被删除的日志
                                    $('#serial_'+darr[i].value).hide(1000); //动态隐藏
                                    $('#serial_'+darr[i].value).empty(); //清空 也可以取消该日志的选择，如果只是隐藏，函数会继续操作被删除的日志
                                }
                                $('#mdly').hide(); //隐藏快捷操作菜单
                                modclickcount = 0; //重置
                            }else{
                               $("body").iTips({content:result.info,css:'warning'});
                            }
                        },'json');
                    }
                });
                break;
            case 'edit':
                //禁用接口
                break;
        }
    }

    /*
     *全选日志
     *element 全选按钮对象
     */
    function checkalldiray(element){
        if(element.checked == true){
            $("#listbody .dyl-item [type=checkbox]").attr('checked',true);
            $('#isedit').hide();
            $('#noedit').show();
        }else{
            $("#listbody .dyl-item [type=checkbox]").attr('checked',false);
        }
        return $("#listbody .dyl-item :checked").length;
    }
</script>
<mc:tpl file="Public/footer" />