            	<div class="check"><input type="checkbox" id="iid-cb-{$info['num_iid']}" value="{$info['num_iid']}" class="vm"></div>
                <div class="phead">
                	<a href="javascript:void(0);" onClick="moddiray('recommend','{$info['num_iid']}');" title="<notempty name="info['has_showcase']">取消</notempty>橱窗推荐"><font color="red" id="iid-re-{$info['num_iid']}"><empty name="info['has_showcase']">未</empty>推荐</font></a> |
                    <a href="javascript:void(0);" onClick="moddiray('listing','{$info['num_iid']}');" title="点击将该宝贝下架">下架</a> | 
                    <a href="javascript:void(0);" onClick="serial('{$info['num_iid']}', '{$info['title']}');" title="点击更新宝贝的商家编码">编码</a> | 
                    <a href="javascript:void(0);" onClick="moddiray('delete','{$info['num_iid']}');" title="从淘宝删除该宝贝">删除</a> | 
                    <a href="javascript:void(0);" onClick="asyn('{$info['num_iid']}');" class="override" title="刷新宝贝">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </div>
                <div class="photo">
                	<a href="/Seller/Item/{$info['num_iid']}" target="_blank" title="{$info['title']}"><img src="{$info['pic_url']}_b.jpg"></a>
                	<em class="sc" title="采购价格">￥<input value="{$info['price']}" title="{$info['price']}.00" iid="14631354026"></em>
                	<em class="tb" title="销售价格">￥<input value="{$info['price']}" title="{$info['price']}.00" iid="14631354026" class="disabled" disabled=""></em>
                </div>
                <div class="title"><textarea title="点击修改宝贝标题">{$info['title']}</textarea></div>
                <div class="info">
                	<em title="该宝贝拥有销售属性，请从销售属性中修改宝贝数量！">数量：<input class="tb disabled" value="105" title="704" iid="14631354026" disabled=""><input class="sc disabled" value="704" title="704" disabled=""></em>
                	<span class="outer_id" title="商家编码">商编：<input value="{$info['outer_id']}" title="{$info['outer_id']}"></span>
                </div>
                <div class="cid" title="商品类目：男装 -&gt; 衬衫" cid="50011123" texts="男装 -&gt; 衬衫">商目：男装 -&gt; 衬衫</div>
                <!--<div id="skus-14631354026" class="skus">
                	<ul>
                    	<li id="sku_id-19705849401">
                            <span title="&nbsp;男款水蓝配&nbsp;170/88" properties="1627207:3232481;1627778:3267943" outer-id="" price="98.00">&nbsp;男款水蓝配&nbsp;170/88</span>
                            <input class="tb" value="88" title="88" iid="14631354026"><input class="sc" value="88" title="88" iid="14631354026">
                        </li>
                        <li id="sku_id-19705849401">
                            <span title="&nbsp;男款水蓝配&nbsp;170/88" properties="1627207:3232481;1627778:3267943" outer-id="" price="98.00">&nbsp;男款水蓝配&nbsp;170/88</span>
                            <input class="tb" value="88" title="88" iid="14631354026"><input class="sc" value="88" title="88" iid="14631354026">
                        </li>
                        <li id="sku_id-19705849401">
                            <span title="&nbsp;男款水蓝配&nbsp;170/88" properties="1627207:3232481;1627778:3267943" outer-id="" price="98.00">&nbsp;男款水蓝配&nbsp;170/88</span>
                            <input class="tb" value="88" title="88" iid="14631354026"><input class="sc" value="88" title="88" iid="14631354026">
                        </li>
                        <li id="sku_id-19705849401">
                            <span title="&nbsp;男款水蓝配&nbsp;170/88" properties="1627207:3232481;1627778:3267943" outer-id="" price="98.00">&nbsp;男款水蓝配&nbsp;170/88</span>
                            <input class="tb" value="88" title="88" iid="14631354026"><input class="sc" value="88" title="88" iid="14631354026">
                        </li>
                        <li id="sku_id-19705849401">
                            <span title="&nbsp;男款水蓝配&nbsp;170/88" properties="1627207:3232481;1627778:3267943" outer-id="" price="98.00">&nbsp;男款水蓝配&nbsp;170/88</span>
                            <input class="tb" value="88" title="88" iid="14631354026"><input class="sc" value="88" title="88" iid="14631354026">
                        </li>
                	</ul>
                </div>-->
                <div id="scid-14631354026" class="scid" cids=",383701016," value=",383701016,">
                	<div class="sicd-left" title="店铺类目">店目</div>
                    <div class="scid-center">
                    	<ul>
                        	<li scid="383701016">新品速递 <a href="javascript:void(0);" class="delete" onClick="taobao.DeleteSText('14631354026','383701016');">删除</a></li>
                            <li scid="383701016">时尚裤装 -&gt; 休闲裤 <a href="javascript:void(0);" class="delete" onClick="taobao.DeleteSText('15363591347','383701016');">删除</a></li>
                            <li scid="383701016">新品速递 <a href="javascript:void(0);" class="delete" onClick="taobao.DeleteSText('14631354026','383701016');">删除</a></li>
                            <li scid="383701016">新品速递 <a href="javascript:void(0);" class="delete" onClick="taobao.DeleteSText('14631354026','383701016');">删除</a></li>
                        </ul>
                    </div>
                    <div class="scid-right"><button type="button" onClick="del();" class="btn">设置</button></div>
                </div>
                <div class="SaleData">
                	<button type="button" title="最近7天买家拍下，还未付款的交易" onClick="del();" class="btn1">待付(0)</button>
                    <button type="button" title="最近15天买家已付款，还未发货的交易" onClick="serial({$info['num_iid']}, '{$info['title']}');" class="btn1">未发(220)</button>
                    <button type="button" title="最近30天关闭的交易记录，包括未付款和已付款的 退款交易"onClick="serial({$info['num_iid']}, '{$info['title']}');" class="btn1">关闭</button>
                    <button type="button" title="最近商品销售明细报表" onClick="serial({$info['num_iid']}, '{$info['title']}');" class="btn1">报表</button>
                </div>
                <div class="memo"><span title="商家备注">备</span><input maxlength="220" value="" title="" class="blank"></div>
                <div class="list_time">上架时间：{:format_date($info['list_time'])}</div>
                <div class="delist_time">下架时间：{:format_date($info['delist_time'])}</div>