<form name="SerialForm" id="SerialForm" method="post">
    <div class="mbm">
        <table class="tbl2">
            <tr>
                <th style="width: 15%"><font color="red">*宝贝标题</font></th>
                <td>
                	<input type="text" name="info[title]" value="{$item['title']}" onkeyup="strlen_verify(this, 'title_len');" style="width:380px;"><br />
                	还可以输入 <span id="title_len"><strong><font color="red">{$item['lenth']}</font></strong></span> 个字符
                </td>
            </tr>
            <tr>
                <th><font color="red">*商家编码</font></th>
                <td><input type="text" name="info[outer_id]" value="{$item['outer_id']}" style="width:100px;"></td>
            </tr>
            <tr>
                <th><font color="red">*SKU编码</font></th>
                <td>
                	<div style="overflow-x:hidden;overflow-y:auto;max-height:300px;">
                	<table class="tbl2">
                    <volist name="skus" id="sku">
                        <tr><td>
                        	<input type="hidden" name="org[{$sku['properties']}]" value="{$sku['outer_id']}">
                        	<div class="input-prepend input-append disi mr5">
                            	<span class="add-on">{$sku['properties_name']}</span>
                                <input type="text" name="info[skus][{$sku['properties']}]" id="sku_outer_id" value="{$sku['outer_id']}" style="width:80px;">
                        	</div>
                        </td></tr>
                    </volist>
                    </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>
<script type="text/javascript"> 
<!--
/*
*判断字符长度
*/
function strlen_verify(obj,checklen){
	var v = obj.value, maxlen = 60;
	$.getJSON("{:U('Seller/Index/strlen/')}/str/"+v+"/len/"+maxlen,function(data){
		if(data) {
			$('#'+checklen).html(data);
		}
	});
};

/*
*检查编码
*/
function serial_verify(obj,checkalt){
	var v = obj.value.toLocaleUpperCase();
	$(obj).val(v);
	$.getJSON('{:U("Seller/Serial/check_serial")}/str/'+v,function(data){
		if(data.status){
			$('#'+checkalt).html(data.info);
		}else{
			$("body").iTips({content:data.info,css:'warning'});
			$('#'+checkalt).html(data.info);
		}
	});
};
//-->
</script>