<mc:tpl file="Public/header" />
<mc:tpl file="Public/navmenu" />
<!--container begin-->
<link rel="stylesheet" type="text/css" href="{:C('CSS_PATH')}item.pic.css" />
<script type="text/javascript" src="{:C('JS_PATH')}cate.js"></script>
<div class="wp cl" id="container">
    <!--mainer begin-->
    <div class="mainer " id="mainer">
        <div class="mainer-title">出售中的宝贝</div>
        <div id="listhead" class="well well-mini mbm">
            <!--搜索栏输入框-->
            <div class="mn-scbox input-append">
            	<input type="text" name="keyword" id="searchinput" value="{$keyword}" class="w200 xc1" placeholder="搜索商品名称…" onfocus="
                    !function(o){
                        $(o).next().find('i').attr('class', 'i_g i-sc-enter');
                        $(o).blur(function(){
                            var objNextBtn = $(this).next();
                            if(this.value==''){
                                objNextBtn.find('i').attr('class', 'i_g i-sc-config');
                                objNextBtn.attr('onclick','showAdvanceSearchMenu(this)');
                            }else{
                                objNextBtn.attr('onclick','fnSearchSubmit(event,true)');
                            }
                        });
                    }(this);
            " onkeydown="fnSearchSubmit(event);"/><button class="btn add-on" id="sc_btn" onclick="showAdvanceSearchMenu(this);"><i class="i_g i-sc-config"></i></button>
            <span onclick="" id="searchIcon" class="i_g i-sc-search cur1"></span> 
            </div>
            <!--搜索栏输入框end-->
            <div class="nowrap left">
                <span class="btn_sepline z"></span>
                <button type="button" onclick="syn();" class="btn btn-primary"><span>同步宝贝</span></button>
                <button type="button" onclick="add();" class="btn btn-primary"><span>添加宝贝</span></button>
            </div>
        </div>
        <div id="listbody">
        	<volist name="infos" id="info">
            <div id="iid-{$info['num_iid']}" class="ItemBox">
            	<include file="item" />
        	</div>
            </volist>
            
        </div>
        <div id="listfoot" style="clear:both" class="well well-mini mtw">
            <input id="ToolCheckBoxAll" type="checkbox"><label for="ToolCheckBoxAll">全选</label>&nbsp;
                <input id="ToolPageNum" name="BatchMode" type="radio" checked="checked"><label id="lblPageNum" for="ToolPageNum" count="0" num-iids="">当前页所选宝贝(<font color="red">0</font>)</label>&nbsp;
                <input id="ToolPageCount" name="BatchMode" type="radio"><label id="lblPageCount" for="ToolPageCount" count="97">满足条件所有页宝贝(<font color="red">97</font>)</label>&nbsp;
            	<button type="button" onClick="del();" class="btn"><span>批量提交</span></button>
                <button type="button" onClick="moddiray('listing');" class="btn"><span>批量下架</span></button>
                <button type="button" onClick="moddiray('recommend');" class="btn"><span>橱窗推荐</span></button>
                <button type="button" onClick="del();" class="btn"><span>库存统计</span></button>
                <button type="button" onClick="del();" class="btn"><span>导出数据</span></button>
                <button type="button" onClick="del();" class="btn"><span>数据导入</span></button>
        </div>
        <div id="listfoot" style="clear:both" class="well well-mini mtw">
        	<div class="y">
            	<div class="pg">{$page}</a></div>
        	</div>
        </div>
        
        <div id="synbox" style="display:none;">
            <table class="table table-bordered table-subfield">
                <tr>
                    <th>选择同步时间</th>
                    <td>
                        <select name="syntime" id="syntime" size="2" style="height:160px;width:130px;">
                            <option value='43200' selected>最近半天</option>
                            <option value="86400" >最近一天</option>
                            <option value="259200" >最近三天</option>
                            <option value="604800" >最近一周</option>
                            <option value="1296000" >最近半个月</option>
                            <option value="2592000" >最近一个月</option>
                            <option value="7776000" >最近三个月</option>
                            <option value="" >所有</option>
                        </select>
                    </td>
                </tr>     
            </table>
        </div>

        <div id="searchdiv" style="display: none;background:#FFF;" class="searchdiv">
            <div class="content">
                <div class="settingtd settingdiv">
                    <table cellspacing="0" cellpadding="4" border="0">
                        <tbody>
                            <tr>
                                <td class="td_right" width="80">&nbsp;商品名称&nbsp;：</td>
                                <td><input type="text" name="keyword" id="keyword" value="{$keyword}" class="w200" /></td>
                            </tr>
                            <tr>
                                <td class="td_right">&nbsp;档口名称&nbsp;：</td>
                                <td><input type="text" name="name" id="name" value="{$name}" class="w100" /></td>
                            </tr>
                            <tr>
                                <td class="td_right">&nbsp;店铺旺旺&nbsp;：</td>
                                <td><input type="text" name="nick" id="nick" value="{$nick}" class="w100" /></td>
                            </tr>
                            <tr>
                                <td class="td_right">&nbsp;页码&nbsp;：</td>
                                <td><input type="text" name="pz" id="pz" value="{$pz}" class="w100" />条每页</td>
                            </tr>
                            <tr>
                                <td class="td_right">&nbsp;档口位置&nbsp;：</td>
                                <td>{:Form::select(array(""=>"所有位置","星座"=>"星座","置地"=>"置地","中星"=>"中星","九星"=>"九星","九天"=>"九天","意法"=>"意法","新杭派"=>"新杭派","科达"=>"科达","自由港"=>"自由港","贰号基地"=>"贰号基地","星座女装"=>"星座女装"), 'location', $location)}</td>
                            </tr>
                            <tr>
                                <td class="td_right">&nbsp;淘宝类目&nbsp;：</td>
                                <td><select class="J_cate_select mr10" data-cid="0" data-uri="{:U('Seller/Cats/ajax_cats')}"></select><input type="hidden" name="cid" id="J_cate_id" value="{$cid}" /></td>
                            </tr>
                            <tr>
                                <td class="td_right" width="80">开始时间：</td>
                                <td>
                                    <div class="input-append">
                                        <input type="text" id="begindate" name="begindate" value="{$begindate}" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true}); this.blur()"><button type="button"
                                        class="btn add-on" onclick="WdatePicker({el:'begindate', dateFmt:'yyyy-MM-dd',isShowClear:true});"><i class="i_g i-date"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_right" width="80">结束时间：</td>
                                <td>
                                    <div class="input-append">
                                        <input type="text" id="enddate" name="enddate" value="{$enddate}" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true}); this.blur()" ><button type="button"
                                        class="btn add-on" onclick="WdatePicker({el:'enddate', dateFmt:'yyyy-MM-dd',isShowClear:true});"><i class="i_g i-date"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!--container end-->
<script type="text/javascript">
    var msgbox = $("<div id='d'></div>");
	
	/*
     *快捷操作
     *act del、listing\recommend
     */
    function moddiray(act,num_iid){
        var diaids = '';
		var darr = new Array();//取数组
		if (!num_iid) {
			darr = $("#listbody .ItemBox :checked");
			for(i=0;i<darr.length;i++){
				if(darr.length == 1){
					diaids += darr[i].value;
				}else{
					diaids += ','+darr[i].value;
				}
			}
		} else {
			diaids = num_iid;
		}
        switch(act){
            case 'listing': //上下架
				$.post("{:U('listing')}",{num_iid:diaids},function(result){
					if(result.status){
						$("body").iTips({content:result.info,css:'success'});
						if (num_iid) {
							$('#iid-'+num_iid).hide(1000); //动态隐藏
							$('#iid-'+num_iid).empty(); //清空
						} else {
							for(i=0;i<darr.length;i++){ //遍历
								$('#iid-'+darr[i].value).hide(1000); //动态隐藏
								$('#iid-'+darr[i].value).empty(); //清空
							}	
						}
					}else{
					   $("body").iTips({content:result.info,css:'warning'});
					}
				},'json');
                break;
            case 'recommend': //橱窗推荐
                $.post("{:U('recommend')}/",{num_iid:diaids},function(result){
					if(result.status){
						$("body").iTips({content:result.info,css:'success'});
						if (num_iid) {
							$('#iid-re-'+num_iid).html(result.data);
						} else {
							for(i=0;i<darr.length;i++){ //遍历
								$('#iid-re-'+darr[i].value).html(result.data);
							}	
						}
					}else{
					   $("body").iTips({content:result.info,css:'warning'});
					}
				},'json');
                break;
            case 'delete': //删除宝贝
                $.post("{:U('delete')}",{num_iid:diaids},function(result){
					if(result.status){
						$("body").iTips({content:result.info,css:'success'});
						if (num_iid) {
							$('#iid-'+num_iid).hide(1000); //动态隐藏
							$('#iid-'+num_iid).empty(); //清空
						} else {
							for(i=0;i<darr.length;i++){ //遍历
								$('#iid-'+darr[i].value).hide(1000); //动态隐藏
								$('#iid-'+darr[i].value).empty(); //清空
							}	
						}
					}else{
					   $("body").iTips({content:result.info,css:'warning'});
					}
				},'json');
                break;
        }
    }
	
	/*
     *更新商家编码
     */
    function serial(num_iid,title){
		var url = "{:U('join')}/num_iid/"+num_iid;
		msgbox.iDialog({
			title:"更新编码："+title,
			href:url,
			width:500,
			height:'auto',
			submit:function(){
				$("body").iTips({content:'更新编码中，请稍候。。。',css:'success'});
				$('#SerialForm').form('submit',{
					url:url+'/ajax/1',
					success:function(data){
						var s = jQuery.parseJSON(data);	
						if (s.status) {
							$("body").iTips({content:s.info,css:'success'});
							msgbox.dialog('close');
						}else{
							$("body").iTips({content:s.info,css:'error'});
						}	
					}
				});
				return false;
			}
		});
	}
	 
	/**
    *同步单笔宝贝
    */
	function asyn(iid){
        _body=$('#iid-'+iid);
		_body.hide().after("<i><img align='center' src='static/image/icon/loading.gif'></i>");		
            var url = "{:U('asyn')}/iid/"+iid;
            $.post(url,function(data){
                _body.html(data).delay(200).slideDown().next("i").delay(50).slideUp()
            });
	}

	/*
     *同步宝贝
     */
    function syn(){
        $('#synbox').iDialog({
            title:"同步宝贝",
            width:300,
            height:'auto',
            submit:function(){
                var time = $('#syntime').val();
                $.post("{:U('syn')}/time/"+time, function(data){
                    if(data.status){
                        $('#addbox').dialog('close');
                        collect_page();
                    } else {
                        $('body').iTips({content:data.info,css:'error'});
                    }
                },'json');
                return false;
            }
        });
    }

	function collect_page(){
        $.getJSON("{:U('syn')}", function(result){
            if(result.status == 1){
                msgbox.iDialog({
                    title: result.info,
                    html: result.data,
                    width:250,
                    height:'auto',
                    nobtns:true,
                    shadow:true
                });
                collect_page();
            }else{
                $("body").iTips({content:result.info,css:'success'});
                location.reload();
            }
        });
    }
	
    /*
     *全选日志
     *element 全选按钮对象
     */
    function checkalldiray(element){
        if(element.checked == true){
            $("#listbody .dyl-item [type=checkbox]").attr('checked',true);
            $('#isedit').hide();
            $('#noedit').show();
        }else{
            $("#listbody .dyl-item [type=checkbox]").attr('checked',false);
        }
        return $("#listbody .dyl-item :checked").length;
    }
	
	/*
     * 简单搜素提交处理  zyb
     */
    function fnSearchSubmit(event,isClick){
        var myEvent = window.event || event;
        if(myEvent.keyCode==13 || isClick){
			var key = $("#searchinput").val();
            if (trim(key) != "") {
                window.location.href="{:U('index')}/keyword/"+key;
            }
        }
    }
    
    /**
     * 显示高级搜素弹出框,并做提交处理   zyb
     */
    function showAdvanceSearchMenu(submitBtn){
        var oSearchNode = $('#searchdiv');
        oSearchNode.iDialog({
                title: '高级搜素',
                modal:true,
                width:'420',
                height:'auto',
                submit:function(){
                    oSearchNode.dialog('close');
					var keyword = $('#keyword').val();
					var name = $('#name').val();
					var nick = $('#nick').val();
					var pz = $('#pz').val();
					var location = $('#location').val();
					var cid = $('#J_cate_id').val();
					var begindate = $('#begindate').val();
					var enddate = $('#enddate').val();
					window.location.href='{:U("index")}/?keyword='+keyword+'&name='+name+'&nick='+nick+'&pz='+pz+'&location='+location+'&cid='+cid+'&begindate='+begindate+'&enddate='+enddate;
                }
            });
    }
	
	//分类联动
    $('.J_cate_select').cate_select({field:'J_cate_id'});
</script>
<mc:tpl file="Public/footer" />