<mc:tpl file="Public/header" />
<mc:tpl file="Public/navmenu" />
<!--container begin-->
<div class="ct2_a wp cl" id="container">
    <!--side bar begin-->
    <div class="sidebar">
        <div id="art_query" class="scbox mtw">
        <p class="sckeyword xc1">订单搜索</p>
        <form action="{:U('index', array('role'=>'buyer', 'rate_type'=>'get'))}" method="get">
            <div class="form-field">
                                <div class="field-input btn-group" data-toggle="buttons-radio">
                                    <button class="btn <eq name="type" value="0">active</eq>" type="button" act="on" onclick="fnTriggerRadio(this)">
                                        <span><label><input type="radio" class="hide" value='0' name='type' id="comment_on" <eq name="type" value="0">checked="checked"</eq>>订单</label></span>
                                    </button>
                                    <button class="btn <eq name="type" value="1">active</eq>" type="button" act="off"  onclick="fnTriggerRadio(this)">
                                        <span><label><input type="radio" class="hide" value='1' name='type' id="comment_off" <eq name="type" value="1">checked="checked"</eq>>商品</label></span>
                                    </button>
                                </div> 
                            </div>
    
            
            <input class="mbm" type="text" size="23" value="{$keyword}" id="keyword" name="keyword" placeholder="输入编号"><br/>
            <p class="mbm xc1 datebox">
                <label for="start_date">从</label>
                <input type="text" id="start_date" name="start_date" size="15" maxlength="15" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd', theme:'ibos'});"  value="" class="Wdate"></p>
            <p class="mbm xc1 datebox">
                <label for="end_date">至</label>
                <input type="text" id="end_date" name="end_date" size="15" maxlength="15" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd', theme:'ibos'});" value="" class="Wdate"></p>
            <button class="btn btn-primary" type="submit"><span>查询</span></button>
            
        </form>
        </div>
    </div>
    <!--side bar end-->
    <!--mainer begin-->
    <div id="mainer" class="mainer cl">
    	<div class="mainer-title">地址库</div>
        <div id="listhead" class="well well-mini mbm">
        	<button type="button" onClick="useract('add');" class="btn btn-primary"><span>新建地址</span></button>
        </div>
        <empty name="infos">
        <div class="nodata-tip">暂无信息</div>
        <else />
        <div id="listbody" class="posr">
            <form id="moderate" autocomplete="off">
            <table class="table" >
            	<thead>
                	<tr>
                    	<th width="60">取货地址</th>
                        <th width="60">发货地址</th>
                        <th width="60">退货地址</th>
                    	<th>联系人/公司</th>
                        <th>详细地址</th>
                        <th width="100">联系方式</th>
                        <th width="70">备注</th>
                        <th width="30">操作</th>
                	</tr>
            	</thead>
            	<tbody id="doc_content">
                <volist name="infos" id="info">
                	<tr id="address_{$info['contact_id']}" class='dyl-item'>
                    	<td>
                        	<div class="field-input btn-group" data-toggle="buttons-radio"><button class="btn <if condition="$info['get_def']">active</if>" type="button" onclick="fnTriggerRadio(this)"><span><label><input type="radio" class="hide" value="1" name="info[get_def]" <if condition="$info['get_def']">checked="checked"</if>>默认</label></span></button></div>
                    	</td>
                        <td>
                        	<div class="field-input btn-group" data-toggle="buttons-radio"><button class="btn <if condition="$info['send_def']">active</if>" type="button" onclick="fnTriggerRadio(this)"><span><label><input type="radio" class="hide" value="1" name="info[send_def]" <if condition="$info['send_def']">checked="checked"</if>>默认</label></span></button></div>
                    	</td>
                        <td>
                        	<div class="field-input btn-group" data-toggle="buttons-radio"><button class="btn <if condition="$info['cancel_def']">active</if>" type="button" onclick="fnTriggerRadio(this)"><span><label><input type="radio" class="hide" value="1" name="info[cancel_def]" <if condition="$info['cancel_def']">checked="checked"</if>>默认</label></span></button></div>
                    	</td>
                        <td>
                        	{$info['contact_name']}<br />
                            {$info['seller_company']}
                        </td>
                        <td align="center">
                        	{$info['province']} {$info['city']} {$info['country']}<br />
                            {$info['addr']}({$info['zip_code']})
                        </td>
                        <td align="center">
                        	{$info['phone']}<br />
                            {$info['mobile_phone']}
                        </td>
                        <td align="center">{$info['memo']}</td>
                        <td align="center">
                            <a href="javascript:void(0);" href="javascript:;" onclick="edit('{$info['contact_id']}');return false;" title="编辑地址">编辑</a><br /> 
                            <a href="javascript:void(0)" onclick="deleting('{$info['contact_id']}');return false;">删除</a>
                        </td>
                	</tr>
                </volist>
            	</tbody>     
            </table>
            </form>
        </div>
        </empty>
    </div>
    <!--mainer end-->
</div>
<!--container end-->
<script type="text/javascript">
	var msgbox = $("<div id='d'></div>");
	
    function edit(cid){
		msgbox.iDialog({
			title:'编辑地址库',
			href:'{:U('addressedit')}/contact_id/'+cid,
			width:600,
			height:'auto',
			submit:function(){
				$('#AddressForm').form('submit',{
					url:'{:U('addressedit',array('ajax'=>1))}',
					success:function(data){
						var s = jQuery.parseJSON(data);	
						if (s.status) {
							$("body").iTips({content:s.info,css:'success'});
							window.location.reload();
						}else{
							$("body").iTips({content:s.info,css:'error'});
						}	
					}
				});
				return false;
			}
		});
    }
	
	function deleting(cid){
		$.messager.confirm('确认删除地址库', '删除地址库便无法恢复，确认要取消？',function(bFlag){
			if(bFlag){ //判断是否确定删除选择的数据
				$.post('{:U('addressdel')}',{delid:cid},function(data){
					if(data.status){
						$("body").iTips({content:data.info,css:'success'});	
						$('#address_'+cid.value).hide(1000); //动态隐藏
						$('#address_'+cid.value).empty(); //清空 也可以取消该日志的选择，如果只是隐藏，函数会继续操作被删除的日志
					}else{
						$("body").iTips({content:data.info,css:'warning'});
					}
				},'json');
			}
		});
    }
</script>
<mc:tpl file="Public/footer" />