<form name="AddressForm" id="AddressForm" method="post">
    <div class="mbm">
        <table class="table table-bordered table-subfield">
        	<tr>
                <th>联系人<font color="red">*</font></th>
                <td><input type="text" class="span6" name="info[contact_name]" id="info[contact_name]" value="{$info['contact_name']}" style="width:120px;" /></td>
                <th>公司名称</th>
                <td><input type="text" class="span6" name="info[seller_company]" id="info[seller_company]" value="{$info['seller_company']}" style="width:200px;" /></td>
            </tr>
            <tr>
                <th>所在地区<font color="red">*</font></th>
                <td colspan="3"><input type="text" class="span6" name="info[contact_name]" id="info[contact_name]" value="{$info['areas']}" style="width:120px;" /></td>
            </tr>
            <tr>
                <th>街道地址<font color="red">*</font></th>
                <td colspan="3"><textarea name="info[addr]" id="info[addr]" style="height:40px; width:250px;" placeholder="不需要重复填写省/市/区">{$info['addr']}</textarea></td>
            </tr>
            <tr>
                <th>邮政编码<font color="red">*</font></th>
                <td colspan="3"><input type="text" class="span6" name="info[zip_code]" id="info[zip_code]" value="{$info['zip_code']}" style="width:80px;" /></td>
            </tr>
            <tr>
            	<th>手机号码</th>
                <td><input type="text" class="span6" name="info[mobile_phone]" id="info[mobile_phone]" value="{$info['mobile_phone']}" style="width:120px;" /></td>
                <th>电话号码</th>
                <td>
                	<input type="text" class="span6" name="info[phone][]" id="info[phone][]" value="{$info['phone'][0]}" style="width:40px;" /> - 
                    <input type="text" class="span6" name="info[phone][]" id="info[phone][]" value="{$info['phone'][1]}" style="width:80px;" /> - 
                    <input type="text" class="span6" name="info[phone][]" id="info[phone][]" value="{$info['phone'][3]}" style="width:40px;" />
                </td>
            </tr>
            <tr>
                <th>取货地址</th>
                <td>{:Form::radio(array('1'=>'是','0'=>'否'), 'info[get_def]', $info['get_def'])}</td>
                <th>退货地址</th>
                <td>{:Form::radio(array('1'=>'是','0'=>'否'), 'info[cancel_def]', $info['cancel_def'])}</td>
            </tr>
            <tr>
                <th>备注</th>
                <td colspan="3"><textarea name="memo" id="memo" style="height:40px; width:250px;" placeholder="不超过255个字符">{$info['memo']}</textarea></td>
            </tr>
        </table>
        <input type="hidden" name="tid" value="{$info['tid']}">
    </div>
</form>