<table class="table table-bordered table-subfield">
	<tbody>
    	<tr>
        	<th width="13%">物流单号</th>
            <td>{$info['company']} -> {$info['no']}</td>
    	</tr>
    	<tr>
        	<th>物流状态</th>
            <td>{$info['state']}</td>
    	</tr>
    	<tr>
        	<th>流转信息</th>
            <td>
            <if condition="is_array($info['message'])">
            <volist name="info['message']" id="msg">
            	<p style="line-height:25px;"><strong>{$msg["time"]}</strong>  {$msg["context"]}</p>
            </volist>
            <else />
            	{$info['message']}
            </if>
            </td>
            
    	</tr>
        <tr>
        	<th>详细信息</th>
            <td><a href="{$info['link']}" target="_blank">更详细物流信息</a></td>
    	</tr>
	</tbody>
</table>