<table class="table table-bordered table-subfield">
	<tbody>
    	<tr>
        	<th width="13%">交易号</th>
            <td>{$trace['tid']}</td>
    	</tr>
        <tr>
        	<th width="13%">物流单号</th>
            <td>{$trace['company_name']} -> {$trace['out_sid']}</td>
    	</tr>
    	<tr>
        	<th>物流状态</th>
            <td>{$trace['status']}</td>
    	</tr>
    	<tr>
        	<th>流转信息</th>
            <td>
            <if condition="is_array($trace['trace_list'])">
            <volist name="trace['trace_list']" id="msg">
            	<p style="line-height:25px;"><strong>{$msg["status_time"]}</strong>  {$msg["status_desc"]}</p>
            </volist>
            <else />
            	{$trace['trace_list']}
            </if>
            </td>
            
    	</tr>
	</tbody>
</table>