<?xml version="1.0" encoding="utf-8"?>
<root><![CDATA[登录痕迹已清除<script type="text/javascript" reload="1">if(typeof succeedhandle_=='function') {succeedhandle_('http://t.coromachi.com/./', '登录痕迹已清除', {});}</script>
]]>
</root>