    <mc:tpl file="Public/head" />
<meta name="msapplication-tooltip" content="博思协同办公" />
<link type="text/css" rel="stylesheet" href="static/js/bootstrap/bootstrap.css">
<link type="text/css" rel="stylesheet" href="static/js/bootstrap/animate.min.css">
<style>
    body{
        background-color: #FFF;
    }
    .loginbody{	
        position:relative;
        height:460px;
            background-color: whiteSmoke;
    background: url(./static/image/login/banner/login5.png) no-repeat left center;
        }
    .small_bg {
        width: 556px;
        height: 382px;
        float: left;
        background-color: gray;
        margin-top: 35px;
        background: url(./static/image/login/banner/login5.png) no-repeat left center;
    }
    .loginmodal {
        position: static;
        float:right;
        width: 300px;
        margin: 35px 40px;
        background-color: white;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding-box;
        background-clip: padding-box;
    }
    .modal-header{
        text-align:center;
    }
    .modal-body{
        padding:20px 30px 20px;
    }
    .modal-footer{
        height:60px;	
    }
    .login-input {
        position: relative;
        height: 33px;
        margin-top: 0px;
        clear: both;
        width: 240px;
        border: 1px solid #BAC5D4;
        border-bottom-color: #D5DBE2;
        border-right-color: #D5DBE2;
        border-radius: 4px;
    }
    .login-td-input {
        width: 224px;
        padding: 7px 8px 6px 8px;
        border: 1px solid #838383;
        height: 20px;
        top: 0;
        left: 0;
        line-height: 20px;
        font-size: 16px;
        background-color: #EEF3F8;
        border: none;
        font-family: verdana;
        line-height: 17px;
        color: #92A4BF;
    }
    .loginway {
        position: absolute;
        top: 0px;
        right: 0;
        padding: 0 10px;
        width: 57px;
        height: 33px;
        background: url(static/image/common/arrow.gif) no-repeat 55px 12px #fff;
        border-left: 1px solid #d5e5d2;
        font: 400 14px/36px 'Simsun';
        color: #999;
        cursor: pointer;
        border-radius: 4px;
    }
    .loginway_menu {
        position: absolute;
        top: -20px;
        right: 0;
        display: none;
        padding: 0 10px;
        width: 57px;
        height: 76px;
        font-size: 14px;
        color:#999;
        border: 1px solid #abc;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        background:#FFFFFF;
    }
    .loginway_menu p {
        line-height: 25px;
        cursor: pointer;
    }
    .header_h2 { 
        padding:8px 20px 0 0;
        float:left; font-size:26px;
        font-family: "Microsoft YaHei", "Hiragino Sans GB", STHeiti, Tahoma, SimHei, sans-serif;
        font-weight: 100;
        line-height:55px;}
    .top_padding {
        padding-top: 40px;
    }
    .line_ele_left {
        margin-left: 15px;
    }
    .modal-footer {
        overflow: hidden;
        text-align:left;
    }
    .modal-footer dd {
        height: 40px;
        overflow: hidden;
        margin-bottom: 20px;
        margin-left: 18px;
    }

    .btn-primary {
        background-color: #43A1DA;
        background-image: -moz-linear-gradient(top, #4ba6db, #369bd7);
        background-image: -ms-linear-gradient(top, #4ba6db, #369bd7);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4ba6db), to(#369bd7));
        background-image: -webkit-linear-gradient(top, #4ba6db, #369bd7);
        background-image: -o-linear-gradient(top, #4ba6db, #369bd7);
        background-image: linear-gradient(top, #4ba6db, #369bd7);
        background-repeat: repeat-x;
        border-color: #369BD7 #369BD7 #2071A1;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    }
    .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
        background-color: #369bd7;
    }
    #logo_h1 a img{ max-height: 60px; *height: 60px; }
</style>
<!--[if IE 7]>
    <script src="static/js/ie/ie_upgrade_show.js" type="text/javascript"></script>
<![endif]-->
</head>
<body onkeydown="if(event.keyCode==27) return false;">
    <div id="append_parent"></div>
    <div id="ajaxwaitid"></div>
    <div class="container top_padding">
        <div class="row">
            <div class="span24 mbm">
                <div class="row">
                    <h1 id="logo_h1" class="z">
                                                <a href="./" title="博思协同办公"><img src="static/image/common/logo.png" alt="博思协同办公" border="0" /></a>
                                            </h1>
                    <h2 class="header_h2 z">博思协同办公</h2>
                </div>
            </div>
        </div>
    </div>
    <div  style="height: 460px; width: 100%; background: url(./static/image/login/banner/login3_bg.png) center top repeat-x">
        <div class="container">
            <div class="row">
                <div class="span24 loginbody">
                                        <div class="loginmodal animated flipInY">
                        <div class="modal-header">
                            <h3>系统登录</h3>
                        </div>
                        <div class="modal-body" >
                            <div id="main_succeed" style="display: none;">
                                <div>
                                    <div class="alert_right mbw">
                                        <p id="succeedmessage"></p>
                                        <p id="succeedlocation" class="mbw"></p>
                                    </div>
                                    <p class="mbw"><a id="succeedmessage_href">如果您的浏览器没有自动跳转，请点击此链接</a></p>
                                </div>
                            </div>
                            <div id="main_message">
                                <div id="main_messaqge_">
                                    <div id="layer_login_">
                                        <h3> 
                                            <em id="returnmessage_">
                                                                                            </em> 
                                            <span>
                                                                                            </span> 
                                        </h3>
                                             <form method="post" autocomplete="off" name="login" id="loginform_" class="cl" action="{:U("Member/Index/checkLogin")}/">
                                            <div class="c cl">
                                                <input type="hidden" name="forward" value="{$forward}" />
                                                                                                                                                                                                <div class="login-input mbm">
                                                    <p class="logintxt" style="background-position: 0px 0px; ">
                                                        <input type="text" name="username" id="username_" value=""
                                                               onkeydown="if(event.keyCode==13){return fnCheckLoginInput();}"
                                                               autocomplete="off" size="30" class="login-td-input bw0" style="width:155px;" 
                                                               tabindex="1" placeholder="用户名"/>
                                                        <label type="text" class="loginway" id="loginway" >用户名</label>
                                                        <input type="hidden" id="loginway_val" name="fastloginfield" value="username">
                                                                                                                <span class="login_slct">
                                                            <input type="hidden" name="loginfield" id="loginfield_" value="" />
                                                        </span>
                                                                                                            </p>
                                                    <div id="loginway_menu" class="loginway_menu" style="display: none; ">
                                                        <p value="username">用户名</p>
                                                    </div>
                                                </div>
                                                <div class="y mbn"> <a href="javascript:;" onClick="display('layer_login_');display('layer_lostpw_');"
                                                                       title="找回密码">找回密码</a> </div>
                                                <div class="login-input mbw">
                                                    <input type="password" id="password3_" name="password" size="30" 
                                                           onkeydown="if(event.keyCode==13){return fnCheckLoginInput();}"
                                                           class="login-td-input" tabindex="1" placeholder="密码"/>
                                                </div>
                                                                                                                                                                                                <div class="mbw ">
                                                                                                                                                                <a href="javascript:;" onClick="ajaxget('Member/Index/checkLogin/', 'returnmessage_', 'returnmessage_');return false;" title="清除痕迹" class="y">清除痕迹</a>
                                                                                                        <label for="cookietime_">
                                                        <input type="checkbox" class="pc" name="cookietime" id="cookietime_" tabindex="1" value="2592000"  />
                                                        自动登录
                                                    </label>
                                                </div>
                                                <div class="bw0">
                                                    <button type="button" name="loginsubmit" value="true" tabindex="1" class="btn btn-primary" 
                                                    onclick="fnCheckLoginInput()" style="width:40%; height:33px;"><strong>登录</strong></button>
                                                </div>
                                                                                            </div>
                                        </form>
                                    </div>
                                    <div id="layer_lostpw_" style="display: none;">
                                        <h3> <i id="returnmessage3_"></i> <span>
                                                                                            </span> </h3>
                                        <form method="post" autocomplete="off" id="lostpwform_" class="cl" onSubmit="ajaxpost('lostpwform_', 'returnmessage3_', 'returnmessage3_', 'onerror');return false;" action="member.php?mod=lostpasswd&amp;lostpwsubmit=yes&amp;infloat=yes">
                                            <div class="c cl">
                                                <input type="hidden" name="formhash" value="edd3e293" />
                                                <input type="hidden" name="handlekey" value="lostpwform" />
                                                <label class="mbn">
                                                    找回密码Email
                                                </label>
                                                <div class="mbw login-input">
                                                    <input type="text" name="email" id="lostpw_email" class="login-td-input" size="30" value=""  tabindex="1" placeholder="Email"/>
                                                </div>
                                                <label class="mbn">
                                                    用户名
                                                </label>
                                                <div class="mbw login-input">
                                                    <input type="text" name="username" id="lostpw_username" class="login-td-input" size="30" value=""  tabindex="1" placeholder="用户名" />
                                                </div>
                                                <div class="mbn bw0">
                                                    <button class="btn btn-primary" style="width:40%; height:33px;" type="submit" name="lostpwsubmit" value="true" tabindex="100"><span>提交</span></button>
                                                    <button class="btn y" style="width:40%; height:33px;" type="button" id="returnLogin" value="true" tabindex="100" onClick="display('layer_login_');display('layer_lostpw_');"><span>返回</span></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <dl id="playan">
                                                                <dt><i class="icon-info-sign"></i>&nbsp;IBOS演示系统帐户</dt>
                                <dd>系统管理员:admin 密码 ibosdemo
公司管理员:test1 密码 123456
普通员工:test2 密码 123456</dd>
                                                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--[if lte IE 9]>
    <script src="static/js/ie/jquery.placeholder.min.js" type="text/javascript"></script>
    <script type="text/javascript">
            $(function() { 
                    $('input, textarea').placeholder();
                    $('#returnLogin').on('click', function(){
                      $('input, textarea').placeholder();
                    })
            });
    </script>
    <![endif]-->
    <script type="text/javascript">
        /**
         * 检查登录的账号、密码输入
         * @author gzzyb
         */
        function fnCheckLoginInput(){
            var objUsername = $("input[name='username']");
            var objPwd = $("input[name='password']");
            if(trim(objUsername.val())=='' || objPwd.val()==''){
                $("body").iTips({content:'抱歉，请输入您的账号和密码！',css:'warning'});
                return false;
            }else{
                $("form[name='login']").submit();
            }
        } //end function
                window.onload = function() {
            var oCtrl = _id("loginway"),
            oMenu = _id("loginway_menu"),
            nVal = _id("loginway_val"),
            aLoginWay = _id("loginway_menu").getElementsByTagName("p"),
            i, l = aLoginWay.length;
            oCtrl.onclick = function(){
                oMenu.style.display = "block";
            }
            for(i = 0; i<l; i++){
                aLoginWay[i].onclick = function(){
                    oCtrl.innerHTML = this.innerHTML;
                    oMenu.style.display = "none";
                    nVal.value = this.getAttribute('value');
                }
            }

                    }

        function fnSetTimePlay() {
            setTimeout(function(){
                $("#playan").animate({
                    marginTop: '-=75px'
                }, 1000, '', function() {
                    $("#playan").get(0).appendChild($("#playan dt:eq(0)").get(0));
                    $("#playan").get(0).appendChild($("#playan dd:eq(0)").get(0));
                    $("#playan").css('marginTop', '0');
                    fnSetTimePlay();
                });
            }, 5000);
        }
    </script>
   <mc:tpl file="Public/footer" />