<mc:tpl file="Public/header" />
<mc:tpl file="Public/navmenu" />
<!--container begin-->
<link rel="stylesheet" type="text/css" href="{:C('CSS_PATH')}product.css" />
<script type="text/javascript" src="{:C('JS_PATH')}cate.js"></script>
<div class="wp cl" id="container">
    <!--mainer begin-->
    <div class="mainer " id="mainer">
        <div class="mainer-title">货源中心</div>
        <div id="listhead" class="well well-mini mbm">
            <!--搜索栏输入框-->
            <div class="mn-scbox input-append">
            	<input type="text" name="keyword" id="searchinput" value="{$keyword}" class="w200 xc1" placeholder="搜索商品名称…" onfocus="
                    !function(o){
                        $(o).next().find('i').attr('class', 'i_g i-sc-enter');
                        $(o).blur(function(){
                            var objNextBtn = $(this).next();
                            if(this.value==''){
                                objNextBtn.find('i').attr('class', 'i_g i-sc-config');
                                objNextBtn.attr('onclick','showAdvanceSearchMenu(this)');
                            }else{
                                objNextBtn.attr('onclick','fnSearchSubmit(event,true)');
                            }
                        });
                    }(this);
            " onkeydown="fnSearchSubmit(event);"/><button class="btn add-on" id="sc_btn" onclick="showAdvanceSearchMenu(this);"><i class="i_g i-sc-config"></i></button>
            <span onclick="" id="searchIcon" class="i_g i-sc-search cur1"></span> 
            </div>
            <!--搜索栏输入框end-->
            <div class="nowrap left">
                <span class="btn_sepline z"></span>
                <button type="button" onclick="syn();" class="btn btn-primary"><span>同步宝贝</span></button>
                <button type="button" onclick="add();" class="btn btn-primary"><span>添加宝贝</span></button>
            </div>
        </div>
        <div id="listbody">
        <form id="moderate" autocomplete="off">
            <div class="view clearfix" id="J_ItemList">
                <volist name="infos" id="info">
                <div class="product" id="{$info['id']}">
                    <div class="product-iWrap">
                        <div class="productImg-wrap"><a href="/Seller/Goods/{$info['id']}" class="productImg" target="_blank"><img src="{$info['pic_url']}_160x160.jpg"></a></div>
                        <div class="productShop">
                            <a class="productShop-name" href="{$info['shop_url']}" target="_blank">{$info['shop_name']}</a>
                            <span><input onclick="tmodclick(this);" id="moderate_{$info['tid']}" type="checkbox" value="{$info['tid']}" class="vm" /></span>
                        </div>
                        <p class="productPrice"><del title="{$info['price']}">&yen;{$info['price']}</del><span>月销量:<em>{$info['volume']}</em></span></p>
                        <p class="productTitle"><a href="/Seller/Goods/{$info['id']}" target="_blank" title="">{$info['title']}</a></p>
                        <div class="productAttrs">
                            <p><button type="button" onClick="del();" class="btn"><span>推荐</span></button>
                            <button type="button" onClick="serial({$info['id']}, '{$info['title']}');" class="btn"><span>入库</span></button><p>
                            <p><button type="button" onClick="upload({$info['id']}, '{$info['title']}');" class="btn"><span>一键上传</span></button><p>
                        </div>
                    </div>
                </div>
                </volist>
            </div>
            
        	<div id="mdly" style="display: none;">
                <input type="hidden" name="optgroup" />
                <input type="hidden" name="operation" />
                <a class="cp" href="javascript:;" title="隐藏" onclick="_id('mdly').className='cpd'"><i class="icon-chevron-right"></i>&nbsp;隐藏</a>
                <label>
                    <input type="checkbox" name="chkall" class="pc" onclick="if(!(_id('mdct').innerHTML = modclickcount = checkalldiray(this))) {_id('mdly').style.display = 'none';}" />全选
                    <span class="pipe">|</span>
                </label>
                <h6><span>选中</span><strong onclick="_id('mdly').className='';" id="mdct"></strong><span>条: </span></h6>
                <p>
                    <button type="button" class="btn" href="javascript:;" onclick="moddiray('del');return false;"><span><i class="icon-trash"></i>&nbsp;删除</span></button>
                     <button type="button" class="btn" href="javascript:;" onclick="moddiray('disable');return false;"><span><i class="icon-trash"></i>&nbsp;禁用</span></button>
                    <span id="isedit">
                        <button type="button" class="btn" href="javascript:;" onclick="moddiray('edit');return false;"><span><i class="icon-pencil"></i>&nbsp;编辑</span></button>
                    </span>
                    <span id="noedit">
                        <button type="button" class="btn disabled" href="javascript:;" ><span><i class="icon-pencil"></i>&nbsp;编辑</span></button>
                    </span>
                </p>
            </div>
            
        </form>
        </div>
        <div id="listfoot" class="well well-mini mtw">
        	<div class="y">
            	<div class="pg">{$page}</a>
                </div>
        	</div>
        </div>
        
        <div id="addbox" style="display:none;">
            <table class="table table-bordered table-subfield">
                <tr>
                    <th>宝贝链接</th>
                    <td><input type="text" class="span6" name="url" id="url" style="width:350px;" /></td>
                </tr>
                <tr>
                	<th>操作提示</th>
                    <td>
                    	上传前请确认该店铺已经收录在系统商家目录中。<br />
                        每个宝贝都有一个唯一的链接（URL），宝贝链接里包含"id=xxxxxxxx"。如：<br />
                        http://detail.tmall.com/item.htm?id=14510826859
                    </td>
                </tr>     
            </table>
        </div>
        <div id="searchdiv" style="display: none;background:#FFF;" class="searchdiv">
            <div class="content">
                <div class="settingtd settingdiv">
                    <table cellspacing="0" cellpadding="4" border="0">
                        <tbody>
                            <tr>
                                <td class="td_right" width="80">&nbsp;商品名称&nbsp;：</td>
                                <td><input type="text" name="keyword" id="keyword" value="{$keyword}" class="w200" /></td>
                            </tr>
                            <tr>
                                <td class="td_right">&nbsp;档口名称&nbsp;：</td>
                                <td><input type="text" name="name" id="name" value="{$name}" class="w100" /></td>
                            </tr>
                            <tr>
                                <td class="td_right">&nbsp;店铺旺旺&nbsp;：</td>
                                <td><input type="text" name="nick" id="nick" value="{$nick}" class="w100" /></td>
                            </tr>
                            <tr>
                                <td class="td_right">&nbsp;页码&nbsp;：</td>
                                <td><input type="text" name="pz" id="pz" value="{$pz}" class="w100" />条每页</td>
                            </tr>
                            <tr>
                                <td class="td_right">&nbsp;档口位置&nbsp;：</td>
                                <td>{:Form::select(array(""=>"所有位置","星座"=>"星座","置地"=>"置地","中星"=>"中星","九星"=>"九星","九天"=>"九天","意法"=>"意法","新杭派"=>"新杭派","科达"=>"科达","自由港"=>"自由港","贰号基地"=>"贰号基地","星座女装"=>"星座女装"), 'location', $location)}</td>
                            </tr>
                            <tr>
                                <td class="td_right">&nbsp;淘宝类目&nbsp;：</td>
                                <td><select class="J_cate_select mr10" data-cid="0" data-uri="{:U('Seller/Cats/ajax_cats')}"></select><input type="hidden" name="cid" id="J_cate_id" value="{$cid}" /></td>
                            </tr>
                            <tr>
                                <td class="td_right" width="80">开始时间：</td>
                                <td>
                                    <div class="input-append">
                                        <input type="text" id="begindate" name="begindate" value="{$begindate}" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true}); this.blur()"><button type="button"
                                        class="btn add-on" onclick="WdatePicker({el:'begindate', dateFmt:'yyyy-MM-dd',isShowClear:true});"><i class="i_g i-date"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_right" width="80">结束时间：</td>
                                <td>
                                    <div class="input-append">
                                        <input type="text" id="enddate" name="enddate" value="{$enddate}" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true}); this.blur()" ><button type="button"
                                        class="btn add-on" onclick="WdatePicker({el:'enddate', dateFmt:'yyyy-MM-dd',isShowClear:true});"><i class="i_g i-date"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!--container end-->
<script type="text/javascript">
    var msgbox = $("<div id='d'></div>");
	
	/**
     * 手动添加
     */
    function add(){
		$('#addbox').iDialog({
			title:'手动添加宝贝',
			width:500,
			height:'auto',
			submit:function(){
				var url = $('#url').val();
				$.post("{:U('add')}",{url:encodeURIComponent(url)},function(data){
					if(data.status){
						$('#addbox').dialog('close');
						upload(data.info.id, data.info.title);
					} else {
						$('body').iTips({content:data.info,css:'error'});
					}
				},'json');
				return false;
			}
		});
    }
	
	/*
     *一键上传
     */
    function upload(id,title){
		var url = "{:U('upload')}/id/"+id;
		msgbox.iDialog({
			title:"一键上传："+title,
			href:url,
			width:500,
			height:'auto',
			submit:function(){
				$("body").iTips({content:'正在提交表单，请稍候',css:'success'});
				$('#UploadForm').form('submit',{
					url:url+'/ajax/1',
					success:function(data){
						var s = jQuery.parseJSON(data);	
						if (s.status) {
							$("body").iTips({content:s.info,css:'success'});
							msgbox.dialog('close');
						}else{
							$("body").iTips({content:s.info,css:'error'});
						}	
					}
				});
				return false;
			}
		});
	}
	
	/*
     *建立编码
     */
    function serial(id,title){
		var url = "{:U('Seller/Serial/aedit')}/iid/"+id;
		msgbox.iDialog({
			title:"建立编码："+title,
			href:url,
			width:500,
			height:'auto',
			submit:function(){
				$('#AliasForm').form('submit',{
					url:url+'/ajax/1',
					success:function(data){
						var s = jQuery.parseJSON(data);	
						if (s.status) {
							$("body").iTips({content:s.info,css:'success'});
							msgbox.dialog('close');
						}else{
							$("body").iTips({content:s.info,css:'error'});
						}	
					}
				});
				return false;
			}
		});
	}

	function syn(){
		$.messager.confirm('同步确认','确认要同步货源吗？',function(r){ 
			if (r) {
				$.getJSON("{:U('collect')}",function(data){
					if(data.status){
						 $('body').iTips({content:data.info,css:'success'});
						 msgbox.iDialog({
							title: data.info,
							width:250,
							height:'1',
							nobtns:true,
							shadow:true
						});
						 collect_page();
					} else {
						 $('body').iTips({content:data.info,css:'error'});
					}
				});
			}
		});
	}
	
    function collect_page(){
        $.getJSON("{:U('syn')}", function(result){
            if(result.status){
                msgbox.iDialog({
					title: result.info,
					html: result.data,
					width:250,
					height:'auto',
					nobtns:true,
					shadow:true
				});
                collect_page();
            }else{
				$("body").iTips({content:result.info,css:'success'});
				location.reload();
            }
        });
    }
	
    //新增快捷操作菜单 @dlh
    var modclickcount = 0; //全局，记录已选日志条数
    /*
     *记录已选日志条数，并显示快捷操作菜单
     *obj obj 选择框的对象
     */
    function tmodclick(obj) {
        if(obj.checked) {
            modclickcount++;
        } else {
            modclickcount--;
        }
        _id('mdct').innerHTML = modclickcount;
        if(modclickcount > 0) {
            var top_offset = obj.offsetTop;
            _id('mdly').style.top = top_offset - 7 + 'px';
            _id('mdly').style.display = 'block';
        } else {
            _id('mdly').style.display = 'none';
        }
        if(!_id('isedit')){
            return false;
        }else if(modclickcount==1){
            _id('isedit').style.display = '';
            _id('noedit').style.display = 'none';
        }else{
            _id('isedit').style.display = 'none';
            _id('noedit').style.display = '';
        }
    }

    /*
     *快捷操作
     *act del、edit
     */
    function moddiray(act){
        var diaids = '';
        var darr = $("#listbody .goods :checked");
        for(i=0;i<darr.length;i++){
            if(darr.length == 1){
                diaids += darr[i].value;
            }else{
                diaids += ','+darr[i].value;
            }
        }
        switch(act){
            case 'del':
                $.messager.confirm('确认删除', '编码不能恢复，是否确认要删除？',function(bFlag){
                    if(bFlag){ //判断是否确定删除选择的数据
                         $.post('{:U('del')}',{delid:diaids},function(result){
                            if(result.status){
								$("body").iTips({content:result.info,css:'success'});	
                                for(i=0;i<darr.length;i++){ //遍历被删除的日志
                                    $('#serial_'+darr[i].value).hide(1000); //动态隐藏
                                    $('#serial_'+darr[i].value).empty(); //清空 也可以取消该日志的选择，如果只是隐藏，函数会继续操作被删除的日志
                                }
                                $('#mdly').hide(); //隐藏快捷操作菜单
                                modclickcount = 0; //重置
                            }else{
                               $("body").iTips({content:result.info,css:'warning'});
                            }
                        },'json');
                    }
                });
                break;
            case 'edit':
                //禁用接口
                break;
        }
    }
	
    /*
     *全选日志
     *element 全选按钮对象
     */
    function checkalldiray(element){
        if(element.checked == true){
            $("#listbody .dyl-item [type=checkbox]").attr('checked',true);
            $('#isedit').hide();
            $('#noedit').show();
        }else{
            $("#listbody .dyl-item [type=checkbox]").attr('checked',false);
        }
        return $("#listbody .dyl-item :checked").length;
    }
	
	/*
     * 简单搜素提交处理  zyb
     */
    function fnSearchSubmit(event,isClick){
        var myEvent = window.event || event;
        if(myEvent.keyCode==13 || isClick){
			var key = $("#searchinput").val();
            if (trim(key) != "") {
                window.location.href='{:U('index')}/keyword/'+key;
            }
        }
    }
    
    /**
     * 显示高级搜素弹出框,并做提交处理   zyb
     */
    function showAdvanceSearchMenu(submitBtn){
        var oSearchNode = $('#searchdiv');
        oSearchNode.iDialog({
                title: '高级搜素',
                modal:true,
                width:'420',
                height:'auto',
                submit:function(){
                    oSearchNode.dialog('close');
					var query = "";
					if (trim($('#keyword').val()) != "") query += "/keyword/"+$('#keyword').val();
					if (trim($('#name').val()) != "") query += "/name/"+$('#name').val();
					if (trim($('#nick').val()) != "") query += "/nick/"+$('#nick').val();
					if (trim($('#pz').val()) != "") query += "/pz/"+$('#pz').val();
					if (trim($('#location').val()) != "") query += "/location/"+$('#location').val();
					if (trim($('#J_cate_id').val()) != "") query += "/cid/"+$('#J_cate_id').val();
					if (trim($('#begindate').val()) != "") query += "/begindate/"+$('#begindate').val();
					if (trim($('#enddate').val()) != "") query += "/enddate/"+$('#enddate').val();
					window.location.href="{:U('index')}"+query;
                }
            });
    }
	
	//分类联动
    $('.J_cate_select').cate_select({field:'J_cate_id'});
</script>
<mc:tpl file="Public/footer" />