<mc:tpl file="Public/header" />
<mc:tpl file="Public/navmenu" />
<link rel="stylesheet" type="text/css" href="{:C('CSS_PATH')}goods.css" />
<!--container begin-->
<div class=" wp cl" id="container">
    <div class="mainer-right">
        <!--词条信息 begin-->
        <div class="w_r_wrap ct-extra">
            <h2 class="sub-title">供应商信息</h2>
            <div class="ct-extra-content">
                <div class="w_editor_info">
                    <div class="w_editor_info_img z">
                        <a id="userinfo" href="{$shop['url']}"><img src="<empty name="shop['pic_path']">{:C('IMG_PATH')}common/tavatar.gif<else />http://img01.taobaocdn.com/imgextra{$shop['pic_path']}</empty>"></a>
                    </div>
                    <div class="w_editor_info_r">
                        <div><a href="{$shop['url']}" target="_blank" class="xi2 udh"><h1 class="w_doctitle">{$shop['title']}</h1></a></div>
                        <div>{:msg_path($item['nick'])}</div>
                    </div>
                </div>
                <ul class="w_c_ul bor-ccc" style="clear:both;border-top: 1px dashed #CCC;">
                    <li>等&nbsp;&nbsp;&nbsp;级:<img src="{:C('IMG_PATH')}taobao/item_s_blue_4.gif"></li>
                    <li>联&nbsp;&nbsp;&nbsp;系:{$shop['phone']}</li>
                    <li>Q&nbsp;&nbsp;&nbsp;Q:{$shop['qq']}</li>
                    <li>特色服务：{$shop['business']}</li>
                </ul>
            </div>
        </div>
        <!--词条信息 end-->
        <!--词条管理 begin-->
        <div class="w_r_wrap bbse1 ctgl" style=" border-top: 0 none;margin-bottom:10px;">
            <table class="w_r_table_action">
            	<tbody><tr>
                    <td><button name="Button2" id="rename_btn" type="button" class="btn" onclick="doc_rename();"><span>加入备用</span></button></td>
                    <td><button id="editcategory" name="Button3" type="button" class="btn " onclick="upload({$item['num_iid']}, '{$item['title']}');"><span>一键上传</span></button></td> 
                </tr>
                <tr>
                	<td><button onclick="lock('lock');" id="lock_btn" type="button" class="btn"><span><i id="lock_icon" class="icon o_w_unset"></i>推荐</span></button></td>
                    <td><button onclick="unaudit();" id="audit_btn" type="button" class="btn"><span><i id="audit_icon" class="icon o_w_set"></i>备用</span></button></td>
                </tr>
            	</tbody>
            </table>
        </div>
        <!--词条管理 end-->
    </div>
    <!--mainer-right ends-->
    <!--mainer begin-->
    <div class="mainer-left">
        <h1 class="w_doctitle">
        	<span id="doctitle"><a href="http://item.taobao.com/item.htm?id={$item['num_iid']}" target="_blank">{$item['title']}</a></span>
            <label id="auditmsg"></label>
            <label id="lockimage"></label>
        </h1>
        <div class="wk-toolbar cl">
            <div class="w_t_a_p1"> 
                <div id="J_item_gallery" class="show_body">
                    <div class="J_item img_show">
                    	<div id="J_img_zoom" class="img_zoom"><img alt="{$item.title}" class="J_decode_img" src="{$item['item_imgs'][0]['url']}" jqimg="{$item['item_imgs'][0]['url']}"></div>
                    </div>
                    <div class="img_list clearfix">
                        <ul id="J_img_list" class="fl">
                            <volist name="item['item_imgs']" id="img">
                            <li data-url="{$img['url']}" <eq name="i" value="1">class="active"</eq>><img alt="{$item['title']}" class="J_decode_img" src="{$img['url']}_100x100.jpg"></li>
                            </volist>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="y" style="width:380px;">
                <table class="table" height="360px">
                    <tr>
                        <th width="60">零售价</th>
                        <td>&yen;{$item['price']}</td>
                    </tr>
                    <volist name="sale_props" id="v">
                    <tr>
                        <th>{$key}</th>
                        <td>{:implode(' ', $v)}</td>
                    </tr>
                    </volist>
                    <tr>
                        <th>销量</th>
                        <td>30天售出{$item['volume']}件</td>
                    </tr>
                    <tr>
                        <th>商家编码</th>
                        <td>{$item['outer_id']}</td>
                    </tr>
                    <tr>
                        <th>创建时间</th>
                        <td>{$item['created']}</td>
                    </tr>
                </table>
            </div>
        </div>
        </div>
        <table class="table table-bordered table-subfield">
            <tr>
            	<volist name="normal_props" id="v" mod="4">
                <eq name="mod" value="0"></tr><tr></eq>
                <th>{$key}</th>
                <td>{:trim(implode(" ", $v), " ")}</td>
            	</volist>
            </tr>
        </table>
        
        <div class="wk-content" id="w_content">
        	<div class="content_topp">{$item['desc']}</div>
        </div>

        <div class="wk-notes bbse1 mbm">
            <p class="w_add_synonym">
                <label class="z" style="width:550px;"><b>类似产品</b>：
                                        <span name="nonesynonym">暂无类似产品</span>
                                    </label>
                <span class="y cur1" style="width: 110px;" onclick="Synonym.box(2,this)">
                    <img src="static/image/common/add_synonym.gif"><a class="xi2 udh" href="javascript:void(0)">编辑/添加同义词</a>
                </span>
            </p>
        </div>

<!--container ends-->
        <!--edittag box begin-->
        <div id="edittag_box" style="display:none;">
            <table width="100%" class="tbl">
                <tbody><tr>
                    <td><input id="tagSubject" type="text" class="w200" maxlength="200" size="50"></td>
                </tr>
                <tr>
                    <td>多个标签请分隔开，分割符可以使用中英文逗号分号或空格<span id="tagTip"></span></td>
                </tr>      
            </tbody></table>
        </div>
        <!--edittag box end-->
        <!--editletter box begin-->
        <div id="editletter_box" style="display:none;">
            <table width="100%" class="tbl">
                <tbody><tr>
                    <th>词条首字母</th>
                    <td><input id="first_letter" onfocus="select();" type="text" class="w100" maxlength="200" size="30"></td>
                </tr>  
            </tbody></table>
        </div>
        <!--editletter box end-->
        <!--rename box begin-->
        <div id="rename_box" style="display:none;">
            <table width="100%" class="tbl">
                <tbody><tr>
                    <th>词条名称</th>
                    <td>
                        <input id="newname" onfocus="select();" type="text" class="span6" maxlength="80" size="30">
                        <!--<label id='updatetitlenotice' style='height:20px;color:red'>&nbsp;</label>-->
                    </td>
                </tr>  
            </tbody></table>
        </div>
        <!--rename box end-->
        <!--relatedoc box begin-->
        <div id="relatedoc_box" style="display:none;"></div>
        <!--relatedoc box end-->
        <!--synonym box begin-->
        <div id="synonym_box" style="display:none;"></div>
        <!--synonym box end-->
    </div>
    <!--mainer ends-->
</div>
<!--container end-->

<script src="{:C('JS_PATH')}jquery.jqzoom.js"></script>
<script src="{:C('JS_PATH')}jquery.jcarousel.js"></script>
<script src="{:C('JS_PATH')}jquery.masonry.js"></script>
<script type="text/javascript">
	var s = '#J_item_gallery';
            if($('#J_img_list', s)[0]){
                $('#J_img_list').jcarousel();
                $('#J_img_list li', s).live('mouseover', function(){
                    var self = $(this),
                        bimg = self.attr('data-url');
                    self.addClass('active').siblings().removeClass('active');
                    $('.J_item img', s).attr('src', bimg).attr('jqimg', bimg);
                });
                $('#J_img_zoom').imagesLoaded(function(){
                    if ($('#J_img_zoom img').width() >= 310) {
                        $('#J_img_zoom', s).jqueryzoom({xzoom:420, yzoom:420,offset:20});
                    }
                });
                
            }
</script>
<script type="text/javascript">
    var msgbox = $("<div id='d'></div>");
    
	/*
     *一键上传
     */
    function upload(id,title){
		var url = "{:U('upload')}/id/"+id;
		msgbox.iDialog({
			title:"一键上传："+title,
			href:url,
			width:500,
			height:'auto',
			submit:function(){
				$("body").iTips({content:'正在提交表单，请稍候',css:'success'});
				$('#UploadForm').form('submit',{
					url:url+'/ajax/1',
					success:function(data){
						var s = jQuery.parseJSON(data);	
						if (s.status) {
							$("body").iTips({content:s.info,css:'success'});
							msgbox.dialog('close');
						}else{
							$("body").iTips({content:s.info,css:'error'});
						}	
					}
				});
				return false;
			}
		});
	}
</script>
<mc:tpl file="Public/footer" />