<form name="UploadForm" id="UploadForm" method="post">
    <div class="mbm">
        <table class="tbl2">
            <tr>
                <th style="width: 15%">原标题</th>
                <td>{$item['title']}</td>
            </tr>
            <tr>
                <th>原货号</th>
                <td>{$item['outer_id']}</td>
            </tr>
            <tr>
                <th><font color="red">*货源IID</font></th>
                <td>
                	<font color="red"><a href="{:C('SITE_DOMAIN')}/Seller/Goods/{$item['num_iid']}" title="查看商品信息" target="_blank">{$item['num_iid']}</a></font>
                	<input type="hidden" name="item[iid]" value="{$item[num_iid]}">
                </td>
            </tr>
            <tr>
                <th><font color="red">*商家编码</font></th>
                <td>
                	 <input type="text" name="item[serial]" id="serial" value="{$item['serial']}" onkeyup="serial_verify(this, 'serial_verify');" style="width:60px;">
                	 <button type="button" class="btn" href="javascript:;" onclick="serial_random('serial','serial_verify');"><span><i class="icon-pencil"></i>&nbsp;随机生成编码</span></button>
                	 <strong><font color="red"><span id="serial_verify"></span></font></strong>
                </td>
            </tr>
            <tr>
                <th><font color="red">*商家货号</font></th>
                <td><input type="text" class="span6" name="item[model]" value="{$item['model']}" style="width:120px;" /></td>
            </tr>
            <tr>
                <th><font color="red">*批发价</font></th>
                <td><input type="text" class="span6" name="item[price]" value="{$item['price']}" style="width:120px;" /></td>
            </tr>
            <tr>
                <th><font color="red">*宝贝标题</font></th>
                <td>
                	<input type="text" name="item[title]" id="serial" value="{$item['title']}" onkeyup="strlen_verify(this, 'title_len');" style="width:380px;"><br />
                	还可以输入 <span id="title_len"><strong><font color="red">{$item['lenth']}</font></strong></span> 个字符
                </td>
            </tr>
            <tr>
                <th><font color="red">*上传位置</font></th>
                <td>{:Form::radio(array(1=>"直接上架 ",0=>"放入仓库"), 'item[type]', 0)}</td>
            </tr>
        </table>
    </div>
</form>
<script type="text/javascript"> 
<!--
/*
*判断字符长度
*/
function strlen_verify(obj,checklen){
	var v = obj.value, maxlen = 60;
	$.getJSON("{:U('Seller/Index/strlen/')}/str/"+v+"/len/"+maxlen,function(data){
		if(data) {
			$('#'+checklen).html(data);
		}
	});
};

/*
*生成随机编码
*/
function serial_random(obj, checkalt){
	$.getJSON("{:U('Seller/Serial/random_serial')}",function(data){
		if(data.status){
			$('#'+obj).val(data.info);
			$('#'+checkalt).html('');
		}
	});
};

/*
*检查编码
*/
function serial_verify(obj,checkalt){
	var v = obj.value.toLocaleUpperCase();
	$(obj).val(v);
	$.getJSON('{:U("Seller/Serial/check_serial")}/str/'+v,function(data){
		if(data.status){
			$('#'+checkalt).html(data.info);
		}else{
			$("body").iTips({content:data.info,css:'warning'});
			$('#'+checkalt).html(data.info);
		}
	});
};
//-->
</script>