<form name="UploadForm" id="UploadForm" method="post">
    <div class="mbm">
        <table class="tbl2">
            <tr>
                <th colspan="4"><font color="red">亲，该商品已经创建好商家编码，直接上传该商品就可以了哦！ </font></th>
            </tr>
            <tr>
                <th style="width:15%">原标题</th>
                <td colspan="3"><font color="red">{$item['title']}</font></td>
            </tr>
            <tr>
                <th>原编码</th>
                <td colspan="3">{$item['outer_id']}</td>
            </tr>
            <tr>
                <th style="width:15%">商家编码</th>
                <td style="width:30%"><input type="hidden" name="info[outer_id]" value="{$item['serial']}"><font color="red">{$item['serial']}</font></td>
                <th style="width:15%">货源IID</th>
                <td style="width:30%"><font color="red">{$item['num_iid']}</font></td>
            </tr>
            <tr>
                <th>商家货号</th>
                <td><font color="red">{$item['model']}</font></td>
                <th>批发价</th>
                <td><font color="red">{$item['price']}</font></td>
            </tr>
            <tr>
                <th><font color="red">*宝贝标题</font></th>
                <td colspan="3">
                	<input type="text" name="item[title]" id="serial" value="{$item['title']}" onkeyup="strlen_verify(this, 'title_len');" style="width:380px;"><br />
                	还可以输入 <span id="title_len"><strong><font color="red">{$item['lenth']}</font></strong></span> 个字符
                </td>
            </tr>
            <tr>
                <th><font color="red">*上传位置</font></th>
                <td colspan="3">{:Form::radio(array(1=>"直接上架 ",0=>"放入仓库"), 'item[type]', 0)}</td>
            </tr>
        </table>
    </div>
</form>
<script type="text/javascript"> 
<!--
/*
*判断字符长度
*/
function strlen_verify(obj,checklen){
	var v = obj.value, maxlen = 60;
	$.get("{:U('Seller/Index/strlen/')}/str/"+v+"/len/"+maxlen,function(data){
		if(data) {
			$('#'+checklen).html(data);
		}
	});
};
//-->
</script>