                    	<td class="span1">
                            <span class="xs2">{$refund['refund_id']}</span><br />
                            <span class="art-addtime">{$refund['tid']}</span>
                    	</td>
                    	<td>
                        	<span>{$refund['buyer_nick']}</span><br />
                            <span class="art-addtime">{$refund['receiver_name']}</span>{:msg_path($refund['buyer_name'], 1)}
                    	</td>
                    	<td>
                        	<i class="art-view-num">{$refund['total_fee']}</i><br />
                            <i class="art-view-num">{$refund['refund_fee']}</i>
                    	</td>
                        <td>
                    		<span>{$refund['outer_sku_id']?$refund['outer_sku_id']:$refund['outer_iid']}</span>
                            <span class="art-view-num">* {$refund['num']}</span>
                    	</td>
                        <td>
                    		<span class="xs2">{:RefundStatus($refund['status'])}</span>
                            <gt name="refund['cs_status']" value="1"><br /><span class="art-addtime">{:CsStatus($refund['cs_status'])}</span></gt>
                            <gt name="refund['advance_status']" value="0"><br /><span class="art-addtime">{:AdvanceStatus($refund['advance_status'])}</span></gt>
                    	</td>
                        <td>
                    		<span class="art-addtime">{:format_date($refund['created'])}</span>
                    	</td>
                        <td>
                    		<span class="art-addtime">{:format_date($refund['modified'])}</span>
                    	</td>
                        <td class="span1">
                    		<span><a href="{:U('read')}/?refund_id={$refund['refund_id']}" id="{$refund['refund_id']}" class="xi2" onclick="popUp.view(this);return false; ">查看</a></span><br />
                        	<span><a href="javascript:void(0)" id="1" class="xi2" onclick="asyn('{$refund['refund_id']}');return false; ">刷新</a></span>
                    	</td>