<mc:tpl file="Public/header" />
<mc:tpl file="Public/navmenu" />
<!--container begin-->
<div class="ct2_a wp cl" id="container">
    <!--side bar begin-->
    <div class="sidebar">
    	<include file="sidebar" />
    </div>
    <!--side bar end-->
    <!--mainer begin-->
    <div id="mainer" class="mainer cl">
    	<div class="mainer-title">退款管理</div>
        <div class="tabs-wrap">
            <ul class="nav nav-tabs mbm">
                <li <empty name="status">class="active"</empty>><a href="{:U('index')}">全部退款</a></li>
                <li <eq name="status" value="WAIT_SELLER_AGREE">class="active"</eq>><a href="{:U('index', array('status'=>'WAIT_SELLER_AGREE'))}">申请中</a></li>
                <li <eq name="status" value="SELLER_REFUSE_BUYER">class="active"</eq>><a href="{:U('index', array('status'=>'SELLER_REFUSE_BUYER'))}">已拒绝</a></li>
                <li <eq name="status" value="WAIT_BUYER_RETURN_GOODS">class="active"</eq>><a href="{:U('index', array('status'=>'WAIT_BUYER_RETURN_GOODS'))}">已同意</a></li>
                <li <eq name="status" value="WAIT_SELLER_CONFIRM_GOODS">class="active"</eq>><a href="{:U('index', array('status'=>'WAIT_SELLER_CONFIRM_GOODS'))}">退货中</a></li>
                <li <eq name="status" value="SUCCESS">class="active"</eq>><a href="{:U('index', array('status'=>'SUCCESS'))}">退款成功</a></li>
                <li <eq name="status" value="CLOSED">class="active"</eq>><a href="{:U('index', array('status'=>'CLOSED'))}">退款关闭</a></li>
            </ul>
        </div>
        <empty name="refunds">
        <div class="nodata-tip">暂无信息</div>
        <else />
        <div id="listbody" class="posr">
            <table class="table">
            	<thead>
                	<tr>
                        <th width="115">退款编号/订单编号</th>
                        <th width="80">买家信息</th>
                    	<th width="50">金额</th>
                        <th>商品信息</th>
                        <th>退款状态</th>
                        <th width="70">申请时间</th>
                        <th width="70">超时时间</th>
                        <th width="35">操作</th>
                	</tr>
            	</thead>
            	<tbody id="doc_content">
                <volist name="refunds" id="refund">
                	<tr id="refund_{$refund['refund_id']}" class='dyl-item'>
                        <include file="asyn" />
                	</tr>
                </volist>
            	</tbody>     
            </table>
        </div>
        <div id="listfoot" class="well well-mini mtw">
        	<div class="y">
            	<div class="pg">{$page}</a>
                </div>
        	</div>
        </div>
        </empty>
    </div>
    <!--mainer end-->
</div>
<!--container end-->
<script type="text/javascript">
    var msgbox = $("<div id='d'></div>");
    /* 弹出全文框   */
	function asyn(refund_id){
        _body=$('#refund_'+refund_id);
		_body.hide().after("<i><img align='center' src='static/image/icon/loading.gif'></i>");		
            var url = "{:U('asyn')}/refund_id/"+refund_id;
            $.post(url,function(data){
                _body.html(data).delay(200).slideDown().next("i").delay(50).slideUp()
            });
	}
	
	var p = 1;
	function syn(){
		var date =  $("#syn_date").val();
		$.getJSON("{:U('collect')}/date/"+date, {date:date}, function(result){
			if(result.status){
				$("body").iTips({content:result.info,css:'notice'})
				p = 1;
				collect_page();
			}else{
				$("body").iTips({content:result.info,css:'warning'});
			}
		});
	}
	
    function collect_page(){
        $.getJSON("{:U('syn')}/page/"+p, {page:p}, function(result){
            if(result.status == 1){
                msgbox.iDialog({
					title: result.info,
					html: result.data,
					width:250,
					height:'auto',
					nobtns:true,
					shadow:true
				});
                p++;
                collect_page(p);
            }else{
				$("body").iTips({content:result.info,css:'success'});
				location.reload();
            }
        });
    }
</script>
<mc:tpl file="Public/footer" />
