        <div id="articlecontent" class="art-show cl">
            <i class="z corner-tl"></i><i class="y corner-tr"></i>
            <div class="art-inner">
                <h2>{:RefundStatus($refund['status'])}</h2>
                <div class="art-content">
                
                		<p>test2</p><p>雨辰f顶替</p><p> </p><p>奇才sd地sdf枯</p><p><br></p>
                </div>
            </div>
            <div class="ct-extra mbm">
            <h2 class="sub-title"><strong class="z comment_thema">退款详情</strong></h2>
                <table class="table table-bordered table-subfield">
                    <tbody>
                        <tr>
                            <th>退款编号:</th>
                            <td>{$refund['refund_id']}</td>
                            <th>退款时间:</th>
                            <td>{:format_date($refund['created'])}</td>
                        </tr>
                        <tr>
                            <th>退款类型:</th>
                            <td><strong class="xi1 z comment_thema"><eq name="refund['has_good_return']" value="1">退货退款<else />不退货仅退款</eq></strong></td>
                            <th>退款原因:</th>
                            <td>{$refund['reason']}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="ct-extra mbm">
            <h2 class="sub-title"><strong class="z comment_thema">订单详情</strong></h2>
                <table class="table table-bordered table-subfield">
                    <tbody>
                        <tr>
                            <th>订单编号:</th>
                            <td>{$refund['tid']}</td>
                            <th>子订单编号:</th>
                            <td>{$refund['oid']}</td>
                        </tr>
                        <tr>
                            <th>订单金额:</th>
                            <td><strong class="xi1 z comment_thema">{$refund['total_fee']}</strong>元</td>
                            <th>运  费:</th>
                            <td>{$refund['post_fee']}元</td>
                        </tr>
                        <tr>
                            <th>下单时间:</th>
                            <td>{:format_date($refund['trade_created'])}</td>
                            <th>付款时间:</th>
                            <td>{:format_date($refund['pay_time'])}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="ct-extra mbm">
                <h2 class="sub-title"><strong class="z comment_thema">协商记录 (<span id="c_num_3" class="xi1 xs1">{$messages['total']}</span>) 条</strong></h2>
                <div id="c_content_3">
                	<volist name="messages['messages']" id="message">
                    <div class="w_c_view_content" id="li_{$message['id']}">
                        <div id="u_18" class="w_view_info_img w_c_view_l hm">
                        	<strong class="z comment_thema">
                            <if condition="($message['owner_role'] eq 1)">
                            	{$message['owner_nick']}<br>
                                {:msg_path($message['owner_nick'])}
                            <elseif condition="($message['owner_role'] eq 2)"/>自己
                            <else />淘宝客服
                            </if>
                            </strong>
                        </div>
                        <div class="w_c_view_r">
                            <span class="wccor"></span>
                            <div class="com_content">
                                <p class="m-t10" id="c_18">{:nl2br($message['content'])}</p>
                            </div>
                            <div class="w_c_viewoption">
                                <span class="xi2" style="display: inline-block; padding-top: 5px; padding-left: 10px;">{$message['created']}</span>
                            </div>
                        </div>
                    </div>
                    </volist>
                
                </div>
            </div>
            
            <!--comment add box begin-->
            <div class="ct-extra mbw">
                <h2 class="sub-title">发表评论</h2> 
                <form id="formcomment" name="formcomment" method="POST" onsubmit="javascript:return false;">
                    <div>
                        <ul class="w_c_ul">
                            <li>
                                <textarea id="comment" name="comment" cols="85" rows="10" class="area"></textarea>
                            </li>
                            <li>
                                <button name="submit" onclick="submitcomment(0)" type="submit" class="btn btn-primary"><span>发表评论</span></button>
                            </li>
                            <li>
                                <ul class="w_c_ul">
                                    <li>*小贴士:评论长度最大为200个字符</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <!--comment add box end-->
            <i class="z corner-bl"></i><i class="y corner-br"></i>
        </div>