<mc:tpl file="Public/header" />
<div class="bm cl" id="path">
    <div class="z"><a title="" class="nvhm" href="./">MoCha</a><em></em><a href="#">卖家中心</a><em></em><a href="{:U('index')}">退款管理</a><em></em>退款请情({$refund_id})</a>
    </div>
</div>
<!--container begin-->
<div class="ct2_a wp cl" id="container">
    <!--side bar begin-->
    <div class="sidebar">
    	<include file="sidebar" />
    </div>
    <!--side bar end-->
    <!--mainer begin-->
    <div id="mainer" class="mainer cl">
    	<include file="read_ajax" />
    </div>
    <!--mainer end-->
</div>
<!--container end-->
<script type="text/javascript">
    var msgbox = $("<div id='d'></div>");
    /* 弹出全文框   */
	function asyn(refund_id){
        _body=$('#refund_'+refund_id);
		_body.hide().after("<i><img align='center' src='static/image/icon/loading.gif'></i>");		
            var url = "{:U('asyn')}/refund_id/"+refund_id;
            $.get(url,function(data){
                _body.html(data).delay(200).slideDown().next("i").delay(50).slideUp()
            });
	}
	
	var p = 1;
	function syn(){
		var date =  $("#syn_date").val();
		$.getJSON("{:U('collect')}/date/"+date, function(result){
			if(result.status){
				$("body").iTips({content:result.info,css:'notice'})
				p = 1;
				collect_page();
			}else{
				$("body").iTips({content:result.info,css:'warning'});
			}
		});
	}
	
    function collect_page(){
        $.getJSON("{:U('syn')}/page/"+p, function(result){
            if(result.status == 1){
                msgbox.iDialog({
					title: result.info,
					html: result.data,
					width:250,
					height:'auto',
					nobtns:true,
					shadow:true
				});
                p++;
                collect_page(p);
            }else{
				$("body").iTips({content:result.info,css:'success'});
				location.reload();
            }
        });
    }
</script>
<mc:tpl file="Public/footer" />
