    	<h1><p class="sckeyword xc1">退款搜索</p></h1>
        <div id="art_query" class="scbox mtw">
        <form id="seach_form" action="{:U('index')}" method="get">
        	<p class="mbm xc1"><select style="width:140px;" name="status" id="work_status">
            	<option <empty name="status">selected</empty> value="">退款状态</option>
            	<option <eq name="status" value="WAIT_SELLER_AGREE">selected</eq> value="WAIT_SELLER_AGREE">退款申请等待卖家确认中</option>
            	<option <eq name="status" value="SELLER_REFUSE_BUYER">selected</eq> value="SELLER_REFUSE_BUYER">卖家不同意协议,等待买家修改</option>
                <option <eq name="status" value="WAIT_BUYER_RETURN_GOODS">selected</eq> value="WAIT_BUYER_RETURN_GOODS">退款申请达成,等待买家发货</option>
                <option <eq name="status" value="WAIT_SELLER_CONFIRM_GOODS">selected</eq> value="WAIT_SELLER_CONFIRM_GOODS">买家已发货,等待卖家确认收货</option>
                <option <eq name="status" value="SUCCESS">selected</eq> value="SUCCESS">退款成功</option>
                <option <eq name="status" value="CLOSED">selected</eq> value="CLOSED">退款关闭</option>
        	</select></p>
            <p class="mbm xc1"><select style="width:140px;" name="status" id="work_status">
            	<option <empty name="status">selected</empty> value="">垫付状态</option>
            	<option <eq name="status" value="0">selected</eq> value="0">无需垫付</option>
            	<option <eq name="status" value="1">selected</eq> value="1">退款先行垫付申请中</option>
                <option <eq name="status" value="2">selected</eq> value="2">退款先行垫付，垫付完成</option>
                <option <eq name="status" value="3">selected</eq> value="3">退款先行垫付，卖家拒绝收货</option>
                <option <eq name="status" value="4">selected</eq> value="4">退款先行垫付，垫付关闭</option>
                <option <eq name="status" value="5">selected</eq> value="5">退款先行垫付，垫付分账成功</option>
        	</select></p>
            <p class="mbm xc1"><select style="width:140px;" name="advance_status" id="work_status">
            	<option <empty name="advance_status">selected</empty> value="">淘宝处理状态</option>
            	<option <eq name="advance_status" value="1">selected</eq> value="1">不需客服介入</option>
            	<option <eq name="advance_status" value="2">selected</eq> value="2">需要客服介入</option>
                <option <eq name="advance_status" value="3">selected</eq> value="3">客服已经介入</option>
                <option <eq name="advance_status" value="4">selected</eq> value="4">客服初审完成</option>
                <option <eq name="advance_status" value="5">selected</eq> value="5">客服主管复审失败</option>
                <option <eq name="advance_status" value="6">selected</eq> value="6">客服处理完成</option>
        	</select></p>
            <p><input class="mbm" type="text" size="23" value="{$keyword}" id="keyword" name="keyword" placeholder="退款、订单、物流编号..."></p>
            <p class="mbm xc1 datebox">
                <label for="start_date">从</label>
                <input type="text" id="start_date" name="start_date" size="15" maxlength="15" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd', theme:'ibos'});"  value="{$start_date}" class="Wdate"></p>
            <p class="mbm xc1 datebox">
                <label for="end_date">至</label>
                <input type="text" id="end_date" name="end_date" size="15" maxlength="15" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd', theme:'ibos'});" value="{$end_date}" class="Wdate"></p>
            <button class="btn btn-primary" type="submit"><span>查询</span></button>
        </form>
        </div>
        <div id="art_query" class="scbox mtw">
        <h1><p class="sckeyword xc1">同步退款记录</p></h1>
        <form id="J_info_form" action="{:U('collect')}" method="post">
        	<p class="mbm xc1"><select name="syn_date" id="syn_date">
            	<option value='43200' selected>最近半天</option>
                <option value="86400" >最近一天</option>
                <option value="259200" >最近三天</option>
                <option value="604800" >最近一周</option>
                <option value="1296000" >最近半个月</option>
                <option value="2592000" >最近一个月</option>
                <option value="7776000" >最近三个月</option>
        	</select></p>
            <button type="button" class="btn btn-primary" href="javascript:;" onclick="syn();"><span><i class="icon-trash"></i>&nbsp;开始同步</span></button>
        </form>
        </div>