</div>
<div id="footer">
    <div class="hm">
        <a href = "" target="_blank">联系我们</a><i class="xg1">&nbsp;&nbsp;|&nbsp;&nbsp;</i>
        <a href = "">意见反馈</a><i class="xg1">&nbsp;&nbsp;|&nbsp;&nbsp;</i>
        <a href = "admin.php">管理中心</a><i class="xg1">&nbsp;&nbsp;|&nbsp;&nbsp;</i>
        <a href = "" target="_blank"><em>英摩卡网商</em></a><i class="xg1">&nbsp;&nbsp;|&nbsp;&nbsp;</i>
    </div>
    <div id="flk" class="hm" >
        <p>Powered by <strong><a href="http://www.coromachi.com" target="_blank">Coromachi</a></strong> <em>1.0 Release 20121215</em></p>
    </div>
</div>
<script language="javascript" >
    $(function (){
        //fnFixedDiv('header');
        fnInitTime("path");
        //载入扩展样式
        setTimeout('extstyle("'+getcookie("extstyle")+'")',3000);
                //载入扩展样式
        setTimeout('extstyle("'+getcookie("extstyle")+'")',3000);
                //bootstrap的dropdown下拉列表动作扩展：
        //bootstrap的下拉列表头部a标签如果包含data-toggle-type="tab"属性，当点击列表某一选项时，列表头部文本会改变为对应选项的文本
        //还有一个特性是，如果当前列表的顶层li元素不包含active样式(选中)，程序会尝试跳转至列表头部a标签的连接地址
        //首先绑定跳转事件，这并没有使用on函数委托，因为完全没有必需对后期动态添加的列表进行跳转
        //这些都是后期“人为的”，那个人也不希望自己带有目的性的列表会被强制跳转（跳转后这个列表又没有了）
        //而且顺便解决了列表跳转之前的某些事件冒泡问题
        $('.dropdown [data-toggle-type="tab"]').bind('click.dropdown.data-api', function() {
            var oSelf = $(this);
            if(!oSelf.parent().hasClass('active')) {
                window.location = oSelf.attr('href');
                return false;
            }
        });
        //委托点击事件
        $('body').on('click.dropdown.data-api', '.dropdown [data-toggle-type="tab"]', function() {
            var oSelf = $(this);
            //第一次点击时绑定事件
            if(!oSelf.data('bBindDropDownEvent')) {
                oSelf.siblings('ul:eq(0)').find('li').find('a').bind('click', function() {
                    //获得头部顶层元素
                    var oParentUntil = $(this).parentsUntil('.dropdown').parent();
                    //查找头部文本并改变为当前选项的文本值
                    oParentUntil.find('.dropdown-toggle').get(0).firstChild.nodeValue = this.innerHTML;
                    //关闭选项卡
                    oParentUntil.removeClass('open');
                    return false;
                });
                //记录这次绑定事件
                oSelf.data('bBindDropDownEvent', true);
            }
            return false;
        });


        /**
         * 绑定帮助信息显示事件，当鼠标移动到.help元素上，会以特殊方式显示title的信息
         * 使用了事件委托，ajax动态加载的窗口内同样可以使用
         * 扩展于showMenu方法
         * 
         * 使用方法：直接在网页中插入<i class="help icon-question-sign" title="帮助信息"></i>
         */
        $('body').on('hover.help', '.help', function(e) {
            var oEle = $(this),
            oHelpData = oEle.data('help') || {};
            if(!oHelpData.text) {
                oHelpData.text = oEle.attr('title');
            }
            if(e.handleObj.type == 'mouseover') {
                //清空title（因为浏览器会显示title）
                oEle.attr('title', '');
                if(!oEle.attr('id')) {
                    //为该元素设置一个新的ID
                    oEle.attr('id', 'help_window_' + new Date().getTime());
                }
                var sId = oEle.attr('id'),
                sMenuId = sId + '_menu';
                if(!$('#' + sMenuId).get(0)) {
                    $('body').append(
                    $('<div id="' + sMenuId + '"><div class="help-main">' + oHelpData.text +
                        '<span class="help-arrows"></span></div></div>')
                );
                }
                showMenu({
                    ctrlid: sId,
                    showid: sId,
                    menuid: sMenuId,
                    pos: '14!'
                });
                //showMenu会重置mouseover函数，所以要再绑定一次当前函数
                if(!oHelpData.bIsBindOver) {
                    oEle.bind('mouseover.help', arguments.callee);
                    oHelpData.bIsBindOver = true;
                }
            } else {
                //还原title，确保程序出错时浏览器也能显示帮助信息
                oEle.attr('title', oHelpData.text);
            }
            //记录数据
            oEle.data('help', oHelpData);
        });
    });
</script>
</body>
</html>