    <mc:tpl file="Public/head" />
    <meta name="application-name" content="英摩卡网商" />
    <meta name="msapplication-tooltip" content="英摩卡网商" />
    <link type="text/css" rel="stylesheet" href="static/js/bootstrap/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="static/js/bootstrap/animate.min.css">
</head>
<body id="nv_desktop" class="mnbd pg_article" onkeydown="if(event.keyCode==27) return false;">
    <div id="append_parent"></div>
    <div id="ajaxwaitid"></div>
    <div id="sslct_container" ></div>
    <div id="header">
    	<div class="wp">
            <div class="hdc">
                <h2><a href="./" title="{:C('SITE_NAME')}"><img src="static/image/common/logo.png" alt="{:C('SITE_NAME')}" border="0" /></a></h2>
                <div id="um">
                    <a id="user_info_simple" href="home.php?mod=space&amp;uid=1" class="avt-mini" onMouseOver="showHeaderMenu({'ctrlid':this.id, 'menuid':'user_info_simple_menu', 'pos': '34', 'zindex': '9999'})"><img src="{:C('IMG_PATH')}common/tavatar.gif" width="48" />&nbsp;&nbsp;{$memberinfo['username']}&nbsp;<i class="caret"></i></a>
                    <a id="quicknav_ctrl" href="javascript:;" onMouseOver="showHeaderMenu({'ctrlid': this.id, 'menuid':'quicknav_menu', 'pos':'34',  'zindex': '9999'})">快捷导航&nbsp;<i class="caret"></i></a>
                    <a id="msg_ctrl" title="消息" href="home.php?mod=space&amp;do=pm" class="i_g o-newmsg"><i id="i_msg_tip" class=""></i></a>
                    <a href="home.php?mod=space&amp;do=notice" title="提醒" class="i_g o-prompt"></a>
                    <!-- 界面设置，暂时屏蔽
                    <a id="config_ctrl" title="设置" href="javascript:;" class="i_g o-conf"  onmouseover="showHeaderMenu({'ctrlid': this.id, 'menuid': 'config_menu', pos:'34',  'zindex': '9999'})"></a>
                     -->&nbsp;
                </div>
                <div id="nv"><!--输出导航菜单栏-->
                    <ul>
                    	<li id="mn_desktop" onMouseOver="navShow('desktop')"><a href="desktop.php?mod=index" hidefocus="true"  >首页</a></li>
                    	<li id="mn_desktop_email" onMouseOver="navShow('desktop_email')"><a href="{:U('Seller/Item/index')}" hidefocus="true"  >宝贝管理</a></li>
                    	<li id="mn_office" onMouseOver="navShow('office')"><a href="{:U('Seller/Shop/index')}" hidefocus="true" >店铺管理</a></li>
                    	<li id="mn_desktop_article" ><a href="{:U('Seller/Service/index')}" hidefocus="true"  >售后记录</a></li>
                    	<li id="mn_wf" onMouseOver="navShow('wf')"><a href="wf.php?mod=workflow" hidefocus="true"  >辅助工具</a></li>
                    	<li id="mn_km" onMouseOver="navShow('km')"><a href="{:U('Seller/Serial/index')}" hidefocus="true"  >货源管理</a></li>
                    	<li id="mn_hr" onMouseOver="navShow('hr')"><a href="{:U('Seller/Trade/index')}" hidefocus="true"  >订单管理</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 
    <div id="mu" class="cl">
    	<div class="cl" id="snav_mn_desktop" style="display:none;">
            <i class="i_g o-triangle-up" style="position: absolute; top: -1px; left: 20px;"></i>
            <ul>
                <li><a href="{:U('Seller/Trade/index')}" hidefocus="true"  ><img src="static/image/icon/nv/22.png" />已卖出的宝贝</a></li>
            </ul>
    	</div>
    	<div class="cl" id="snav_mn_desktop_email" style="display:none;">
            <i class="i_g o-triangle-up" style="position: absolute; top: -1px; left: 20px;"></i>
            <ul >
                <li><a href="{:U('Seller/Item/index')}" hidefocus="true"  ><img src="static/image/icon/nv/03.png" />出售中的宝贝</a></li>
                <li><a href="{:U('Seller/Item/instock')}" hidefocus="true"  ><img src="static/image/icon/nv/04.png" />仓库中的宝贝</a></li>
            </ul>
    	</div>
    	<div class="cl" id="snav_mn_office" style="display:none;">
            <i class="i_g o-triangle-up" style="position: absolute; top: -1px; left: 20px;"></i>
            <ul>
                <li><a href="{:U('Seller/Shop/profiles')}" hidefocus="true"><img src="static/image/icon/nv/08.png" />店铺基本设置</a></li>
                <li><a href="{:U('Seller/Shop/setting')}" hidefocus="true"><img src="static/image/icon/nv/08.png" />一键上传设置</a></li>
                <li><a href="{:U('Seller/Shop/index')}" hidefocus="true"><img src="static/image/icon/nv/28.png" />商家管理</a></li>
                <li><a href="{:U('Seller/Shop/manager')}" hidefocus="true"><img src="static/image/icon/nv/29.png" />多店管理</a></li>
                <li><a href="{:U('Seller/Logistics/address')}" hidefocus="true"  ><img src="static/image/icon/nv/12.png" />地址管理</a></li>
                <li><a href="{:U('Seller/Cats/index')}" hidefocus="true"  ><img src="static/image/icon/nv/11.png" />数据管理</a></li>
            </ul>
    	</div>
    	<div class="cl" id="snav_mn_wf" style="display:none;">
            <i class="i_g o-triangle-up" style="position: absolute; top: -1px; left: 20px;"></i>
            <ul>
                <li><a href="{:U('Seller/Rate/index')}" hidefocus="true" id="nav_mod_"><img src="static/image/icon/nv/25.png" />评价管理</a></li>
                <li><a href="{:U('Seller/Invoice/index')}" hidefocus="true"><img src="static/image/icon/nv/26.png" />配货单</a></li>
                <li><a href="{:U('Seller/Refund/index')}" hidefocus="true"><img src="static/image/icon/nv/27.png" />退款管理</a></li>
                <li><a href="{:U('Seller/Credit/index')}" hidefocus="true"><img src="static/image/icon/nv/11.png" />刷单记录</a></li>
            </ul>
    	</div>
        <div class="cl" id="snav_mn_km" style="display:none;">
            <i class="i_g o-triangle-up" style="position: absolute; top: -1px; left: 20px;"></i>
            <ul >
                <li><a href="{:U('Seller/Serial/index')}" hidefocus="true" ><img src="static/image/icon/nv/19.png" />商家编码</a></li>
                <li><a href="{:U('Seller/Serial/spare')}" hidefocus="true"  ><img src="static/image/icon/nv/20.png" />备用编码</a></li>
                <li><a href="{:U('Seller/Goods/index')}" hidefocus="true"  ><img src="static/image/icon/nv/23.png" />货源中心</a></li>
            </ul>
        </div>
        <div class="cl" id="snav_mn_hr" style="display:none;">
            <i class="i_g o-triangle-up" style="position: absolute; top: -1px; left: 20px;"></i>
            <ul >
                <li><a href="{:U('Seller/Trade/index')}" hidefocus="true"  ><img src="static/image/icon/nv/22.png" />已卖出的宝贝</a></li>
            </ul>
        </div>
    </div>
    
    <div id="quicknav_menu" class="model-menu quicknav-menu" style="display:none;left: 707px;width: 195px;">
        <div class="z">
            <h3>我的信息</h3>
            <div class="cl">
            	<ul class="z" style="margin-left: 10px">
                	<li><a href="home.php?mod=space&do=friend" style="background-image:url(http://demo.ibos.com.cn/static/image/feed/friend_b.png) !important">好友</a></li>
                    <li><a href="forum.php?mod=guide&view=my" style="background-image:url(http://demo.ibos.com.cn/static/image/feed/thread_b.png) !important">帖子</a></li>
                    <li><a href="home.php?mod=space&do=favorite&view=me" style="background-image:url(http://demo.ibos.com.cn/static/image/feed/favorite_b.png) !important">收藏</a></li>
                    <li><a href="home.php?mod=magic" style="background-image:url(http://demo.ibos.com.cn/static/image/feed/magic_b.png) !important">道具</a></li>
            	</ul>
            	<ul class="y" style="margin-left: 20px"></ul>
            </div>
        </div>
    </div>
    
    <div id="user_info_simple_menu" class="model-menu" style="display: none;min-width: 150px;left: 679px;">
        <ul class="cl">
            <li>
                <a class="cl" href="home.php?mod=spacecp&amp;ac=credit&amp;showcredit=1" target="_blank">
                    <span class="z">积分</span>
                    <span class="y">77</span>
                </a>
            </li>
                        <li>
                <a class="cl" style="cursor: default;">
                    <span class="z">部门</span>
                    <span class="y">总经办</span>
                </a>
            </li>
                        <li>
                <a class="cl" style="cursor: default;">
                    <span class="z">岗位</span>
                    <span class="y" >系统管理员</span>
                </a>
            </li>
                        <li>
                <a class="cl" href="home.php?mod=spacecp&amp;ac=usergroup" target="_blank">
                    <span class="z">用户组</span>
                    <span class="y">管理员</span>
                </a>
            </li>
            <li>
                <a class="cl" href= "home.php?mod=spacecp" target="_blank">
                    <span class="z">用户设置</span>
                    <span class="y"><i class="i_g o-conf-gray"></i></span>
                </a>
            </li>
            <li>
                <a class="cl" href="admin.php"; target="_blank">
                    <span class="z">管理中心</span>
                    <span class="y"><i class="i_g o-key"></i></span>
                </a>
            </li>
            <li><hr style="margin: 5px;"/></li>
            <li>
                <a class="cl" href="{:U('Member/Index/logout')}">
                    <span class="z">退出</span>
                    <span class="y"><i class="i_g o-off"></i></span>
                </a>
            </li>
        </ul>
    </div>
    
    <div id="config_menu" class="model-menu config-menu" style="display: none;">
        <ul>
            <!--<li>
                <a href = "javascript:;" >
                    模板设置
                    <span style="margin-left: 70px"><i class="i_g o-skin"></i></span>
                </a>
            </li>-->
            <li><a href="javascript:;" id="widthauto" onClick="widthauto(this)">切换到窄版<span style="margin-left: 60px"><i class="i_g o-switch"></i></span></a></li>
        </ul>
    </div>
    
    <div id="msg_menu" class="model-menu msg-menu" style="display: none">
        <h3>消息</h3>
        <ul>
            <li>
                <div id="msg_data_show" style="display:none">
                    <div class="msg-from">
                        <span class="y cur1"><i class="i_g i-clear"></i></span>
                        <em></em>
                        <span class="xc1"></span>
                    </div>
                    <p class="msg-content"></p>
                </div>
            </li>
        </ul>
    </div>
    
        <div id="wrap" class="wp">
    
<script type="text/javascript">
    function showHeaderMenu(o, px){ //显示菜单水平移动
        var oMenu = _id(o.menuid), px = px||15;
        showMenu(o);
        oMenu.style.left = (oMenu.offsetLeft + px) + 'px';
    }
    
    $(document).ready(function(){
        $("#mn_desktop_article").addClass("a"); //导航菜单栏默认显示样式
        //快捷导航处理
        var oQuickMenuA = $("#quicknav_menu a");
        oQuickMenuA.each(function(index){
            var current = $(this);
            if(index<9 || index==17){
                var sImgUrl = current.css("background-image");
                var pa = /.*\((.*)\)/;
                var a = sImgUrl.match(pa)[1]; //获取url括号中的内容
                var temp = a.replace(/\"/g, "");
                var sImgUrlNew = temp;
                var sContent = current.html();
                var sHtml = "<img src="+sImgUrlNew+" />"+sContent;
                current.css("background-image","");
                current.html(sHtml); 
                if(index==3) current.remove();
                if(index>=5 && index<=9){
                  var oUly = $("#quicknav_menu ul[class='y']");
                  var templi = $("<li></li>");
                  current.clone().prependTo(templi);  
                  templi.prependTo(oUly);
                  current.remove();
                }
            }else{
                current.remove();
            }
            
        });
        
        var msgdata = {"msgdata":[], "msgcount":0}; //检索有没新的消息，重载刷新页面会触发
        var oMsgIcon = $("#i_msg_tip");
        if(msgdata['msgcount']>0){
            oMsgIcon.addClass("i_g o-msg-bit");
            oMsgIcon.html(msgdata['msgcount']);
            oMsgIcon.show();
            var oMsgDiv = $("#msg_data_show");
            oMsgDiv.show();
            var datas = msgdata['msgdata'];
            var html = '';
            var msgStyle = "onmouseover=\"$(this).css('background-color','#F5F5F5');\" onmouseout=\"$(this).css('background-color','');\"";
            for(var data in datas){
                var sClearHtml = '';
                if(datas[data]['gpmid']){
                    var gpmid = datas[data]['gpmid'];
                    //var pContent = "<a href='home.php?mod=space&do=pm&subop=viewg&pmid="+gpmid+"' target='_blank' title='单击新建页打开'><p class='msg-content'>"+datas[data]['lastsummary']+"</p></a>";
                    var newurl = "'home.php?mod=space&do=pm&subop=viewg&pmid="+gpmid+"'";
                    var pContent = "<p "+msgStyle+" title='查看详情' onclick=\"javascript:window.open("+newurl+");\" style='cursor: pointer' class='msg-content'>"+datas[data]['lastsummary']+"</p>";
                    var sClearHtml = "<i gpmid="+gpmid+" class='i_g i-clear' title='标为已读' onclick='fnChangStatus(this);'></i>";
                }else{
                    var plid = datas[data]['plid'];
                    var touid = datas[data]['touid'];
                    //var pContent = "<a href='home.php?mod=space&do=pm&subop=view&touid="+touid+"#last' target='_blank' title='单击新建页打开'><p class='msg-content'>"+datas[data]['lastsummary']+"</p></a>";
                    var newurl = "'home.php?mod=space&do=pm&subop=view&touid="+touid+"#last'";
                    var pContent = "<p "+msgStyle+" title='查看详情' onclick=\"javascript:window.open("+newurl+");\" style='cursor: pointer' class='msg-content'>"+datas[data]['lastsummary']+"</p>";
                    var sClearHtml = "<i plid="+plid+" class='i_g i-clear' title='标为已读' onclick='fnChangStatus(this);'></i>";
                }
                html += "<div class='msg-from'><span class='y cur1'>"+sClearHtml+"</span>"+datas[data]['touserimg']+"<em>"+datas[data]['tousername']+"</em><span class='xc1'>&nbsp;"+datas[data]['lastdateline']+"</span></div>"+pContent;
            }
            oMsgDiv.html(html);
            var oMsgA = $("#msg_ctrl");
            oMsgA.mouseover(function(){
                var data = {'ctrlid': this.id, 'menuid':'msg_menu', 'pos':'34',  'zindex': '9999'};
                showHeaderMenu(data);
            });
        }else{
            oMsgIcon.removeClass().hide();
        }
    });
</script>