<div class="bm cl" id="path">
    <div class="z"><a title="" class="nvhm" href="./">{:C('SITE_NAME')}</a><em></em><a id="msg_ctrl" href="javascript:;" onMouseOver="navShow('shop')">{$memberinfo['nick']}</a><em></em><a href="{:U('Index/index')}">卖家中心</a><em></em><a href="{:U('index')}">{$parent_name}</a>
    </div>
</div>
<div id="mu" class="cl">
    <div id="snav_mn_shop" class="model-menu msg-menu" style="display: none;margin-top:30px;">
        <i class="i_g o-triangle-up" style="position: absolute; top: -1px; left: -20px;"></i>
        <ul class="z">
            <h3>&nbsp;请选择店铺</h3>
            <volist name="shoplist" id="v">
            <li><a class="cl" href="javascript:;" onclick="syn({$v['user_id']});"><span class="z"><img src="{$v['avatar']}" width="10" /></span><span class="y">{$v['nick']}</span></a></li>
            </volist>
        </ul>
    </div>
</div>
<script type="text/javascript">
	function syn(uid){
		var date =  $("#syn_date").val();
		$.getJSON("{:U('choose')}/uid/"+uid, function(result){
			if(result.status){
				$("body").iTips({content:result.info,css:'notice'})
				location.reload();
			}else{
				$("body").iTips({content:result.info,css:'warning'});
			}
		});
	}
</script>