<mc:tpl file="Public/head" />
    <meta name="application-name" content="博思协同办公" />
    <meta name="msapplication-tooltip" content="博思协同办公" />
    <link type="text/css" rel="stylesheet" href="static/js/bootstrap/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="static/js/bootstrap/animate.min.css">
</head>
<body>