		<include file="Public:header" />
        <div class="itemtitle"><h3>站点设置</h3></div>
        <div class="vague"></div>
    </div>
    <form name="cpform" method="post" autocomplete="off" action="{:U('Setting/Index')}" id="cpform" >
    <table class="tb tb2 ">
    	<tr><td colspan="2" class="td27" s="1">网站状态:</td></tr>
        <tr class="noborder">
            <td class="vtop rowform">
                <ul onmouseover="altStyle(this);">
                    <li <eq name="setting['SITE_STATUS']" value="1"> class="checked"</eq>><input class="radio" type="radio" name="setting[SITE_STATUS]" value="1" <eq name="setting['SITE_STATUS']" value="1">checked</eq> onclick="_id('hidden_setting_permissions_allowviewuserthread').style.display = '';">&nbsp;开启</li>
                    <li <neq name="setting['SITE_STATUS']" value="1"> class="checked"</neq>><input class="radio" type="radio" name="setting[SITE_STATUS]" value="0" <neq name="setting['SITE_STATUS']" value="1">checked</neq> onclick="_id('hidden_setting_permissions_allowviewuserthread').style.display = 'none';">&nbsp;关闭</li>
                </ul>
            </td>
            <td class="vtop tips2" s="1">选择关闭后，网站前台将不可访问</td>
        </tr>
        <tr><td colspan="2" class="td27" s="1">限制黑名单:</td></tr>
        <tr class="noborder">
            <td class="vtop rowform">
                <ul onmouseover="altStyle(this);">
                    <li <eq name="setting['SITE_IPBAN']" value="1"> class="checked"</eq>><input class="radio" type="radio" name="setting[SITE_IPBAN]" value="1" <eq name="setting['SITE_IPBAN']" value="1">checked</eq> onclick="_id('hidden_setting_permissions_allowviewuserthread').style.display = '';">&nbsp;开启</li>
                    <li <neq name="setting['SITE_IPBAN']" value="1"> class="checked"</neq>><input class="radio" type="radio" name="setting[SITE_IPBAN]" value="0" <neq name="setting['SITE_IPBAN']" value="1">checked</neq> onclick="_id('hidden_setting_permissions_allowviewuserthread').style.display = 'none';">&nbsp;关闭</li>
                </ul>
            </td>
            <td class="vtop tips2" s="1">开启黑名单会占用系统资源，没有黑名单时建议关闭</td>
        </tr>
        <tr><td colspan="2" class="td27" s="1">网站名称:</td></tr>
        <tr class="noborder">
            <td class="vtop rowform"><input name="setting[SITE_NAME]" value="{$setting.SITE_NAME}" type="text" class="txt" /></td>
            <td class="vtop tips2" s="1"></td>
        </tr>
        <tr><td colspan="2" class="td27" s="1">网站域名:</td></tr>
        <tr class="noborder">
            <td class="vtop rowform"><input name="setting[SITE_DOMAIN]" value="{$setting.SITE_DOMAIN}" type="text" class="txt" /></td>
            <td class="vtop tips2" s="1">需要以<strong>横杆</strong>结尾</td>
        </tr>
        <tr><td colspan="2" class="td27" s="1">图片路径:</td></tr>
        <tr class="noborder">
            <td class="vtop rowform"><input name="setting[IMG_PATH]" value="{$setting.IMG_PATH}" type="text" class="txt" /></td>
            <td class="vtop tips2" s="1">需要以<strong>横杆</strong>结尾</td>
        </tr>
        <tr><td colspan="2" class="td27" s="1">JS路径:</td></tr>
        <tr class="noborder">
            <td class="vtop rowform"><input name="setting[JS_PATH]" value="{$setting.JS_PATH}" type="text" class="txt" /></td>
            <td class="vtop tips2" s="1">需要以<strong>横杆</strong>结尾</td>
        </tr>
        <tr><td colspan="2" class="td27" s="1">CSS路径:</td></tr>
        <tr class="noborder">
            <td class="vtop rowform"><input name="setting[CSS_PATH]" value="{$setting.CSS_PATH}" type="text" class="txt" /></td>
            <td class="vtop tips2" s="1">需要以<strong>横杆</strong>结尾</td>
        </tr>
        <tr><td colspan="2" class="td27" s="1">上传附件路径:</td></tr>
        <tr class="noborder">
            <td class="vtop rowform"><input name="setting[UPLOAD_PATH]" value="{$setting.UPLOAD_PATH}" type="text" class="txt" /></td>
            <td class="vtop tips2" s="1">需要以<strong>横杆</strong>结尾</td>
        </tr>
        <tr><td colspan="2" class="td27" s="1">附件访问URL:</td></tr>
        <tr class="noborder">
            <td class="vtop rowform"><input name="setting[UPLOAD_URL]" value="{$setting.UPLOAD_URL}" type="text" class="txt" /></td>
            <td class="vtop tips2" s="1">需要以<strong>横杆</strong>结尾</td>
        </tr>
        <tr><td colspan="2" class="td27" s="1">附件命名规则:</td></tr>
        <tr class="noborder">
            <td class="vtop rowform"><input name="setting[UPLOAD_FILE_RULE]" value="{$setting.UPLOAD_FILE_RULE}" type="text" class="txt" /></td>
            <td class="vtop tips2" s="1">上传文件名命名规则：例如可以是time、uniqid、com_create_guid等,但必须是一个无需任何参数的函数名</td>
        </tr>
        <tr><td colspan="2" class="td27" s="1">允许上传附件大小:</td></tr>
        <tr class="noborder">
            <td class="vtop rowform"><input name="setting[UPLOAD_MAX_SIZE]" value="{$setting.UPLOAD_MAX_SIZE}" type="text" class="txt" /></td>
            <td class="vtop tips2" s="1"></td>
        </tr>
        <tr><td colspan="2" class="td27" s="1">允许上传附件类型:</td></tr>
        <tr class="noborder">
            <td class="vtop rowform"><input name="setting[UPLOAD_ALLOW_EXT]" value="{$setting.UPLOAD_ALLOW_EXT}" type="text" class="txt" /></td>
            <td class="vtop tips2" s="1"></td>
        </tr>
        <tr><td colspan="2" class="td27" s="1">authcode加密函数密钥:</td></tr>
        <tr class="noborder">
            <td class="vtop rowform"><input name="setting[AUTHCODE]" value="{$setting.AUTHCODE}" type="text" class="txt" /></td>
            <td class="vtop tips2" s="1">用于密码验证等混淆加密</td>
        </tr>
        <tr><td colspan="2" class="td27" s="1">静态文件目录:</td></tr>
        <tr class="noborder">
            <td class="vtop rowform"><input name="setting[HTML_PATH]" value="{$setting.HTML_PATH}" type="text" class="txt" /></td>
            <td class="vtop tips2" s="1"></td>
        </tr>
        
        <tr>
            <td colspan="15"><div class="fixsel" ><input type="submit" class="btn" id="submit_settingsubmit" name="settingsubmit" title="按 Enter 键可随时提交您的修改" value="提交" /></div></td>
        </tr>
        <script type="text/JavaScript">_attachEvent(document.documentElement, 'keydown', function (e) { entersubmit(e, 'settingsubmit'); });</script>
    </table>
    </form>
</div>
</body>
</html>