<form name="AliasForm" id="AliasForm" method="post">
    <div class="mbm">
        <table class="tbl2">
            <tr>
                <th style="width: 20%">原标题</th>
                <td>{$item['title']}</td>
            </tr>
            <tr>
                <th>原货号</th>
                <td>{$item['outer_id']}</td>
            </tr>
            <tr>
                <th><font color="red">*货源IID</font></th>
                <td>
                	<font color="red"><a href="{:C('SITE_DOMAIN')}/Seller/Goods/{$item['num_iid']}" title="查看商品信息" target="_blank">{$item['num_iid']}</a></font>
                	<input type="hidden" name="item[iid]" value="{$item[num_iid]}">
                </td>
            </tr>
            <tr>
                <th><font color="red">*新商家编码</font></th>
                <td>
                	 <input type="text" name="item[serial]" id="serial" value="{$item['serial']}" onkeyup="serial_verify(this, 'serial_verify');" style="width:60px;">
                	 <button type="button" class="btn" href="javascript:;" onclick="serial_random('serial','serial_verify');"><span><i class="icon-pencil"></i>&nbsp;随机生成编码</span></button>
                	 <strong><font color="red"><span id="serial_verify"></span></font></strong>
                </td>
            </tr>
            <tr>
                <th><font color="red">*原货号</font></th>
                <td><input type="text" class="span6" name="item[model]" value="{$item['model']}" style="width:120px;" /></td>
            </tr>
            <tr>
                <th><font color="red">*批发价</font></th>
                <td><input type="text" class="span6" name="item[price]" value="{$item['price']}" style="width:120px;" /></td>
            </tr>
            <tr>
                <th>备注</th>
                <td><textarea name="item[memo]" style="height:40px; width:250px;">{$item['memo']}</textarea></td>
            </tr>
        </table>
    </div>
</form>
<script type="text/javascript"> 
<!--
/*
*生成随机编码
*/
function serial_random(obj, checkalt){
	$.getJSON('{:U('Seller/Serial/random_serial')}',function(data){
		if(data.status){
			$('#'+obj).val(data.info);
			$('#'+checkalt).html('');
		}
	});
};

/*
*检查编码
*/
function serial_verify(obj,checkalt){
	var v = obj.value.toLocaleUpperCase();
	$(obj).val(v);
	$.getJSON('{:U("Seller/Serial/check_serial")}/str/'+v,function(data){
		if(data.status){
			$('#'+checkalt).html(data.info);
		}else{
			$("body").iTips({content:data.info,css:'warning'});
			$('#'+checkalt).html(data.info);
		}
	});
};
//-->
</script>