<table class="table" >
    <thead>
    <tr>
        <th>默认</th>
        <th>供应商</th>
        <th>货号</th>
        <th>供应价</th>
        <th>备注</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody id="doc_content">
    <volist name="infos" id="alias">
    <tr id="alias_{$alias['iid']}">
        <td>
            <div class="field-input btn-group" data-toggle="buttons-radio"><button class="btn  <eq name="alias['status']" value="99">active</eq>" type="button" <neq name="alias['status']" value="99">onclick="major('{$alias['iid']}')"</neq>><span><label><input type="radio" class="hide" value="{$alias['id']}" name="status" <eq name="alias['status']" value="99">checked="checked"</eq>>首选</label></span></button></div>
        </td>
        <td>{$alias['shop']}</td>
        <td><a href="{:U('Goods/read',array('id'=>$alias['iid']))}" title="查看宝贝详情" target="_blank">{$alias['model']}</a></td>
        <td>&yen;{$alias['price']}元</td>
        <td>{$alias['memo']}</td>
        <td>
        	<button type="button" class="btn" href="javascript:;" onclick="alias_edit('{$alias['iid']}');return false;"><span><i class="icon-pencil"></i>&nbsp;编辑</span></button>&nbsp;
            <button type="button" class="btn" href="javascript:;" <eq name="alias['status']" value="99">disabled="disabled"</eq> onclick="alias_del('{$alias['iid']}');return false;"><span><i class="icon-trash"></i>&nbsp;删除</span></button>
        </td>
    </tr>
    </volist>
    </tbody>
</table>