<mc:tpl file="Public/header" />
<div class="bm cl" id="path">
    <div class="z"><a title="" class="nvhm" href="./">Zlb</a><em></em><a href="#">卖家中心</a><em></em><a href="{:U('index')}">商家编码</a>
    </div>
</div>
<!--container begin-->
<div class="ct2_a wp cl" id="container">
    <include file="sidebar" />
    <!--mainer begin-->
    <div class="mainer" id="mainer">
        <div class="mainer-title">商家编码</div>
        <div id="listhead" class="well well-mini mbm">
        	<!--搜索栏输入框-->
            <div class="mn-scbox input-append">
            	<input type="text" name="" id="searchinput" class="w200 xc1" onkeydown="fnBeginSearch(event);"
                	value="搜索配货单名称、说明…" onfocus="if(this.value=='搜索配货单名称、说明…'){this.value=''};"
                    onblur="if(this.value==''){this.value='搜索配货单名称、说明…'};" placeholder="搜索配货单名称、说明…"/>
            	<button class="btn add-on" onclick="fnSearchSubmit();" id="sc_btn"><i class="i_g i-sc-enter"></i></button>
            	<span onclick="" id="searchIcon" class="i_g i-sc-search cur1"></span> 
            </div>
            <!--搜索栏输入框end-->
            <div class="nowrap left">
                <button type="button" onClick="useract('add');" class="btn btn-primary"><span>新增编码</span></button>
            </div>
            <!--nowrap left-->
        </div>

        <div id="listbody" class="posr">
            <form id="moderate" autocomplete="off">
            <table class="table">
            	<thead>
                	<tr>
                    	<th style="width:80px;">商家编码</th>
                        <th colspan="4">详情</th>
                	</tr>
            	</thead>
            	<tbody id="doc_content">
                <volist name="infos" id="info">
                	<tr id="trade_{$info['tid']}" class='dyl-item'>
                    	<th rowspan="3">
                        	<input onclick="tmodclick(this);" id="moderate_{$info['tid']}" type="checkbox" value="{$info['tid']}" class="vm" /><br />
                            <span class="xs2">{$info['serial']}</span><br />
                            <a href="?m=taobao&c=item&a=show&id={$info['num_iid']}" title="查看商品信息" target="_blank"><img src="{$info['pic_url']}_sum.jpg" height="60"></a>
                    	</th>
                    	<td class="span1" width="80">商品名称</td>
                        <td class="span1" colspan="3">{$info['title']}</td>
                	</tr>
                    <tr>
                        <td class="span1"><span class="xs2">识别码</span></td>
                        <td class="span1"><span class="xs2">{$info['barcode']}</span></td>
                        <td class="span1"><span class="xs2">价格</span></td>
                        <td class="span1"><span class="xs2">{$info['discount']}</span></td>
                	</tr>
                    <tr>
                    	<td colspan="4">
                        	<table class="table" >
                        		<thead>
                        		<tr>
                        			<th>默认</th>
                        			<th>档口</th>
                                    <th>货号</th>
                                    <th>价格</th>
                                    <th>备注</th>
                                    <th>操作</th>
                        		</tr>
                        		</thead>
                        		<tbody id="doc_content">
                                <volist name="info['alias']" id="alias" key="k">
                                <tr>
                                	<td>
                                    	<div class="field-input btn-group" data-toggle="buttons-radio"><button class="btn <if condition="$info['get_def']">active</if>" type="button" onclick="fnTriggerRadio(this)"><span><label><input type="radio" class="hide" value="1" name="info[get_def]" <if condition="$info['get_def']">checked="checked"</if>>默认</label></span></button></div>
                                    </td>
                                    <td>{$alias['model']}</td>
                                    <td>{$alias['model']}</td>
                                    <td>{$alias['price']}</td>
                                    <td>{$alias['memo']}</td>
                                    <td>编 | 删</td>
                        		</tr>
                                </volist>
                                </tbody>
                        	</table>  
                    	</td>
                	</tr>
                </volist>
            	</tbody>     
            </table> 
            <div id="mdly" style="display: none;">
                <input type="hidden" name="optgroup" />
                <input type="hidden" name="operation" />
                <a class="cp" href="javascript:;" title="隐藏" onclick="_id('mdly').className='cpd'"><i class="icon-chevron-right"></i>&nbsp;隐藏</a>
                <label>
                    <input type="checkbox" name="chkall" class="pc" onclick="if(!(_id('mdct').innerHTML = modclickcount = checkalldiray(this))) {_id('mdly').style.display = 'none';}" />全选
                    <span class="pipe">|</span>
                </label>
                <h6><span>选中</span><strong onclick="_id('mdly').className='';" id="mdct"></strong><span>条: </span></h6>
                <p>
                    <button type="button" class="btn" href="javascript:;" onclick="moddiray('del');return false;"><span><i class="icon-trash"></i>&nbsp;删除</span></button>
                    <span id="isedit">
                        <button type="button" class="btn" href="javascript:;" onclick="moddiray('edit');return false;"><span><i class="icon-pencil"></i>&nbsp;编辑</span></button>
                    </span>
                    <span id="noedit">
                        <button type="button" class="btn disabled" href="javascript:;" ><span><i class="icon-pencil"></i>&nbsp;编辑</span></button>
                    </span>
                </p>
            </div>
            </form>
        </div>
        <div id="listfoot" class="well well-mini mtw">
        	<div class="y">
            	<div class="pg">{$page}</a>
                </div>
        	</div>
        </div>
    </div>
</div>
<!--container end-->
<script type="text/javascript">
    var msgbox = $("<div id='d'></div>");

    function del() {
            var selectid = _gridtable.datagrid('getSelections');
            var nums = selectid.length;
            var delid = '';        
            for(var i=0;i<nums;i++) {
                    delid += selectid[i].id+',';
            }
            if(nums > 0) {
                $.messager.confirm('确认删除', '注意！这会将下属的订单一并删除！',function(bFlag){
                    if(bFlag){ //判断是否确定删除选择的数据
                        $.post("{:U('del')}", {delid:delid}, function(data) {
                        	if(data.status) {
                        		$('body').iTips({content:'删除成功！', css:'success'});
                        		_gridtable.datagrid('reload');
                        	} else {
                        		$('body').iTips({content:data.info, css:'error'});
                        	}
                        },'json');
                    }
                });
            } else {
                        $('body').iTips({content:'您没有选择任何一项', css:'warning'});
            }
    }

    /**
    *导出
    */
    function spl_export_info() {
        exportStart({
            sendurl:'/office.php?mod=supplies&do=info&act=export',
            params:_gridtable.datagrid('getQueryParams'),
            datasize:{
                    'current_category':'当前分类'
            }
        });
    }
	
	/**
    *用户操作
    */
	function useract(act,id){
		var msg;
        switch(act){
            case 'add':
            case 'edit':
                var lang,hrefurl;
                if(act=='edit') {
					hrefurl = '{:U('edit')}/'+id;
					lang = '编辑配货单';      
                } else {
					hrefurl = '{:U('add')}';
					lang = '新建配货单';  
                }
                msgbox.iDialog({
                    title:lang,
                    href:hrefurl,
                    width:300,
                    height:'auto',
                    submit:function(){
                        var url = '{:U('save')}';
                        var data = new Object;
						var dom = document.InvoiceForm;
						if(dom.title.value==''){
							$("body").iTips({content:'抱歉，您需要输入配货单名称！',css:'warning'});
							return false;
						}
						if(act=='edit') {
							data['id'] = dom.id.value;
						}
						data['title'] = dom.title.value;
						data['desc'] = dom.desc.value;
                        $.post(url,data,function(data){
                            if (data.status) {
                                $("body").iTips({content:data.info,css:'success'});	
                                _gridtable.datagrid('reload');
                                msgbox.dialog('close');
                            }else{
								$("body").iTips({content:data.info,css:'warning'});
							}
                        },'json');
                    }
                }); 
                break;
        }
    }
</script>
<mc:tpl file="Public/footer" />