<!--side bar begin-->
<div class="sidebar">
    <div id="art_query" class="scbox mtw">
    <p class="sckeyword xc1">评价搜索</p>
    <form action="{:U('index', array('role'=>'buyer', 'rate_type'=>'get'))}" method="get">
        <div class="form-field">
                            <div class="field-input btn-group" data-toggle="buttons-radio">
                                <button class="btn <eq name="type" value="0">active</eq>" type="button" act="on" onclick="fnTriggerRadio(this)">
                                    <span><label><input type="radio" class="hide" value='0' name='type' id="comment_on" <eq name="type" value="0">checked="checked"</eq>>订单</label></span>
                                </button>
                                <button class="btn <eq name="type" value="1">active</eq>" type="button" act="off"  onclick="fnTriggerRadio(this)">
                                    <span><label><input type="radio" class="hide" value='1' name='type' id="comment_off" <eq name="type" value="1">checked="checked"</eq>>商品</label></span>
                                </button>
                            </div> 
        </div>

        
        <input class="mbm" type="text" size="23" value="{$keyword}" id="keyword" name="keyword" placeholder="输入编号"><br/>
        <p class="mbm xc1 datebox">
            <label for="start_date">从</label>
            <input type="text" id="start_date" name="start_date" size="15" maxlength="15" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd', theme:'ibos'});"  value="" class="Wdate"></p>
        <p class="mbm xc1 datebox">
            <label for="end_date">至</label>
            <input type="text" id="end_date" name="end_date" size="15" maxlength="15" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd', theme:'ibos'});" value="" class="Wdate"></p>
        <button class="btn btn-primary" type="submit"><span>查询</span></button>
        
    </form>
    </div>
</div>
<!--side bar end-->