<form name="InvoiceForm" id="InvoiceForm" method="post">
    <div class="mbm">
        <table class="table table-bordered table-subfield">
            <tr>
                <th style="width: 25%">配货单名称</th>
                <td><input type="text" class="span6" name="title" id="title" value="{$info['title']}" style="width:150px;" /></td>
            </tr>
            <empty name="info['id']">
            <tr>
                <th>自动导入</th>
                <td>{:Form::checkbox(array("trade"=>"订单记录","niffer"=>"换货记录","reissue"=>"补发记录"), 'import[]', 'trade,niffer,reissue')}</td>
            </tr>
            <tr>
                <th>操作说明</th>
                <td colspan="2">"自动导入"功能会自动导入相应选项中的待发货订单</td>
            </tr>
            </empty>
            <tr>
                <th>备注</th>
                <td colspan="2">
                    <textarea name="memo" id="memo" style="height:40px; width:200px;">{$info['memo']}</textarea>
                    <notempty name="info['id']"><input type="hidden" name="id" value="{$info['id']}"></notempty>
                </td>
            </tr>
        </table>
    </div>
</form>