<form name="ImportForm" id="ImportForm" method="post">
    <div class="mbm">
        <table class="table table-bordered table-subfield">
            <tr>
                <th>配货单</th>
                <td>{:Form::select($info, 'did')}</td>
            </tr>
            <tr>
                <th>说明</th>
                <td>
                    请选择对应的配货单，然后点击确定导入
                    <notempty name="id"><input type="hidden" name="id" value="{$id}"></notempty>
                    <notempty name="model"><input type="hidden" name="model" value="{$model}"></notempty>
                </td>
            </tr>
        </table>
    </div>
</form>