<mc:tpl file="Public/header" />
<div class="bm cl" id="path">
    <div class="z"><a title="" class="nvhm" href="./">Zlb</a><em></em><a href="#">卖家中心</a><em></em><a href="{:U('index')}">配货单</a>
    </div>
</div>
<!--container begin-->
<div class="ct2_a wp cl" id="container">
    <include file="sidebar" />
    <!--mainer begin-->
    <div class="mainer" id="mainer">
        <div class="mainer-title">配货单</div>
        <div id="listhead" class="well well-mini mbm">
        	<!--搜索栏输入框-->
            <div class="mn-scbox input-append">
            	<input type="text" name="" id="searchinput" class="w200 xc1" onkeydown="fnBeginSearch(event);"
                	value="搜索配货单名称、说明…" onfocus="if(this.value=='搜索配货单名称、说明…'){this.value=''};"
                    onblur="if(this.value==''){this.value='搜索配货单名称、说明…'};" placeholder="搜索配货单名称、说明…"/>
            	<button class="btn add-on" onclick="fnSearchSubmit();" id="sc_btn"><i class="i_g i-sc-enter"></i></button>
            	<span onclick="" id="searchIcon" class="i_g i-sc-search cur1"></span> 
            </div>
            <!--搜索栏输入框end-->
            <div class="nowrap left">
                <button type="button" onClick="useract('add');" class="btn btn-primary"><span>新建</span></button>
                <button type="button" onClick="del();" class="btn"><span>删除</span></button>
            </div>
            <!--nowrap left-->
        </div>
        <table id="InvoiceList" url="{:U('index',array('ajax'=>1))}" pagination='true' idField='id' fitColumns='true' showGroup="true" scrollbarSize="0">
            <thead>
                <tr>
                    <th field="id" checkbox="true">选择</th>
                    <th field="title" width="20" sortable="true"><u>名称</u></th>
                    <th field="trade" width="5">订单</th>
                    <th field="num" width="5" sortable="true"><u>数量</u></th>
                    <th field="price" width="10" sortable="true"><u>成本(元)</u></th>
                    <th field="memo" width="20" formatter="moredesc">说明</th>
                    <th field="created" width="20" sortable="true"><u>创建时间</u></th>
                    <th field="option" width="25" formatter="resoptiongetlink">操作</th>
                </tr>
            </thead>
        </table>
        <div id="moredesc"></div>
        <div id="listfoot" class="toolbg toolbgline toolheight nowrap cl"></div>
    </div>
    <div id="imp_show" class="mainer hide"></div>
</div>
<!--container end-->
<script type="text/javascript">
    var _gridtable=$('#InvoiceList'); 
    var _fields=new Array("id","title","trade","num","price","desc","created");
    var _queryParams={field:_fields.join(","),table:"",where:" 1=1 "};
    //查看页上一份下一份的参数数组条件
    var aViewCond = '';
    var msgbox = $("<div id='d'></div>");
    function resoptiongetlink(val,rec) {
        var html = '';
        html += "&nbsp;&nbsp;<a href='/Seller/Invoice/"+rec.id+"' target='_blank' class='xi2'>详情</a>";
		html += '&nbsp;&nbsp;<a href="javascript:;" onclick="useract(\'edit\','+rec.id+')" class="xi2">修改</a>';
		html += '&nbsp;&nbsp;<a href="{:U("Seller/Trade/table/")}" target="_blank" class="xi2">订单</a>';
		html += '&nbsp;&nbsp;<a href="{:U("Seller/Service/niffer/")}" target="_blank" class="xi2">售后</a>';
		html += '&nbsp;&nbsp;<a href="{:U("read")}/'+rec.id+'" target="_blank" class="xi2">打印</a>';
        return html;
    }
	
	function moredesc(val,rec){
        var desc = '';
        var html='';
        if(rec.desc!='') {
            html+="<div id='moredesc_"+rec.id+"_menu' class='tip tip_4 ct_info' style='display:none;'>";
            html+="<div class='tip_horn'></div>";
            html+="<div class='rm_content' style='padding:5px 10px 10px 10px;'><span class='xc1'>说明:</span>";
            html+="<div class='tip_c'></div></div></div>";	
            $('#moredesc').append(html);
            $('#moredesc_'+rec.id+'_menu .tip_c').html(val);
            desc += "<span style='display:block;' id='moredesc_"+ rec.id +"' onmouseover=\"showMenu({'ctrlid':this.id, 'pos':'12!'});\">"+val+"</span>";
        }
        return desc;
    }
	
    //双击数据行响应事件
    function _onDblClickRow(rowIndex,rowData){
        //window.open("/Seller/Invoice/"+rowData.id+"");
		return;
    }

    $(document).ready(function(){
        _gridtable.datagrid({
            sortName: 'id',
            sortOrder: 'desc',
            striped: true,
            onHeaderContextMenu: function(e, field){e.preventDefault();if (!$('#tmenu').length){createColumnMenu($(this));}$('#tmenu').menu('show', {left:e.pageX,top:e.pageY});},
            onClickRow:function(rowIndex,rowData){_gridtable.datagrid('unselectRow',rowIndex)},
            onDblClickRow: _onDblClickRow
                    });
    });
	
    //zyb 输入搜素内容后，按回车键相应事件
    function fnBeginSearch(d){
        if(d.keyCode==13){
            if (trim( $("#searchinput").val() ) == "") {
                return ;
            }else{
                fnSearchSubmit();
            }
        } 
    }

    /*zyb
     * 搜素提交处理
     */
    function fnSearchSubmit(){
        if (trim( $("#searchinput").val() ) == "") {
            return ;
        }else{
            _gridtable.datagrid({
                queryParams:{
                    keyword : $("#searchinput").val()
                }
            });
        }

    }

    function del() {
            var selectid = _gridtable.datagrid('getSelections');
            var nums = selectid.length;
            var delid = '';        
            for(var i=0;i<nums;i++) {
                    delid += selectid[i].id+',';
            }
            if(nums > 0) {
                $.messager.confirm('确认删除', '注意！这会将下属的订单一并删除！',function(bFlag){
                    if(bFlag){ //判断是否确定删除选择的数据
                        $.post("{:U('del')}", {delid:delid}, function(data) {
                        	if(data.status) {
                        		$('body').iTips({content:'删除成功！', css:'success'});
                        		_gridtable.datagrid('reload');
                        	} else {
                        		$('body').iTips({content:data.info, css:'error'});
                        	}
                        },'json');
                    }
                });
            } else {
                        $('body').iTips({content:'您没有选择任何一项', css:'warning'});
            }
    }

    /**
    *导出
    */
    function spl_export_info() {
        exportStart({
            sendurl:'/office.php?mod=supplies&do=info&act=export',
            params:_gridtable.datagrid('getQueryParams'),
            datasize:{
                    'current_category':'当前分类'
            }
        });
    }
	
	/**
    *用户操作
    */
	function useract(act,id){
        switch(act){
            case 'add':
            case 'edit':
                var lang,hrefurl;
                if(act=='edit') {
					hrefurl = '{:U('edit')}/id/'+id;
					lang = '编辑配货单';      
                } else {
					hrefurl = '{:U('edit')}';
					lang = '新建配货单';  
                }
                msgbox.iDialog({
                    title:lang,
                    href:hrefurl,
                    width:400,
                    height:'auto',
                    submit:function(){
					$('#InvoiceForm').form('submit',{
						url:'{:U('edit', array('ajax'=>1))}',
						success:function(data){
							var s = jQuery.parseJSON(data);	
							if (s.status) {
								$("body").iTips({content:s.info,css:'success'});
								_gridtable.datagrid('reload');
								msgbox.dialog('close');
							}else{
								$("body").iTips({content:s.info,css:'error'});
							}
						}
					});
					return false;
				}
                }); 
                break;
        }
    }
</script>
<mc:tpl file="Public/footer" />