<table class="table table-bordered table-subfield">
	<tbody>
    	<tr>
        	<th>创建时间：</th>
            <td>{$trade['created']}</td>
            <th>修改时间：</th>
            <td>{$trade['modified']}</td>
            <th>支付时间：</th>
            <td>{$trade['pay_time']}</td>
    	</tr>
    	<tr>
        	<th>订单价格：</th>
            <td>{$trade['payment']} 元</td>
            <th>邮费：</th>
            <td>{$trade['post_fee']} 元</td>
            <th>配货方式：</th>
            <td>{:getpost($trade['shipping_type'])}</td>
    	</tr>
    	<tr>
        	<th>会员：</th>
            <td>{$trade['buyer_nick']}</td>
            <th>收件人：</th>
            <td>{$trade['receiver_name']}</td>
            <th>地区：</th>
            <td>{$trade['receiver_state']}</td>
    	</tr>
    	<tr>
        	<th>商品：</th>
            <td></td>
            <th>货源：</th>
            <td></td>
            <th>库存：</th>
            <td></td>
    	</tr>
	</tbody>
</table>