<mc:tpl file="Public/windows_header" />
<script language="javascript" type="text/javascript" src="static/js/jquery.masonry.min.js"></script>
<style type="text/css">
.pad_10 {
	width: 800px;
	margin: 10px;
	padding: 10px
}

.desc {
	margin: 10px 0px 10px 20px;
}

.desc td {
	height: 20px;
}

.shops {
	padding: 5px;
}

.shop {
	margin: 5px;
	padding: 5px;
	float: left;
	border: 1px solid #000;
	width: 215px;
}

.item {
	margin: 3px 0px 5px 0px;
}

.skus {
	margin: 2px 0px 0px 8px;
}

.sku {
	margin-bottom: 2px;
}

.prop,.num {
	margin-right: 10px;
}

.title,.model,.num {
	font-weight: bold;
}
</style>
<div class="pad_10">
	<table class="desc">
		<caption> <strong>{$info['title']}</strong> </caption>
		<tr>
			<td>总量:</td>
			<td width="50"><strong>{$info['num']}</strong> 件</td>
			<td>总价:</td>
			<td width="80"><strong>{$info['price']}</strong> 元</td>
			<td>改标:</td>
			<td width="50">&nbsp;</td>
			<td>快递:</td>
			<td width="50">&nbsp;</td>
			<td>配货:</td>
			<td width="50">&nbsp;</td>
			<td>实付:</td>
			<td width="50">&nbsp;</td>
			<td>打印:</td>
			<td colspan="3">{:date('Y-m-d H:i:s')}</td>
		</tr>
	</table>

	<div class="shops" id="shops">
    <volist name="items" id="item">
    	<div class="shop">
        	<span class="location">{$item['location']}</span>
            <span class="title">{$item['title']}</span>
            <ul class="items">
            <volist name="item['outer_id']" id="outer_id">
            	<li class="item"><span class="model">{$outer_id['model']}</span>-<span class="discount">{$outer_id['discount']}</span>-<span class="outer_id">{$i}</span>-{$outer_id['price']}-{$outer_id['num']}
                	<ul class="skus">
                    <volist name="outer_id['sku_id']" id="v">
                    	<li class="sku"><span class="prop">{:split_prop($v['properties'])}</span><span class="num">* {$v['num']}</span></li>
                    </volist>
                	</ul>
            	</li>
            </volist>
            </ul>
    	</div>
    </volist>
    </div>
</div>
<script type="text/javascript">
$(function(){
  $('#shops').masonry({
    // options
    itemSelector : '.shop',
    columnWidth : 250
  });
});
</script>
</body>
</html>