<div class="mbm">
    <table class="tbl2">
        <tr>
            <th style="width: 15%">订单编号</th>
            <td><strong class="xi1 z comment_thema">{$tid}</strong></td>
            <th style="width: 15%">订单状态</th>
            <td><strong class="xi1 z comment_thema">{:TradeStatus($trade['status'])}</strong></td>
        </tr>
        <tr>
            <th>买家留言</th>
            <td><strong class="xi1 z comment_thema">{$trade['buyer_message']}</strong></td>
            <th>卖家留言</th>
            <td><strong class="xi1 z comment_thema">{$trade['seller_memo']}</strong></td>
        </tr>
    </table>
</div>
<div class="ct-extra mbm">
    <h2 class="sub-title"><strong class="z comment_thema">订单销售属性</strong></h2>
    <form name="TradeForm" id="TradeForm" method="post">
    <table class="tbl2">
    <volist name="orders" id="order">
    <php>$oid=$key;</php>
    <volist name="order" key="j" id="prop">
        <tr id="tr_{$j}">
            <th style="width:9%">
            	<span class="badge">{$i}</span><br />
                {$prop['outer_iid']}<br />
                <a title="关闭" class="i-close-circle mr10" href="javascript:;" onclick="del(this)"></a>
            </th>
            <td>
            	<input type="hidden" name="orders[{$oid}][{$j}][num_iid]" value="{$prop['num_iid']}">
                <table>
                	<tr>
                        <th style="width: 10%">订单</th>
                        <td><strong class="xi1 z comment_thema">{$prop['properties_name']}</strong></td>
                    </tr>
                    <volist name="prop['props']" key="k" id="v">
                    <tr>
                    	<th>{$key}</th>
                        <td>{:Form::radio($v, "orders[".$oid."][".$j."][props][".$k."]", $prop['properties'][$k-1])}</td>
                    </tr>
                    </volist>
                </table>
            </td>
        </tr>
    </volist>
    </volist>
    </table>
    </form>
</div>
<script type="text/javascript"> 
<!--
function del(D){
 $(D).parents("tr").remove();
}
//-->
</script>
