<mc:tpl file="Public/header" />
<mc:tpl file="Public/navmenu" />
<!--container begin-->
<div class="ct2_a wp cl" id="container">
    <!--side bar begin-->
    <div class="sidebar">
        <div id="art_query" class="scbox mtw">
        <p class="sckeyword xc1">订单搜索</p>
        <form action="{:U('index', array('role'=>'buyer', 'rate_type'=>'get'))}" method="get">
            <div class="form-field">
                                <div class="field-input btn-group" data-toggle="buttons-radio">
                                    <button class="btn <eq name="type" value="0">active</eq>" type="button" act="on" onclick="fnTriggerRadio(this)">
                                        <span><label><input type="radio" class="hide" value='0' name='type' id="comment_on" <eq name="type" value="0">checked="checked"</eq>>订单</label></span>
                                    </button>
                                    <button class="btn <eq name="type" value="1">active</eq>" type="button" act="off"  onclick="fnTriggerRadio(this)">
                                        <span><label><input type="radio" class="hide" value='1' name='type' id="comment_off" <eq name="type" value="1">checked="checked"</eq>>商品</label></span>
                                    </button>
                                </div> 
                            </div>
    
            
            <input class="mbm" type="text" size="23" value="{$keyword}" id="keyword" name="keyword" placeholder="输入编号"><br/>
            <p class="mbm xc1 datebox">
                <label for="start_date">从</label>
                <input type="text" id="start_date" name="start_date" size="15" maxlength="15" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd', theme:'ibos'});"  value="" class="Wdate"></p>
            <p class="mbm xc1 datebox">
                <label for="end_date">至</label>
                <input type="text" id="end_date" name="end_date" size="15" maxlength="15" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd', theme:'ibos'});" value="" class="Wdate"></p>
            <button class="btn btn-primary" type="submit"><span>查询</span></button>
            
        </form>
        </div>
    </div>
    <!--side bar end-->
    <!--mainer begin-->
    <div id="mainer" class="mainer cl">
    	<div class="mainer-title">{$invoice['title']}</div>
        <div class="tabs-wrap">
            <ul class="nav nav-tabs mbm">
                <li <empty name="result">class="active"</empty>><a href="{:U('index', array('role'=>$role, 'rate_type'=>$rate_type))}">全部</a></li>
                <li <eq name="result" value="good">class="active"</eq>><a href="{:U('index', array('role'=>$role, 'rate_type'=>$rate_type, 'result'=>'good'))}">订单</a></li>
                <li <eq name="result" value="neutral">class="active"</eq>><a href="{:U('index', array('role'=>$role, 'rate_type'=>$rate_type, 'result'=>'neutral'))}">售后</a></li>
                <li <eq name="result" value="bad">class="active"</eq>><a href="{:U('index', array('role'=>$role, 'rate_type'=>$rate_type, 'result'=>'bad'))}">人工</a></li>
                <li <eq name="result" value="bad">class="active"</eq>><a href="{:U('index', array('role'=>$role, 'rate_type'=>$rate_type, 'result'=>'bad'))}">到付</a></li>
                <li <eq name="result" value="bad">class="active"</eq>><a href="{:U('index', array('role'=>$role, 'rate_type'=>$rate_type, 'result'=>'bad'))}">分销</a></li>
            </ul>
        </div>
        <div id="listhead" class="well well-mini mbm">
        	<!--搜索栏输入框-->
            <div class="mn-scbox input-append">
            	<input type="text" name="" id="searchinput" class="w200 xc1" onkeydown="fnBeginSearch(event);"
                	value="搜索配货单名称、说明…" onfocus="if(this.value=='搜索配货单名称、说明…'){this.value=''};"
                    onblur="if(this.value==''){this.value='搜索配货单名称、说明…'};" placeholder="搜索配货单名称、说明…"/>
            	<button class="btn add-on" onclick="fnSearchSubmit();" id="sc_btn"><i class="i_g i-sc-enter"></i></button>
            	<span onclick="" id="searchIcon" class="i_g i-sc-search cur1"></span> 
            </div>
            <!--搜索栏输入框end-->
            <div class="nowrap left">
            	<a href="{:U("Seller/Trade/table/")}" target="_blank" class="btn btn-primary"> 导入订单 </a>
                <a href="{:U("Seller/Service/niffer/")}" target="_blank" class="btn btn-primary"> 导入售后 </a>
                <button type="button" onClick="del();" class="btn"><span>手动添加</span></button>
                <a href="{:U("read")}/{$invoice['id']}" target="_blank" class="btn btn-primary"> 打印 </a>
                <button type="button" onClick="del();" class="btn"><span>入库</span></button>
            </div>
            <!--nowrap left-->
        </div>

        <div id="listbody" class="posr">
            <form id="moderate" autocomplete="off">
            <table class="table" >
            	<thead>
                	<tr>
                    	<th width="50">操作</th>
                        <th width="130">订单</th>
                        <th width="310">内容</th>
                    	<th width="50">状态</th>
                        <th>备注</th>
                	</tr>
            	</thead>
            	<tbody id="doc_content">
                <volist name="infos" id="info">
                	<tr id="trade_{$info['tid']}" class='dyl-item'>
                    	<td class="span1">
                    		<input onclick="tmodclick(this);" id="moderate_{$info['tid']}" type="checkbox" value="{$info['tid']}" class="vm" />
                            <img src="/static/image/taobao/flag_{$info['seller_flag']}.png" /><br />
                        	<a id="diary_ctrl_{$info['tid']}" href="javascript:;" onclick="fnUnfoldDiary(this.id, 'fullmode_{$info['tid']}');fullmode({$info['tid']})" class="unfold-all"><i class="icon-chevron-down"></i>&nbsp;详细
                    </a>
                    	</td>
                    	<td class="span1">
                            <span class="xs2">{$info['tid']}</span><br />
                            <span class="art-addtime">[{$info['pay_time']}]</span>
                    	</td>
                    	<td>
                        <volist name="info['orders']" id="order" key="k">
                        	<span class="xs2">{$order['outer_id']}</span>
                        	<span class="unfold-all">{$order['properties_name']}</span>
                        	<i class="art-view-num">* {$order['num']}</i>
                        	<br />
                        </volist>
                    	</td>
                    	<td>
                    		{$info['status']}
                            <eq name="info['type']" value="cod"><img src="/static/image/taobao/cod-icon.png"></eq>
                            <eq name="info['type']" value="fenxiao"><img src="/static/image/taobao/fenxiao.png"></eq>
                            <br />
                            <span class="art-addtime">{:invoice_status($info['isorder'])}</span>
                    	</td>
                        <td>
                    		<eq name="info['shipping_type']" value="ems">EMS<br /></eq>
							<i class="art-view-num">{$info['buyer_message']}</i><br />
							<i class="art-view-num">{$info['seller_memo']}</i>
                    	</td>
                	</tr>
                    <!--fullmode starts-->
                	<tr class="fullmode" id='fullmode_{$info['tid']}' style="overflow: visible;display: none;">
                    	<td colspan="5"  style="clear:both;">
                            <div class="ml20 posr">
                                <div class='full_top'></div>
                                <div class='full_content' id='fullcontent_{$info['tid']}'>empty</div>
                                <div class='full_bottom'><a href="javascript:fullmode({$info['tid']});" class="fold-all"><i class="icon-chevron-up"></i>收起全文</a></div>
                            </div>
                        </td>
                	</tr>
                    <!--fullmode ends-->
                </volist>
            	</tbody>     
            </table> 
            <div id="mdly" style="display: none;">
                <input type="hidden" name="optgroup" />
                <input type="hidden" name="operation" />
                <a class="cp" href="javascript:;" title="隐藏" onclick="_id('mdly').className='cpd'"><i class="icon-chevron-right"></i>&nbsp;隐藏</a>
                <label>
                    <input type="checkbox" name="chkall" class="pc" onclick="if(!(_id('mdct').innerHTML = modclickcount = checkalldiray(this))) {_id('mdly').style.display = 'none';}" />全选
                    <span class="pipe">|</span>
                </label>
                <h6><span>选中</span><strong onclick="_id('mdly').className='';" id="mdct"></strong><span>条: </span></h6>
                <p>
                    <button type="button" class="btn" href="javascript:;" onclick="moddiray('del');return false;"><span><i class="icon-trash"></i>&nbsp;删除</span></button>
                    <span id="isedit">
                        <button type="button" class="btn" href="javascript:;" onclick="moddiray('edit');return false;"><span><i class="icon-pencil"></i>&nbsp;编辑</span></button>
                    </span>
                    <span id="noedit">
                        <button type="button" class="btn disabled" href="javascript:;" ><span><i class="icon-pencil"></i>&nbsp;编辑</span></button>
                    </span>
                </p>
            </div>
            </form>
        </div>
        <div id="listfoot" class="well well-mini mtw">
        	<div class="y">
            	<div class="pg">{$page}</a>
                </div>
        	</div>
        </div>
        
    </div>
    <!--mainer end-->
</div>
<!--container end-->
<script type="text/javascript">
    var msgbox = $("<div id='d'></div>");
    /* 弹出全文框   */
    var fullarr=new Array();
    function fullmode(did) {
        $('#fullmode_'+did).stop().slideToggle(200);
        //如果不存在缓存数据,则读取
        if(typeof(fullarr[did])=="undefined"||fullarr[did]==null){		
            _body=$('#fullcontent_'+did);
            _body.hide().after("<i><img align='center' src='static/image/icon/loading.gif'></i>");		
            var url = "{:U('more')}/id/"+did;
            $.post(url,function(data){
                fullarr[did]=data;
                _body.html(data).delay(200).slideDown().next("i").delay(50).slideUp()
            });
        }
		
    }
    function fnUnfoldDiary(cid, tid){
        var oCobj = $("#" + cid), oTobj = $("#" + tid);
        if(oTobj.css("display") == "none"){
            oCobj.find("i").attr("class","icon-chevron-up")
        }else{
            oCobj.find("i").attr("class","icon-chevron-down")
        }
    }
	
	//新增快捷操作菜单 @dlh
    var modclickcount = 0; //全局，记录已选日志条数
    /*
     *记录已选日志条数，并显示快捷操作菜单
     *obj obj 选择框的对象
     */
    function tmodclick(obj) {
        if(obj.checked) {
            modclickcount++;
        } else {
            modclickcount--;
        }
        _id('mdct').innerHTML = modclickcount;
        if(modclickcount > 0) {
            var top_offset = obj.offsetTop;
			while((obj = obj.offsetParent).id != 'listbody') {
				top_offset += obj.offsetTop;
			}
            _id('mdly').style.top = top_offset - 7 + 'px';
            _id('mdly').style.display = 'block';
        } else {
            _id('mdly').style.display = 'none';
        }
        if(!_id('isedit')){
            return false;
        }else if(modclickcount==1){
            _id('isedit').style.display = '';
            _id('noedit').style.display = 'none';
        }else{
            _id('isedit').style.display = 'none';
            _id('noedit').style.display = '';
        }
    }

    /*
     *快捷操作
     *act del、edit
     */
    function moddiray(act){
        var diaids = '';
        var darr = $("#listbody .dyl-item :checked");
        for(i=0;i<darr.length;i++){
            if(darr.length == 1){
                diaids += darr[i].value;
            }else{
                diaids += ','+darr[i].value;
            }
        }
        switch(act){
            case 'del':
                $.messager.confirm('确认删除', '订单记录删除便不能恢复，确认要删除？',function(bFlag){
                    if(bFlag){ //判断是否确定删除选择的数据
                        $.post('{:U('tdel')}',{
                            delid:diaids,
                            id:{:$_GET['id']}
                        },function(data){
                            if(data.status){
								$("body").iTips({content:data.info,css:'success'});	
                                for(i=0;i<darr.length;i++){ //遍历被删除的日志
                                    $('#trade_'+darr[i].value).hide(1000); //动态隐藏
                                    $('#trade_'+darr[i].value).empty(); //清空 也可以取消该日志的选择，如果只是隐藏，函数会继续操作被删除的日志
                                }
                                $('#mdly').hide(); //隐藏快捷操作菜单
                                modclickcount = 0; //重置
                            }else{
								$("body").iTips({content:data.info,css:'warning'});
							}
                        },'json');
                    }
                });
                break;
            case 'edit':
				var url = '{:U('tedit')}/did/{$invoice['id']}/tid/'+diaids;
                msgbox.iDialog({
                    title:'编辑记录：'+diaids,
					href:url,
                    width:500,
                    height:'auto',
                    submit:function(){
                        $('#TradeForm').form('submit',{
                            url:url+'/ajax/1',success:function(data){
                                var s = jQuery.parseJSON(data);	
                                if (s.status) {
                                    $("body").iTips({content:s.info,css:'success'});
                                    window.location.reload();
                                }else{
                                    $("body").iTips({content:s.info,css:'error'});
                                }	
                            }
                        });
                        return false;
                    }
                });
                break;
        }
    }

    /*
     *全选日志
     *element 全选按钮对象
     */
    function checkalldiray(element){
        if(element.checked == true){
            $("#listbody .dyl-item [type=checkbox]").attr('checked',true);
            $('#isedit').hide();
            $('#noedit').show();
        }else{
            $("#listbody .dyl-item [type=checkbox]").attr('checked',false);
        }
        return $("#listbody .dyl-item :checked").length;
    }
</script>
<mc:tpl file="Public/footer" />
