<form name="CreditForm" id="CreditForm" method="post">
    <div class="mbm">
        <table class="table table-bordered table-subfield">
            <tr>
                <th>类别</th>
                <td colspan="3">{:Form::radio(array("互刷"=>"互刷","朋友"=>"朋友","佣金"=>"佣金","代刷"=>"代刷","其他"=>"其他"), 'type', $info['type'])}</td>
            </tr>
            <tr>
                <th>快递</th>
                <td>{:Form::radio(array('0'=>'假运单','1'=>'发空包'), 'is_send', $info['is_send'])}</td>
                <th>结算</th>
                <td>{:Form::radio(array('0'=>'未结算','1'=>'已结算'), 'settled', $info['settled'])}</td>
            </tr>
            <tr>
                <th>联系人</th>
                <td><input type="text" class="span6" name="contact" id="contact" value="{$info['contact']}" style="width:120px;" /></td>
                <th>联系QQ</th>
                <td><input type="text" class="span6" name="qq" id="qq" value="{$info['qq']}" style="width:120px;" /></td>
            </tr>
            <tr>
                <th>操作人</th>
                <td><input type="text" class="span6" name="user" id="user" value="{$info['user']}" style="width:120px;" /></td>
                <th>备注</th>
                <td>
                    <textarea name="memo" id="memo" style="height:40px; width:150px;">{$info['memo']}</textarea>
                    <input type="hidden" name="tid" value="{$info['tid']}">
                    <input type="hidden" name="created" value="{$info['created']}">
                </td>
            </tr>
        </table>
    </div>
</form>