<table class="table table-bordered table-subfield">
	<tbody>
    	<tr>
        	<th>联系人：</th>
            <td>{$trade['contact']}</td>
            <th>联系QQ：</th>
            <td>{$trade['qq']}</td>
            <th>修改时间：</th>
            <td>{:format_date($trade['modified'])}</td>
    	</tr>
    	<tr>
        	<th>创建时间：</th>
            <td>{:format_date($trade['created'])}</td>
            <th>支付时间：</th>
            <td>{:format_date($trade['pay_time'])}</td>
            <th>确认时间：</th>
            <td>{:format_date($trade['consign_time'])}</td>
    	</tr>
    	<tr>
        	<th>商品：</th>
            <td></td>
            <th>货源：</th>
            <td></td>
            <th>库存：</th>
            <td></td>
    	</tr>
	</tbody>
</table>