<mc:tpl file="Public/header" />
<mc:tpl file="Public/navmenu" />
<link rel="stylesheet" type="text/css" href="{:C('CSS_PATH')}goods.css" />
<!--container begin-->
<div class="wp cl" id="container">
    <!--mainer begin-->
    <div id="mainer" class="mainer cl">
    	<div class="tabs-wrap">
            <ul class="nav nav-tabs mbm">
                <li <empty name="result">class="active"</empty>><a href="{:U('index', array('role'=>$role, 'rate_type'=>$rate_type))}">30天热卖宝贝</a></li>
                <li <eq name="result" value="good">class="active"</eq>><a href="{:U('index', array('role'=>$role, 'rate_type'=>$rate_type, 'result'=>'good'))}">30天零销量宝贝</a></li>
                <li <eq name="result" value="neutral">class="active"</eq>><a href="{:U('index', array('role'=>$role, 'rate_type'=>$rate_type, 'result'=>'neutral'))}">中评</a></li>
                <li <eq name="result" value="bad">class="active"</eq>><a href="{:U('index', array('role'=>$role, 'rate_type'=>$rate_type, 'result'=>'bad'))}">差评</a></li>
            </ul>
        </div>
        <div id="listhead" class="well well-mini mbm">
        	<!--搜索栏输入框-->
            <div class="mn-scbox input-append">
            	<input type="text" name="" id="searchinput" class="w200 xc1" onkeydown="fnBeginSearch(event);"
                	value="搜索配货单名称、说明…" onfocus="if(this.value=='搜索配货单名称、说明…'){this.value=''};"
                    onblur="if(this.value==''){this.value='搜索配货单名称、说明…'};" placeholder="搜索配货单名称、说明…"/>
            	<button class="btn add-on" onclick="fnSearchSubmit();" id="sc_btn"><i class="i_g i-sc-enter"></i></button>
            	<span onclick="" id="searchIcon" class="i_g i-sc-search cur1"></span> 
            </div>
            <!--搜索栏输入框end-->
            <div class="nowrap left">
                <button type="button" onClick="useract('add');" class="btn btn-primary"><span>新建</span></button>
                <button type="button" onClick="spl_export_info();" class="btn"><span>导出</span></button>
                <button type="button" onClick="del();" class="btn"><span>删除</span></button>
            </div>
            <!--nowrap left-->
        </div>
        <div id="listbody" class="posr">
            <form id="moderate" autocomplete="off">
            <table class="table" >
            	<thead>
                	<tr>
                    	<th width="30" class="hm">选择</th>
                        <th width="120" class="hm">商家编码</th>
                        <th width="380" class="hm">宝贝名称</th>
                    	<th class="hm">淘宝库存</th>
                        <th class="hm">商家库存</th>
                        <th class="hm">采购价格</th>
                        <th class="hm">成本总价</th>
                	</tr>
            	</thead>
            	<tbody id="doc_content">
                <volist name="infos" id="info">
                	<tr id="item_{$info['num_iid']}" class='dyl-item'>
                    	<td class="hm"><input onclick="tmodclick(this);" id="moderate_{$shop['user_id']}" type="checkbox" value="{$shop['user_id']}" class="vm" /></td>
                    	<td><span class="xs2">{$info['outer_id']}</span></td>
                    	<td class="hm"><a href="http://shop{$shop['sid']}.taobao.com/" target="_blank" title="查看店铺首页">{$info['title']}</a></td>
                        <td class="hm"><i class="art-view-num">{$info['num']}</i></td>
                        <td class="hm"><i class="art-view-num">{$info['stock']}</i></td>
                        <td class="hm">&yen;<i class="art-view-num">{$info['cost']}</i></td>
                        <td class="hm">&yen;<i class="art-view-num">{$info['cost'] * $info['num']}</i></td>
                	</tr>
                </volist>
            	</tbody>    
            </table> 
            <div id="mdly" style="display: none;">
                <input type="hidden" name="optgroup" />
                <input type="hidden" name="operation" />
                <a class="cp" href="javascript:;" title="隐藏" onclick="_id('mdly').className='cpd'"><i class="icon-chevron-right"></i>&nbsp;隐藏</a>
                <label>
                    <input type="checkbox" name="chkall" class="pc" onclick="if(!(_id('mdct').innerHTML = modclickcount = checkalldiray(this))) {_id('mdly').style.display = 'none';}" />全选
                    <span class="pipe">|</span>
                </label>
                <h6><span>选中</span><strong onclick="_id('mdly').className='';" id="mdct"></strong><span>条: </span></h6>
                <p>
                    <button type="button" class="btn" href="javascript:;" onclick="moddiray('del');return false;"><span><i class="icon-trash"></i>&nbsp;下架</span></button>
                    <button type="button" class="btn" href="javascript:;" onclick="moddiray('del');return false;"><span><i class="icon-trash"></i>&nbsp;删除</span></button>
                    <span id="isedit">
                        <button type="button" class="btn" href="javascript:;" onclick="moddiray('edit');return false;"><span><i class="icon-pencil"></i>&nbsp;重新授权</span></button>
                    </span>
                    <span id="noedit">
                        <button type="button" class="btn disabled" href="javascript:;" ><span><i class="icon-pencil"></i>&nbsp;重新授权</span></button>
                    </span>
                </p>
            </div>
            </form>
        </div>

        <div id="listfoot" class="well well-mini mtw">
        	<div class="y">
            	<div class="pg">{$page}</a>
                </div>
        	</div>
        </div>
        
    </div>
    <!--mainer ends-->
</div>
<!--container end-->

<script src="{:C('JS_PATH')}jquery.jqzoom.js"></script>
<script src="{:C('JS_PATH')}jquery.jcarousel.js"></script>
<script src="{:C('JS_PATH')}jquery.masonry.js"></script>
<script type="text/javascript">
	var s = '#J_item_gallery';
            if($('#J_img_list', s)[0]){
                $('#J_img_list').jcarousel();
                $('#J_img_list li', s).live('mouseover', function(){
                    var self = $(this),
                        bimg = self.attr('data-url');
                    self.addClass('active').siblings().removeClass('active');
                    $('.J_item img', s).attr('src', bimg).attr('jqimg', bimg);
                });
                $('#J_img_zoom').imagesLoaded(function(){
                    if ($('#J_img_zoom img').width() >= 310) {
                        $('#J_img_zoom', s).jqueryzoom({xzoom:420, yzoom:420,offset:20});
                    }
                });
                
            }
</script>
<script type="text/javascript">
    var msgbox = $("<div id='d'></div>");
	
    //新增快捷操作菜单 @dlh
    var modclickcount = 0; //全局，记录已选日志条数
    /*
     *记录已选日志条数，并显示快捷操作菜单
     *obj obj 选择框的对象
     */
    function tmodclick(obj) {
        if(obj.checked) {
            modclickcount++;
        } else {
            modclickcount--;
        }
        _id('mdct').innerHTML = modclickcount;
        if(modclickcount > 0) {
            var top_offset = obj.offsetTop;
            _id('mdly').style.top = top_offset - 7 + 'px';
            _id('mdly').style.display = 'block';
        } else {
            _id('mdly').style.display = 'none';
        }
        if(!_id('isedit')){
            return false;
        }else if(modclickcount==1){
            _id('isedit').style.display = '';
            _id('noedit').style.display = 'none';
        }else{
            _id('isedit').style.display = 'none';
            _id('noedit').style.display = '';
        }
    }

    /*
     *快捷操作
     *act del、edit
     */
    function moddiray(act){
        var diaids = '';
        var darr = $("#listbody .dyl-item :checked");
        for(i=0;i<darr.length;i++){
            if(darr.length == 1){
                diaids += darr[i].value;
            }else{
                diaids += ','+darr[i].value;
            }
        }
        switch(act){
            case 'del':
				$.messager.confirm('确认删除', '供货商编码不能恢复，是否确认要删除？',function(bFlag){
					if(bFlag){ //判断是否确定删除选择的数据
						 $.post('{:U('adel')}',{delid:diaids},function(result){
							if(result.status){
								$("body").iTips({content:result.info,css:'success'});	
                                for(i=0;i<darr.length;i++){ //遍历被删除的日志
                                    $('#spare_'+darr[i].value).hide(1000); //动态隐藏
                                    $('#spare_'+darr[i].value).empty(); //清空 也可以取消该日志的选择，如果只是隐藏，函数会继续操作被删除的日志
                                }
                                $('#mdly').hide(); //隐藏快捷操作菜单
                                modclickcount = 0; //重置
                            }else{
                               $("body").iTips({content:result.info,css:'warning'});
                            }
                        },'json');
					}
				});
                break;
            case 'edit':
				var url = '{:U('aedit')}/iid/'+diaids;
				msgbox.iDialog({
					title:'编辑供货商编码',
					href:url,
					width:500,
					height:'auto',
					submit:function(){
						$('#AliasForm').form('submit',{
							url:url+'/ajax/1',
							success:function(data){
								var s = jQuery.parseJSON(data);	
								if (s.status) {
									$("body").iTips({content:s.info,css:'success'});
									window.location.reload();
								}else{
									$("body").iTips({content:s.info,css:'error'});
								}	
							}
						});
						return false;
					}
				});
                break;

        }
    }

    /*
     *全选日志
     *element 全选按钮对象
     */
    function checkalldiray(element){
        if(element.checked == true){
            $("#listbody .dyl-item [type=checkbox]").attr('checked',true);
            $('#isedit').hide();
            $('#noedit').show();
        }else{
            $("#listbody .dyl-item [type=checkbox]").attr('checked',false);
        }
        return $("#listbody .dyl-item :checked").length;
    }
</script>
<mc:tpl file="Public/footer" />