			<include file="Public:header" />
            <div class="itemtitle"><h3>摩卡网商 管理中心</h3></div>
            <div class="vague"></div></ul></div>
            <table class="tb tb2 ">
                <tr><th class="partition"><div><em>安全提示</em></div></th></tr>
                <tr>
                    <td class="tipsblock">
                        <ul>
                            <li>请注意保管好密码；</li>
                            <li>在公共场合，请注意及时退出系统；</li>
                            <volist name="message" id="val">
                            <li class="list_{$val.type}">{$val.content}</li>
                            </volist>
                        </ul>
                    </td>
                </tr>
            </table>
            <table class="tb tb2 nobdb fixpadding">
                <tr><th colspan="15" class="partition"><div><em>在线成员</em></div></th></tr>
                <tr>
                    <td><a href="home.php?mod=space&uid=1" title="2013-1-6 16:37" target="_blank">admin</a>&nbsp;&nbsp;&nbsp;</td>
                </tr>
            </table>
            <table class="tb tb2 fixpadding">
                <tr><th colspan="15" class="partition"><div><em>系统信息</em></div></th></tr>
                <tr>
                    <td class="td24 lineheight">程序版本</td>
                    <td class="lineheight smallfont">{$system_info.mocha_version}</td>
                    <td class="td24 lineheight">服务器域名/IP</td>
                    <td class="lineheight smallfont">{$system_info.server_domain}</td>
                </tr>
                <tr>
                    <td class="td24 lineheight">服务器操作系统：</td>
                    <td class="lineheight smallfont">{$system_info.server_os}</td>
                    <td class="td24 lineheight">Web 服务器：</td>
                    <td class="lineheight smallfont">{$system_info.web_server}</td>
                </tr>
                <tr>
                    <td class="td24 lineheight">PHP 版本：</td>
                    <td class="lineheight smallfont">{$system_info.php_version}</td>
                    <td class="td24 lineheight">MySQL 版本：</td>
                    <td class="lineheight smallfont">{$system_info.mysql_version}</td>
                </tr>
                <tr>
                    <td class="td24 lineheight">文件上传限制：</td>
                    <td class="lineheight smallfont">{$system_info.upload_max_filesize}</td>
                    <td class="td24 lineheight">执行时间限制：</td>
                    <td class="lineheight smallfont">{$system_info.max_execution_time}</td>
                </tr>
                <tr>
                    <td class="td24 lineheight">安全模式：</td>
                    <td class="lineheight smallfont">{$system_info.safe_mode}</td>
                    <td class="td24 lineheight">Zlib 支持：</td>
                    <td class="lineheight smallfont">{$system_info.zlib}</td>
                </tr>
                <tr>
                    <td class="td24 lineheight">CURL 支持：</td>
                    <td class="lineheight smallfont">{$system_info.curl}</td>
                    <td class="td24 lineheight">时区设置：</td>
                    <td class="lineheight smallfont">{$system_info.timezone}</td>
                </tr>
            </table>
        </div>
	</div>
</body>
</html>