<include file="Public:header" />
<script type="text/JavaScript">
	parent.document.title = '博思协同办公 管理中心 - 群组 - 审核群组';
	if(parent._id('admincpnav')) parent._id('admincpnav').innerHTML='<em class="homeicon"></em><em class="rightarr"></em>群组&nbsp;<em class="rightarr"></em>&nbsp;shhow&nbsp;&nbsp;<a target="main" title="添加到常用操作" href="admin.php?action=misc&operation=custommenu&do=add&title=%E5%AE%A1%E6%A0%B8%E7%BE%A4%E7%BB%84&url=action%253Dgroup%2526operation%253Dmod">[+]</a>';
</script>
<div class="itemtitle">	<h3>show</h3></div>
<div class="vague"></div>
</ul>
</div>
<form name="cpform" method="post" autocomplete="off" action="admin.php?action=group&operation=mod" id="cpform" >
<input type="hidden" name="formhash" value="d41deb00" /><input type="hidden" id="formscrolltop" name="scrolltop" value="" /><input type="hidden" name="anchor" value="" />
<table class="tb tb2 ">
<tr><th colspan="15" class="partition"><div><em>待审核的群组</em></div></th></tr>
<tr class="header">
	<th></th>
    <th>群组名称</th>
    <th>群组分类</th>
    <th>创建者</th>
    <th>创建时间</th>
</tr>
<tr>
	<td colspan="15">
    	<div class="fixsel" >
        	<input type="checkbox" name="chkall" id="chkall" class="checkbox" onclick="checkAll('prefix', this.form, 'fidarray')" />
            <label for="chkall">全选</label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="btn" name="validate" value="通过" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="btn" name="delsubmit" value="删除" onclick="return confirm('确认要删除选中的群组吗？')" />
    	</div>
	</td>
</tr>
</table>
</form>
</div>
</body>
</html>