<mc:tpl file="Public/header" />
<mc:tpl file="Public/navmenu" />
<!--container begin-->
<div class="ct2_a wp cl" id="container">
    <!--side bar begin-->
    <div class="sidebar">
        <div id="art_query" class="scbox mtw">
        <p class="sckeyword xc1">订单搜索</p>
        <form action="{:U('index', array('role'=>'buyer', 'rate_type'=>'get'))}" method="get">
            <div class="form-field">
                                <div class="field-input btn-group" data-toggle="buttons-radio">
                                    <button class="btn <eq name="type" value="0">active</eq>" type="button" act="on" onclick="fnTriggerRadio(this)">
                                        <span><label><input type="radio" class="hide" value='0' name='type' id="comment_on" <eq name="type" value="0">checked="checked"</eq>>订单</label></span>
                                    </button>
                                    <button class="btn <eq name="type" value="1">active</eq>" type="button" act="off"  onclick="fnTriggerRadio(this)">
                                        <span><label><input type="radio" class="hide" value='1' name='type' id="comment_off" <eq name="type" value="1">checked="checked"</eq>>商品</label></span>
                                    </button>
                                </div> 
                            </div>
    
            
            <input class="mbm" type="text" size="23" value="{$keyword}" id="keyword" name="keyword" placeholder="输入编号"><br/>
            <p class="mbm xc1 datebox">
                <label for="start_date">从</label>
                <input type="text" id="start_date" name="start_date" size="15" maxlength="15" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd', theme:'ibos'});"  value="" class="Wdate"></p>
            <p class="mbm xc1 datebox">
                <label for="end_date">至</label>
                <input type="text" id="end_date" name="end_date" size="15" maxlength="15" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd', theme:'ibos'});" value="" class="Wdate"></p>
            <button class="btn btn-primary" type="submit"><span>查询</span></button>
            
        </form>
        </div>
    </div>
    <!--side bar end-->
    <!--mainer begin-->
    <div id="mainer" class="mainer cl">
    	<div class="mainer-title">数据更新</div>
        <div id="listbody" class="mbm">
            <form id="moderate" autocomplete="off">
            <table class="table">
            	<thead>
                	<tr>
                    	<th width="45">数据名称</th>
                        <th width="125">说明</th>
                        <th width="40">操作</th>
                        <th width="55">最近更新</th>
                	</tr>
            	</thead>
            	<tbody id="doc_content">
                	<tr style="height:50px;">
                    	<th>淘宝类目</th>
                        <td>更新淘宝的类目，会自动重新建议，不用反复更新</td>
                        <th><button type="button" class="btn btn-primary" href="javascript:;" onclick="syn('{:U('synCats')}');">更新系统类目</span></button></th>
                        <td>2012-12-18 19:41:21</td>
                    </tr>
                    <tr style="height:50px;">
                    	<th>修复类目层级</th>
                        <td>更新淘宝类目缓存，平时不用更新，更新淘宝类目会自己更新缓存，如果出错再更新</td>
                        <th><button type="button" class="btn btn-primary" href="javascript:;" onclick="syn('{:U('repair')}');">修复类目层级</span></button></th>
                        <td>2012-12-18 19:41:21</td>
                    </tr>
                    <tr style="height:50px;">
                    	<th>淘宝类目属性</th>
                        <td>更新淘宝的类目属性，会自动重新建议，不用反复更新</td>
                        <th><button type="button" class="btn btn-primary" href="javascript:;" onclick="syn('{:U('synProps')}');">更新类目属性</span></button></th>
                        <td>2012-12-18 19:41:21</td>
                    </tr>
                    <tr style="height:50px;">
                    	<th>店铺前台分类</th>
                        <td>更新自己店铺的前台类目，会自动重新建议，不用反复更新</td>
                        <th><button type="button" class="btn btn-primary" href="javascript:;" onclick="syn('{:U('synSeller')}');">更新前台分类</span></button></th>
                        <td>2012-12-18 19:41:21</td>
                    </tr>
                    <tr style="height:50px;">
                    	<th>前台分类层级</th>
                        <td>更新自己店铺的前台类目，会自动重新建议，不用反复更新</td>
                        <th><button type="button" class="btn btn-primary" href="javascript:;" onclick="syn('{:U('repair')}/nick/{$nick}');">更新分类层级</span></button></th>
                        <td>2012-12-18 19:41:21</td>
                    </tr>
            	</tbody>     
            </table> 
            </form>
        </div>
    </div>
    <!--mainer end-->
</div>
<!--container end-->
<script type="text/javascript">
	var msgbox = $("<div id='d'></div>");
	
    function syn(url){
		var page = arguments[1] ? arguments[1] : 1; 
		if(page === 1) $("body").iTips({content:'开始更新数据，请耐心等待',css:'success'});
        $.post(url, {page:page}, function(result){
            if(result.status == 1){
                msgbox.iDialog({
					title: result.info,
					html: result.data,
					width:250,
					height:'auto',
					nobtns:true,
					shadow:true
				});
                page++;
                syn(url,page);
            }else{
				msgbox.dialog('close');
				$("body").iTips({content:result.info,css:'success'});
            }
        },'json');
    }
</script>
<mc:tpl file="Public/footer" />