<div id="listhead" class="well well-mini mbm">
    <p>&nbsp;</p>
    <p>正在更新第 <span class="badge">{$page}</span> 批，请稍候……</p><br />
    <p>共 <span class="badge">{$pagenum}</span> 批，<span class="badge">{$total}</span>个记录……</p>
    <p>&nbsp;</p>
</div>